In [ ]:

# Install a networkx package in the current Jupyter kernel
import sys

!{sys.executable} -m pip install networkx --upgrade --quiet

In [1]:

%run ../../load_magic/storage.py
%run ../../load_magic/dataframes.py
%run ../../load_magic/lists.py
from bs4 import BeautifulSoup as bs
import networkx as nx
import re
import urllib.request
%pprint
%who

DATA_FOLDER: ../data/
SAVES_FOLDER: ../saves/
Pretty printing has been turned OFF
DATA_CSV_FOLDER	 DATA_FOLDER	 ENCODING_TYPE	 SAVES_CSV_FOLDER	 SAVES_FOLDER	 SAVES_PICKLE_FOLDER	 SequenceMatcher	 attempt_to_pickle	 bs
check_4_doubles	 check_for_typos	 csv	 encoding	 example_iterrows	 get_column_descriptions	 get_page_tables	 load_csv	 load_dataframes
load_object	 math	 nx	 os	 pd	 pickle	 re	 save_dataframes	 similar
store_objects	 sys	 time	 urllib

In [2]:

def get_page_soup(page_url):
    with urllib.request.urlopen(page_url) as response:
        page_html = response.read()
    page_soup = bs(page_html, 'html.parser')
    
    return page_soup

In [3]:

tables_url = 'https://en.wikipedia.org/wiki/List_of_counties_by_U.S._state_and_territory'
page_soup = get_page_soup(tables_url)

In [4]:

content_xpath = '/html/body/div[1]/div[1]/div[1]/div[3]/div[4]/div'
content_css = '#mw-content-text > div'
content_soup = page_soup.select(content_css)[0]

In [5]:

h2_list = []
for h2 in content_soup.select('h2'):
    print([fn for fn in dir(h2) if 'sib' in fn.lower()])
    break

['fetchNextSiblings', 'fetchPreviousSiblings', 'findNextSibling', 'findNextSiblings', 'findPreviousSibling', 'findPreviousSiblings', 'find_next_sibling', 'find_next_siblings', 'find_previous_sibling', 'find_previous_siblings', 'nextSibling', 'nextSiblingGenerator', 'next_sibling', 'next_siblings', 'previousSibling', 'previousSiblingGenerator', 'previous_sibling', 'previous_siblings']

In [6]:

print([fn for fn in dir(h2) if 'child' in fn.lower()])

['_lastRecursiveChild', 'childGenerator', 'children', 'findChild', 'findChildren', 'recursiveChildGenerator', 'replaceWithChildren', 'replace_with_children']

In [7]:

counties_regex = re.compile(r'The\s+([^0-9]+)\s+comprises\s+(\d+)\s+(counties|organized boroughs|parishes)')
rows_list = []
columns_list = ['state_str', 'counties_count', 'county_str']
for child in content_soup.children:
    if child.name == 'h2':
        comprises_str = list(child.next_siblings)[1].text.strip()
        match_obj = counties_regex.search(comprises_str)
        if match_obj:
            state_str = match_obj.group(1)
            counties_count = int(match_obj.group(2))
            county_str = match_obj.group(3)
            #print('"{}": {}'.format(comprises_str, counties_count))
            row_dict = {}
            row_dict['state_str'] = state_str
            row_dict['counties_count'] = counties_count
            row_dict['county_str'] = county_str
            rows_list.append(row_dict)
        #print([fn for fn in dir(comprises_p)])
        #break
counties_df = pd.DataFrame(rows_list, columns=columns_list)
print(counties_df['county_str'].unique().tolist())
counties_df.sort_values('counties_count').head(10)

['counties', 'organized boroughs', 'parishes']

,state_str,counties_count,county_str
7,State of Delaware,3,counties
10,State of Hawaii,5,counties
38,State of Rhode Island and Providence Plantations,5,counties
6,State of Connecticut,8,counties
28,State of New Hampshire,10,counties
20,Commonwealth of Massachusetts,14,counties
44,State of Vermont,14,counties
2,State of Arizona,15,counties
18,State of Maine,16,counties
27,State of Nevada,16,counties

In [8]:

tables_url = 'https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_area'
df_list = get_page_tables(tables_url)

[(0, (60, 12)), (3, (11, 2)), (1, (9, 12)), (2, (4, 12))]

In [9]:

states_area_df = df_list[0].copy()
#print([fn for fn in dir(states_area_df.columns) if 'to_' in fn.lower()])
states_area_df.columns = ['state_federal_district_or_territory', 'total_area_rank', 'total_area_sq_mi', 'total_area_km_sq',
                          'land_area_rank', 'land_area_sq_mi',
                          'land_area_km_sq', 'land_area_percent_land', 'water_rank', 'water_sq_mi', 'water_km_sq', 'water_percent_water']
states_area_df['state_federal_district_or_territory'] = states_area_df['state_federal_district_or_territory'].map(lambda x: re.sub(r'\[[^\]\[]+\]',
                                                                                                                                   '', str(x)))
states_area_df = states_area_df.set_index('state_federal_district_or_territory')
states_area_df.sample(10).T

state_federal_district_or_territory,Indiana,Maryland,Virginia,Michigan,Illinois,50 states and District of Columbia,Ohio,Contiguous United States,Iowa,Nevada
total_area_rank,38,42,35,11,25,Total,34,Total,26,7
total_area_sq_mi,36419.6,12405.9,42774.9,96713.5,57913.6,3.79674e+06,44825.6,3.12043e+06,56272.8,110572
total_area_km_sq,94326,32131,110787,250487,149995,9833517,116098,8081867,145746,286380
land_area_rank,38,42,36,22,24,NaN,35,NaN,23,7
land_area_sq_mi,35826.1,9707.24,39490.1,56538.9,55518.9,3.53191e+06,40860.7,2.95484e+06,55857.1,109781
land_area_km_sq,92789,25142,102279,146435,143793,9147593,105829,7653004,144669,284332
land_area_percent_land,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
water_rank,39,18,15,2,19,NaN,14,NaN,45,36
water_sq_mi,593.44,2698.69,3284.84,40174.61,2394.62,264836.79,3964.89,165584.6,415.68,790.65
water_km_sq,1537,6990,8508,104052,6202,685924,10269,428862,1077,2048
water_percent_water,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:

left_list = counties_df['state_str'].tolist()
right_list = states_area_df.index.tolist()
typos_df = check_for_typos(left_list, right_list)
match_series = (typos_df['max_similarity'] >= 0.6)
counties_df['state_federal_district_or_territory'] = pd.np.nan
for row_index, row_series in typos_df[match_series].iterrows():
    state_str = row_series['left_item']
    state_federal_district_or_territory = row_series['right_item']
    match_series = (counties_df['state_str'] == state_str)
    counties_df.loc[match_series, 'state_federal_district_or_territory'] = state_federal_district_or_territory

In [11]:

counties_df.sort_values('state_federal_district_or_territory')

,state_str,counties_count,county_str,state_federal_district_or_territory
0,State of Alabama,67,counties,Alabama
2,State of Arizona,15,counties,Arizona
3,State of Arkansas,75,counties,Arkansas
4,State of California,58,counties,California
5,State of Colorado,64,counties,Colorado
6,State of Connecticut,8,counties,Connecticut
7,State of Delaware,3,counties,Delaware
8,State of Florida,67,counties,Florida
9,State of Georgia,159,counties,Georgia
12,State of Illinois,102,counties,Illinois
13,State of Indiana,92,counties,Indiana
17,State of Louisiana,64,parishes,Louisiana
19,State of Maryland,23,counties,Maryland
20,Commonwealth of Massachusetts,14,counties,Massachusetts
21,State of Michigan,83,counties,Michigan
22,State of Minnesota,87,counties,Minnesota
23,State of Mississippi,82,counties,Mississippi
24,State of Missouri,114,counties,Missouri
25,State of Montana,56,counties,Montana
26,State of Nebraska,93,counties,Nebraska
28,State of New Hampshire,10,counties,New Hampshire
29,State of New Jersey,21,counties,New Jersey
30,State of New Mexico,33,counties,New Mexico
31,State of New York,62,counties,New York
32,State of North Carolina,100,counties,North Carolina
33,State of North Dakota,53,counties,North Dakota
35,State of Oklahoma,77,counties,Oklahoma
37,Commonwealth of Pennsylvania,67,counties,Pennsylvania
39,State of South Carolina,46,counties,South Carolina
40,State of South Dakota,66,counties,South Dakota
41,State of Tennessee,95,counties,Tennessee
44,State of Vermont,14,counties,Vermont
46,State of Washington,39,counties,Washington
47,State of West Virginia,55,counties,West Virginia
48,State of Wisconsin,72,counties,Wisconsin
49,State of Wyoming,23,counties,Wyoming
1,State of Alaska,19,organized boroughs,NaN
10,State of Hawaii,5,counties,NaN
11,State of Idaho,44,counties,NaN
14,State of Iowa,99,counties,NaN
15,State of Kansas,105,counties,NaN
16,Commonwealth of Kentucky,120,counties,NaN
18,State of Maine,16,counties,NaN
27,State of Nevada,16,counties,NaN
34,State of Ohio,88,counties,NaN
36,State of Oregon,36,counties,NaN
38,State of Rhode Island and Providence Plantations,5,counties,NaN
42,State of Texas,254,counties,NaN
43,State of Utah,29,counties,NaN
45,Commonwealth of Virginia,95,counties,NaN

In [12]:

counties_regex = re.compile('(State|Commonwealth) of ([A-Za-z ]+)')
right_list = states_area_df.index.tolist()
counties_df['state_type'] = pd.np.nan
counties_df['formal_name'] = pd.np.nan
def g(row_series):
    state_str = row_series['state_str']
    match_obj = counties_regex.search(state_str)
    if match_obj:
        row_series['state_type'] = match_obj.group(1)
        row_series['formal_name'] = match_obj.group(2)
        typos_df = check_for_typos([row_series['formal_name']], right_list)
        state_name = typos_df.sort_values('max_similarity', ascending=False).head(1)['right_item'].tolist()[0]
        row_series['state_federal_district_or_territory'] = state_name
    
    return row_series

In [13]:

counties_df = counties_df.apply(g, axis=1)
counties_df = counties_df.set_index('state_federal_district_or_territory')
counties_df.sample(10).T

state_federal_district_or_territory,New Mexico,New Jersey,Texas,Arkansas,Louisiana,Washington,Idaho,Michigan,Nebraska,Mississippi
state_str,State of New Mexico,State of New Jersey,State of Texas,State of Arkansas,State of Louisiana,State of Washington,State of Idaho,State of Michigan,State of Nebraska,State of Mississippi
counties_count,33,21,254,75,64,39,44,83,93,82
county_str,counties,counties,counties,counties,parishes,counties,counties,counties,counties,counties
state_type,State,State,State,State,State,State,State,State,State,State
formal_name,New Mexico,New Jersey,Texas,Arkansas,Louisiana,Washington,Idaho,Michigan,Nebraska,Mississippi

In [51]:

us_states_df = pd.merge(left=states_area_df, right=counties_df, left_index=True, right_index=True, suffixes=('_area', '_counties'))
columns_list = ['total_area_rank', 'total_area_sq_mi', 'total_area_km_sq', 'land_area_rank', 'land_area_sq_mi',
                'land_area_km_sq', 'water_rank', 'water_sq_mi', 'water_km_sq',
                'state_str', 'counties_count', 'county_str', 'state_type']
us_states_df = us_states_df[columns_list]
columns_list = ['total_area_rank', 'total_area_sq_mi', 'total_area_km_sq', 'land_area_rank', 'land_area_sq_mi',
                'land_area_km_sq', 'water_rank', 'water_sq_mi', 'water_km_sq',
                'formal_name', 'counties_count', 'county_type', 'state_type']
us_states_df.columns = columns_list

In [52]:

def f(x):
    if x == 'organized boroughs':
        county_type = 'Boroughs'
    elif x == 'parishes':
        county_type = 'Parishes'
    else:
        county_type = 'Counties'
    
    return county_type

us_states_df['county_type'] = us_states_df['county_type'].map(f)

In [53]:

state_merge_df = load_object('state_merge_df')
#print(state_merge_df.columns.tolist())
state_merge_df.columns = ['white_percent', 'black_percent', 'hispanic_percent', 'asian_percent', 'native_percent',
                          'islander_percent', 'multi_percent', 'racial_gini_index', 'effectiveness_rank', 'health_care_score',
                          'education_score', 'economy_score', 'infrastructure_score', 'opportunity_score',
                          'fiscal_stability_score', 'crime_corrections_score', 'natural_environment_score', 'state_abbreviation',
                          'gdp_rank', 'gdp_2018', 'gdp_percent', 'state_region', 'homicide_rate_2018', 'homicide_rate_2017',
                          'homicide_rate_2014', 'homicide_rate_2010', 'homicide_rate_2005', 'homicide_rate_2000', 'homicide_rate_1996']
us_states_df = pd.merge(left=state_merge_df, right=us_states_df, left_index=True, right_index=True, suffixes=('_merge', '_counties'))
store_objects(us_states_df=us_states_df)
us_states_df.sample(10).T

Pickling to C:\Users\dev\Documents\repositories\notebooks\StatsByCountry\saves\pickle\us_states_df.pickle

,South Dakota,Massachusetts,Connecticut,Virginia,West Virginia,Oregon,Colorado,North Dakota,New Jersey,Indiana
white_percent,0.83,0.72,0.67,0.62,0.93,0.76,0.68,0.85,0.55,0.79
black_percent,0.02,0.07,0.1,0.19,0.04,0.02,0.04,0.03,0.13,0.09
hispanic_percent,0.04,0.12,0.16,0.09,0.01,0.13,0.22,0.03,0.21,0.07
asian_percent,0.01,0.06,0.05,0.07,0.01,0.05,0.03,0.02,0.1,0.02
native_percent,0.08,0,0,0,0,0.01,0.01,0.06,0,0
islander_percent,0,0,0,0,0,0,0,0,0,0
multi_percent,0.02,0.03,0.03,0.03,0.02,0.04,0.03,0.02,0.02,0.02
racial_gini_index,0.757143,0.697143,0.678925,0.657143,0.81471,0.721358,0.698727,0.746818,0.61669,0.750361
effectiveness_rank,20,8,21,7,47,27,10,15,12,36
health_care_score,32,2,3,18,48,17,12,38,6,40
education_score,18,1,12,7,44,36,11,20,2,24
economy_score,27,7,30,25,50,5,1,35,31,28
infrastructure_score,16,44,46,35,50,1,8,5,34,37
opportunity_score,34,29,33,9,30,43,28,4,8,12
fiscal_stability_score,3,30,46,8,34,40,29,13,49,6
crime_corrections_score,40,4,7,9,21,38,29,18,6,34
natural_environment_score,2,26,6,18,41,30,31,28,13,48
state_abbreviation,SD,MA,CT,VA,WV,OR,CO,ND,NJ,IN
gdp_rank,49,11,23,13,42,25,16,47,8,19
gdp_2018,52544,575635,279653,544348,79168,243085,376994,55657,634721,371629
gdp_percent,0.3,2.8,1.3,2.6,0.4,1.2,1.8,0.3,3,1.8
state_region,Midwest,Northeast,Northeast,South,South,West,West,Midwest,Northeast,Midwest
homicide_rate_2018,1.4,2,2.3,4.6,3.7,2,3.7,2.4,3.2,6.5
homicide_rate_2017,3.1,2.5,2.9,5.6,5.4,2.5,4,1.3,3.6,6.2
homicide_rate_2014,2.3,2,2.4,7.5,4,2,2.8,3,3.9,5
homicide_rate_2010,2.8,3.3,3.7,4.7,3.1,2.5,2.6,1.5,4.2,4.1
homicide_rate_2005,2.3,2.7,2.9,6.1,4.4,2.2,3.7,1.1,4.8,5.7
homicide_rate_2000,0.9,2,2.9,5.7,2.5,2,3.1,0.6,3.4,5.8
homicide_rate_1996,1.2,2.6,4.8,7.5,3.8,4,4.7,2.2,4.2,7.2
total_area_rank,17,44,48,35,41,9,8,19,47,38
total_area_sq_mi,77115.7,10554.4,5543.41,42774.9,24230,98378.5,104094,70698.3,8722.58,36419.6
total_area_km_sq,199729,27336,14357,110787,62756,254799,269601,183108,22591,94326
land_area_rank,16,45,48,36,41,10,8,17,46,38
land_area_sq_mi,75811,7800.06,4842.36,39490.1,24038.2,95988,103642,69000.8,7354.22,35826.1
land_area_km_sq,196350,20202,12542,102279,62259,248608,268431,178711,19047,92789
water_rank,29,16,38,15,50,20,44,24,27,39
water_sq_mi,1304.68,2754.33,701.06,3284.84,191.83,2390.53,451.78,1697.52,1368.36,593.44
water_km_sq,3379,7134,1816,8508,497,6191,1170,4397,3544,1537
formal_name,State of South Dakota,Commonwealth of Massachusetts,State of Connecticut,Commonwealth of Virginia,State of West Virginia,State of Oregon,State of Colorado,State of North Dakota,State of New Jersey,State of Indiana
counties_count,66,14,8,95,55,36,64,53,21,92
county_type,Counties,Counties,Counties,Counties,Counties,Counties,Counties,Counties,Counties,Counties
state_type,State,Commonwealth,State,Commonwealth,State,State,State,State,State,State

In [54]:

us_states_df = load_object('us_states_df')
column_descriptions_df = get_column_descriptions(us_states_df)
match_series = (column_descriptions_df['dtype'] == 'float64') & (column_descriptions_df['only_integers'] == True)
for column_name in column_descriptions_df[match_series]['column_name']:
    us_states_df[column_name] = us_states_df[column_name].map(lambda x: int(x))
us_states_df['total_area_rank'] = us_states_df['total_area_rank'].map(lambda x: int(x))
us_states_df['water_sq_mi'] = us_states_df['water_sq_mi'].map(lambda x: float(x))
us_states_df['water_km_sq'] = us_states_df['water_km_sq'].map(lambda x: int(x))
store_objects(us_states_df=us_states_df)

Pickling to C:\Users\dev\Documents\repositories\notebooks\StatsByCountry\saves\pickle\us_states_df.pickle

In [55]:

column_descriptions_df = get_column_descriptions(us_states_df)
match_series = (column_descriptions_df['dtype'] == 'object')
column_descriptions_df[match_series]

,column_name,dtype,count_blanks,count_uniques,count_zeroes,has_dates,min_value,max_value,only_integers
37,state_abbreviation,object,0,50,0,False,AK,WY,NaN
38,state_region,object,0,4,0,False,Midwest,West,NaN
39,formal_name,object,0,50,0,False,Commonwealth of Kentucky,State of Wyoming,NaN
40,county_type,object,0,3,0,False,Boroughs,Parishes,NaN
41,state_type,object,0,2,0,False,Commonwealth,State,NaN

In [77]:

columns_list = ['white_percent', 'black_percent', 'hispanic_percent', 'asian_percent', 'native_percent', 'islander_percent',
                'multi_percent', 'racial_gini_index', 'effectiveness_rank', 'health_care_score', 'education_score',
                'economy_score', 'infrastructure_score', 'opportunity_score', 'fiscal_stability_score',
                'crime_corrections_score', 'natural_environment_score', 'state_abbreviation', 'gdp_rank', 'gdp_2018', 'gdp_percent',
                'state_region', 'homicide_rate_2018', 'homicide_rate_2017', 'homicide_rate_2014', 'homicide_rate_2010',
                'homicide_rate_2005', 'homicide_rate_2000', 'homicide_rate_1996', 'total_area_rank',
                'total_area_km_sq', 'land_area_rank', 'land_area_km_sq', 'water_rank',
                'water_km_sq', 'formal_name', 'counties_count', 'county_type', 'state_type']
us_states_df = us_states_df[columns_list]
store_objects(us_states_df=us_states_df)

Pickling to C:\Users\dev\Documents\repositories\notebooks\StatsByCountry\saves\pickle\us_states_df.pickle

In [82]:

def g(row_series):
    total_area_km_sq = row_series['total_area_km_sq']
    counties_count = row_series['counties_count']
    
    return total_area_km_sq / counties_count

us_states_df['ave_county_area'] = us_states_df.apply(g, axis=1)
store_objects(us_states_df=us_states_df)
us_states_df.sort_values('ave_county_area', ascending=False).head(10).T

Pickling to C:\Users\dev\Documents\repositories\notebooks\StatsByCountry\saves\pickle\us_states_df.pickle

,Alaska,Arizona,Nevada,Wyoming,New Mexico,Utah,California,Oregon,Montana,Maine
white_percent,0.61,0.55,0.49,0.84,0.37,0.79,0.37,0.76,0.87,0.94
black_percent,0.03,0.04,0.09,0.01,0.02,0.01,0.05,0.02,0,0.01
hispanic_percent,0.07,0.31,0.29,0.1,0.49,0.14,0.39,0.13,0.04,0.02
asian_percent,0.07,0.03,0.08,0.01,0.01,0.02,0.14,0.05,0.01,0.01
native_percent,0.13,0.04,0.01,0.02,0.09,0.01,0,0.01,0.06,0.01
islander_percent,0.01,0,0.01,0,0,0.01,0,0,0,0
multi_percent,0.09,0.03,0.04,0.02,0.02,0.02,0.03,0.04,0.03,0.02
racial_gini_index,0.571429,0.634286,0.579915,0.774286,0.645714,0.745714,0.588921,0.721358,0.780764,0.806223
effectiveness_rank,44,34,37,31,46,4,19,27,29,32
health_care_score,25,23,31,42,34,9,7,17,28,19
education_score,47,40,45,16,49,10,21,36,26,28
economy_score,46,10,8,42,47,2,4,5,22,37
infrastructure_score,40,11,4,15,17,3,32,1,20,42
opportunity_score,18,40,37,22,48,24,49,43,42,27
fiscal_stability_score,48,33,37,39,47,5,42,40,24,28
crime_corrections_score,48,42,39,17,49,12,23,38,25,3
natural_environment_score,45,33,46,17,23,49,5,30,22,39
state_abbreviation,AK,AZ,NV,WY,NM,UT,CA,OR,MT,ME
gdp_rank,48,20,33,51,38,31,1,25,50,45
gdp_2018,54851,355311,168752,39899,101452,180862,3018337,243085,49635,65349
gdp_percent,0.3,1.7,0.8,0.2,0.5,0.9,14.5,1.2,0.2,0.3
state_region,West,West,West,West,West,West,West,West,West,Northeast
homicide_rate_2018,6.4,5.1,6.7,2.3,8,1.9,4.4,2,3.2,1.8
homicide_rate_2017,8.4,6,8.9,2.4,6.9,2.4,4.6,2.5,3.9,1.7
homicide_rate_2014,5.6,4.7,6,2.7,4.8,2.3,4.4,2,3.6,1.6
homicide_rate_2010,4.3,6.4,5.8,1.4,6.8,1.9,4.8,2.5,2.5,1.8
homicide_rate_2005,4.8,7.5,8.5,2.7,7.4,2.3,6.9,2.2,1.9,1.4
homicide_rate_2000,4.3,7,6.5,2.4,7.4,1.9,6.1,2,1.8,1.2
homicide_rate_1996,7.4,8.5,13.7,3.3,11.5,3.2,9.1,4,3.9,2
total_area_rank,1,6,7,10,5,13,3,9,4,39
total_area_km_sq,1723337,295234,286380,253335,314917,219882,423967,254799,380831,91633
land_area_rank,1,6,7,9,5,12,3,10,4,39
land_area_km_sq,1477953,294207,284332,251470,314161,212818,403466,248608,376962,79883
water_rank,1,48,36,37,49,17,6,20,26,12
water_km_sq,245384,1026,2048,1864,757,7064,20501,6191,3869,11750
formal_name,State of Alaska,State of Arizona,State of Nevada,State of Wyoming,State of New Mexico,State of Utah,State of California,State of Oregon,State of Montana,State of Maine
counties_count,19,15,16,23,33,29,58,36,56,16
county_type,Boroughs,Counties,Counties,Counties,Counties,Counties,Counties,Counties,Counties,Counties
state_type,State,State,State,State,State,State,State,State,State,State
ave_county_area,90701.9,19682.3,17898.8,11014.6,9542.94,7582.14,7309.78,7077.75,6800.55,5727.06

In [89]:

import statsmodels.api as sm

def get_max_rsquared_adj(df, columns_list, verbose=False):
    if verbose:
        t0 = time.time()
    rows_list = []
    n = len(columns_list)
    for i in range(n):
        first_column = columns_list[i]
        first_series = df[first_column]
        max_similarity = 0.0
        max_column = first_column
        for j in range(n):
            second_column = columns_list[j]
            if first_column != second_column:
                second_series = df[second_column]

                # Assume the first column is never identical to the second column
                X, y = first_series.values.reshape(-1, 1), second_series.values.reshape(-1, 1)
                #this_similarity = abs(first_series.cov(second_series))

                # Compute with statsmodels, by adding intercept manually
                X1 = sm.add_constant(X)
                result = sm.OLS(y, X1).fit()
                this_similarity = abs(result.rsquared_adj)

                if this_similarity > max_similarity:
                    max_similarity = this_similarity
                    max_column = second_column

        # Get input row in dictionary format; key = col_name
        row_dict = {}
        row_dict['first_column'] = first_column
        row_dict['second_column'] = max_column
        row_dict['max_similarity'] = max_similarity

        rows_list.append(row_dict)

    column_list = ['first_column', 'second_column', 'max_similarity']
    column_similarities_df = pd.DataFrame(rows_list, columns=column_list)
    if verbose:
        t1 = time.time()
        print(t1-t0, time.ctime(t1))

    return column_similarities_df

In [91]:

us_states_df = load_object('us_states_df')
column_descriptions_df = get_column_descriptions(us_states_df)
match_series = (column_descriptions_df['dtype'] != 'object')
numeric_columns_list = column_descriptions_df[match_series].column_name.tolist()
covariance_df = get_max_rsquared_adj(df=us_states_df, columns_list=numeric_columns_list, verbose=False)
#match_series = (covariance_df['max_similarity'] >= 0.95)
match_series = (covariance_df['first_column'] == 'ave_county_area')
covariance_df[match_series].sort_values('max_similarity', ascending=False)

       first_column     second_column  max_similarity
34  ave_county_area  total_area_km_sq        0.802879

In [62]:

from sklearn.linear_model import LinearRegression
import statsmodels.formula.api as sm_formula
import random

us_states_df = load_object('us_states_df')
column_descriptions_df = get_column_descriptions(us_states_df)
match_series = (column_descriptions_df['dtype'] != 'object')
numeric_columns_list = column_descriptions_df[match_series].column_name.tolist()
df = us_states_df[numeric_columns_list].copy()

model = LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)
x_column_name = random.choice(numeric_columns_list)
y_column_name = random.choice(numeric_columns_list)
X, y = df[x_column_name].values.reshape(-1, 1), df[y_column_name].values.reshape(-1, 1)
model.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [65]:

# Compute with formulas from the theory
yhat = model.predict(X)
SS_Residual = sum((y-yhat)**2)
SS_Total = sum((y-pd.np.mean(y))**2)
r_squared = 1 - (float(SS_Residual))/SS_Total
adjusted_r_squared = 1 - (1-r_squared)*(len(y)-1)/(len(y)-X.shape[1]-1)
print(r_squared[0], adjusted_r_squared[0])

0.21029518012493809 0.193842996377541

In [66]:

# Compute with sklearn linear_model, although could not find any function to compute adjusted-r-square directly from documentation
print(model.score(X, y), 1 - (1-model.score(X, y))*(len(y)-1)/(len(y)-X.shape[1]-1))

0.21029518012493878 0.19384299637754154

In [67]:

# Compute with statsmodels, by adding intercept manually
X1 = sm.add_constant(X)
result = sm.OLS(y, X1).fit()
print(result.rsquared, result.rsquared_adj)

0.21029518012493875 0.19384299637754165

In [68]:

# Compute with statsmodels, another way, using formula
result = sm_formula.ols(formula='{} ~ {}'.format(y_column_name, x_column_name), data=df).fit()
#print(result.summary())
print(result.rsquared, result.rsquared_adj)

0.21029518012493875 0.19384299637754165