In [1]:

%run ../../load_magic/storage.py
%run ../../load_magic/dataframes.py
%who

DATA_FOLDER: ../data/
SAVES_FOLDER: ../saves/
DATA_FOLDER	 ENCODING_TYPE	 SAVES_FOLDER	 attempt_to_pickle	 example_iterrows	 get_column_descriptions	 load_csv	 load_dataframes	 load_object
math	 os	 pd	 pickle	 save_dataframes	 store_objects

In [2]:

file_name = r'../data/html/Ethnic_and_Cultural_diversity.html'
fearon_df = pd.read_html(file_name)[0]
fearon_df.columns = ['Ethnic_diversity_rank', 'Country', 'Ethnic_fractionalization_index',
                     'Cultural_diversity_index']
fearon_df.sample(10).T

,143,130,60,20,109,66,96,128,59,11
Ethnic_diversity_rank,144,131,61,21,110,67,97,129,60,12
Country,Denmark,Cambodia,Latvia,Ivory Coast,Czech Republic,Saudi Arabia,Singapore,Azerbaijan,Canada,Kenya
Ethnic_fractionalization_index,0.128,0.186,0.585,0.784,0.322,0.553,0.388,0.188,0.596,0.852
Cultural_diversity_index,0.128,0.15,0.441,0.557,0.064,0.413,0.388,0.187,0.499,0.601

In [3]:

file_name = r'../data/html/Ethnic_Linguistic_and_Religious_Fractionalization.html'
alesina_df = pd.read_html(file_name)[0]
alesina_df.columns = ['Fractionalization_rank', 'Country', 'Ethnic_fractionalization',
                      'Linguistic_fractionalization', 'Religious_fractionalization']
alesina_df.sample(10).T

,166,189,109,154,163,22,138,184,80,105
Fractionalization_rank,167,190,110,155,164,23,139,185,81,106
Country,San Marino,Tajikistan,Lesotho,Philippines,Saint Lucia,Bhutan,Netherlands Antilles,Swaziland,Guinea-Bissau,Kuwait
Ethnic_fractionalization,0.2927,0.5107,0.255,0.2385,0.1769,0.605,0,0.0582,0.8082,0.6604
Linguistic_fractionalization,0,0.5473,0.2543,0.836,0.3169,0.6056,0.2508,0.1722,0.8141,0.3444
Religious_fractionalization,0.1975,0.3386,0.7211,0.3056,0.332,0.3787,0.3866,0.4444,0.6128,0.6745

In [4]:

file_name = r'../data/html/UNODC_murder_rates.html'
unodc_df = pd.read_html(file_name)[0]
unodc_df.columns = ['Country', 'Murder_rate', 'Murder_count', 'Region', 'Subregion', 'Year_listed', 'UNODC_notes']
unodc_df.sample(10).T

,173,134,207,182,24,178,105,77,4,218
Country,Norway,Maldives,Guam (US),Kosovo,Republic of the Congo,Bosnia and Herzegovina,Kazakhstan,Turks and Caicos Islands (UK),Ethiopia,Tuvalu
Murder_rate,0.56,0.85,2.49,1.6,10.88,1.5,4.84,6.61,7.6,20.28
Murder_count,29,3,4,30,466,57,853,2,7552,2
Region,Europe,Asia,Oceania,Europe,Africa,Europe,Asia,Americas,Africa,Oceania
Subregion,Northern Europe,Southern Asia,Micronesia,Southern Europe,Middle Africa,Southern Europe,Central Asia,Caribbean,Eastern Africa,Polynesia
Year_listed,2014,2013,2011,2015,2015,2015,2015,2009,2015,2012
UNODC_notes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:

file_name = r'../data/html/List_of_countries_by_estimated_number_of_guns_per_capita.html'
karp_df = pd.read_html(file_name)[0]
karp_df.columns = ['Gun_rank', 'Country', 'Guns_per_100_residents', 'Karp_notes']
karp_df.sample(10).T

,68,92,159,4,129,134,169,22,132,154
Gun_rank,68,92,159,5,129,134,169,23,132,154
Country,Albania,Cape Verde,Niger,Saudi Arabia,Trinidad and Tobago,Benin,Indonesia,Greece,Sri Lanka,Gambia
Guns_per_100_residents,8.6,5.4,0.7,35,1.6,1.4,0.5,22.5,1.5,0.8
Karp_notes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:

%pprint

sorted(list(set(fearon_df['Country']) ^ set(alesina_df['Country'])))

Pretty printing has been turned OFF

['American Samoa', 'Andorra', 'Antigua and Barbuda', 'Aruba', 'Bahamas', 'Barbados', 'Belize', 'Bermuda', 'Brunei', 'Cape Verde', 'Comoros', 'Czechoslovakia (1918â\x80\x931992)', 'Dominica', 'East Timor', 'Equatorial Guinea', 'Faroe Islands', 'French Guiana', 'French Polynesia', 'Gambia', 'Gambia, The', 'Gaza Strip', 'Greenland', 'Grenada', 'Guadeloupe', 'Guam', 'Hong Kong', 'Iceland', 'Isle of Man', 'Jersey', 'Kingdom of Yugoslavia (1918â\x80\x931943)', 'Kiribati', 'Korea, North', 'Korea, South', 'Liechtenstein', 'Luxembourg', 'Macau', 'Malta', 'Marshall Islands', 'Martinique', 'Mayotte', 'Micronesia', 'Monaco', 'Nauru', 'Netherlands Antilles', 'New Caledonia', 'North Korea', 'Northern Mariana Islands', 'Palau', 'Puerto Rico', 'Qatar', 'Reunion', 'Russia', 'Russian Federation', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'San Marino', 'Sao Tome and Principe', 'Serbia', 'Seychelles', 'Slovak Republic', 'Slovakia', 'Solomon Islands', 'South Korea', 'Soviet Union (1922â\x80\x931991)', 'Sudan', 'Sudan (1955â\x80\x932011)', 'Suriname', 'Tonga', 'Tuvalu', 'United States Virgin Islands', 'Vanuatu', 'West Bank', 'Western Samoa', 'Yugoslavia', 'Yugoslavia (1943â\x80\x931992)']

In [7]:

%pprint

sorted(list(set(fearon_df['Country']) ^ set(unodc_df['Country'])))

Pretty printing has been turned ON

['Andorra',
 'Anguilla (UK)',
 'Antigua and Barbuda',
 'Aruba (Netherlands)',
 'Bahamas',
 'Barbados',
 'Belize',
 'Bermuda (UK)',
 'British Virgin Islands (UK)',
 'Brunei',
 'Burma',
 'Cape Verde',
 'Cayman Islands (UK)',
 'Comoros',
 'Congo',
 'Cook Islands',
 'Czechoslovakia (1918â\x80\x931992)',
 'Democratic Republic of Congo',
 'Democratic Republic of the Congo',
 'Dominica',
 'East Timor',
 'Equatorial Guinea',
 'French Guiana (France)',
 'French Polynesia (France)',
 'Greenland (Denmark)',
 'Grenada',
 'Guadeloupe (France)',
 'Guam (US)',
 'Hong Kong',
 'Iceland',
 'Kingdom of Yugoslavia (1918â\x80\x931943)',
 'Kiribati',
 'Kosovo',
 'Liechtenstein',
 'Luxembourg',
 'Macao',
 'Maldives',
 'Malta',
 'Marshall Islands',
 'Martinique (France)',
 'Mayotte (France)',
 'Micronesia, Fed. Sts.',
 'Monaco',
 'Montenegro',
 'Montserrat (UK)',
 'Myanmar',
 'Nauru',
 'New Caledonia (France)',
 'Niue',
 'Palau',
 'Palestine',
 'Puerto Rico (US)',
 'Qatar',
 'Republic of the Congo',
 'RÃ©union (France)',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Pierre and Miquelon (France)',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Serbia',
 'Seychelles',
 'Solomon Islands',
 'South Sudan',
 'Soviet Union (1922â\x80\x931991)',
 'Sudan',
 'Sudan (1955â\x80\x932011)',
 'Suriname',
 'Tonga',
 'Turks and Caicos Islands (UK)',
 'Tuvalu',
 'United States Virgin Islands (US)',
 'Vanuatu',
 'Yugoslavia (1943â\x80\x931992)']

In [8]:

%pprint

sorted(list(set(fearon_df['Country']) ^ set(karp_df['Country'])))

Pretty printing has been turned OFF

['Bahamas', 'Barbados', 'Belize', 'Brunei', 'Burma', 'Cape Verde', 'Comoros', 'Czechoslovakia (1918â\x80\x931992)', "CÃ´te d'Ivoire", 'Democratic Republic of Congo', 'Democratic Republic of the Congo', 'Equatorial Guinea', 'Iceland', 'Ivory Coast', 'Kingdom of Yugoslavia (1918â\x80\x931943)', 'Luxembourg', 'Macedonia', 'Maldives', 'Malta', 'Montenegro', 'Myanmar', 'Palestine', 'Qatar', 'Republic of China (Taiwan)', 'Republic of Macedonia', 'Serbia', 'Seychelles', 'Solomon Islands', 'Soviet Union (1922â\x80\x931991)', 'Sudan (1955â\x80\x932011)', 'Sudan South Sudan', 'Suriname', 'Taiwan', 'Timor-Leste', 'Transnistria', 'World', 'Yugoslavia (1943â\x80\x931992)']

In [9]:

%pprint

sorted(list(set(alesina_df['Country']) ^ set(unodc_df['Country'])))

Pretty printing has been turned ON

['American Samoa',
 'Anguilla (UK)',
 'Aruba',
 'Aruba (Netherlands)',
 'Bermuda',
 'Bermuda (UK)',
 'British Virgin Islands (UK)',
 'Burma',
 'Cayman Islands (UK)',
 'Congo',
 'Cook Islands',
 'Democratic Republic of Congo',
 'Democratic Republic of the Congo',
 'Faroe Islands',
 'French Guiana',
 'French Guiana (France)',
 'French Polynesia',
 'French Polynesia (France)',
 'Gambia',
 'Gambia, The',
 'Gaza Strip',
 'Greenland',
 'Greenland (Denmark)',
 'Guadeloupe',
 'Guadeloupe (France)',
 'Guam',
 'Guam (US)',
 'Isle of Man',
 'Jersey',
 'Korea, North',
 'Korea, South',
 'Kosovo',
 'Macao',
 'Macau',
 'Maldives',
 'Martinique',
 'Martinique (France)',
 'Mayotte',
 'Mayotte (France)',
 'Micronesia',
 'Micronesia, Fed. Sts.',
 'Montenegro',
 'Montserrat (UK)',
 'Myanmar',
 'Netherlands Antilles',
 'New Caledonia',
 'New Caledonia (France)',
 'Niue',
 'North Korea',
 'Northern Mariana Islands',
 'Palestine',
 'Puerto Rico',
 'Puerto Rico (US)',
 'Republic of the Congo',
 'Reunion',
 'Russia',
 'Russian Federation',
 'RÃ©union (France)',
 'Saint Pierre and Miquelon (France)',
 'Samoa',
 'Slovak Republic',
 'Slovakia',
 'South Korea',
 'South Sudan',
 'Turks and Caicos Islands (UK)',
 'United States Virgin Islands',
 'United States Virgin Islands (US)',
 'West Bank',
 'Western Samoa',
 'Yugoslavia']

In [10]:

%pprint

sorted(list(set(alesina_df['Country']) ^ set(karp_df['Country'])))

Pretty printing has been turned OFF

['American Samoa', 'Andorra', 'Antigua and Barbuda', 'Aruba', 'Bermuda', 'Burma', "CÃ´te d'Ivoire", 'Democratic Republic of Congo', 'Democratic Republic of the Congo', 'Dominica', 'East Timor', 'Faroe Islands', 'French Guiana', 'French Polynesia', 'Gambia', 'Gambia, The', 'Gaza Strip', 'Greenland', 'Grenada', 'Guadeloupe', 'Guam', 'Hong Kong', 'Isle of Man', 'Ivory Coast', 'Jersey', 'Kiribati', 'Korea, North', 'Korea, South', 'Liechtenstein', 'Macau', 'Macedonia', 'Maldives', 'Marshall Islands', 'Martinique', 'Mayotte', 'Micronesia', 'Monaco', 'Montenegro', 'Myanmar', 'Nauru', 'Netherlands Antilles', 'New Caledonia', 'North Korea', 'Northern Mariana Islands', 'Palau', 'Palestine', 'Puerto Rico', 'Republic of China (Taiwan)', 'Republic of Macedonia', 'Reunion', 'Russia', 'Russian Federation', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'San Marino', 'Sao Tome and Principe', 'Slovak Republic', 'Slovakia', 'South Korea', 'Sudan', 'Sudan South Sudan', 'Taiwan', 'Timor-Leste', 'Tonga', 'Transnistria', 'Tuvalu', 'United States Virgin Islands', 'Vanuatu', 'West Bank', 'Western Samoa', 'World', 'Yugoslavia']

In [11]:

%pprint

sorted(list(set(unodc_df['Country']) ^ set(karp_df['Country'])))

Pretty printing has been turned ON

['Andorra',
 'Anguilla (UK)',
 'Antigua and Barbuda',
 'Aruba (Netherlands)',
 'Bermuda (UK)',
 'British Virgin Islands (UK)',
 'Cayman Islands (UK)',
 'Congo',
 'Cook Islands',
 "CÃ´te d'Ivoire",
 'Dominica',
 'East Timor',
 'French Guiana (France)',
 'French Polynesia (France)',
 'Greenland (Denmark)',
 'Grenada',
 'Guadeloupe (France)',
 'Guam (US)',
 'Hong Kong',
 'Ivory Coast',
 'Kiribati',
 'Kosovo',
 'Liechtenstein',
 'Macao',
 'Macedonia',
 'Marshall Islands',
 'Martinique (France)',
 'Mayotte (France)',
 'Micronesia, Fed. Sts.',
 'Monaco',
 'Montserrat (UK)',
 'Nauru',
 'New Caledonia (France)',
 'Niue',
 'Palau',
 'Puerto Rico (US)',
 'Republic of China (Taiwan)',
 'Republic of Macedonia',
 'Republic of the Congo',
 'RÃ©union (France)',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Pierre and Miquelon (France)',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'South Sudan',
 'Sudan',
 'Sudan South Sudan',
 'Taiwan',
 'Timor-Leste',
 'Tonga',
 'Transnistria',
 'Turks and Caicos Islands (UK)',
 'Tuvalu',
 'United States Virgin Islands (US)',
 'Vanuatu',
 'World']

In [12]:

%pprint

country_list = sorted(list(set(fearon_df['Country']) & set(alesina_df['Country']) &
                           set(unodc_df['Country']) & set(karp_df['Country'])))
country_list

Pretty printing has been turned OFF

['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahrain', 'Bangladesh', 'Belarus', 'Belgium', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Costa Rica', 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Madagascar', 'Malawi', 'Malaysia', 'Mali', 'Mauritania', 'Mauritius', 'Mexico', 'Moldova', 'Mongolia', 'Morocco', 'Mozambique', 'Namibia', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Romania', 'Rwanda', 'Saudi Arabia', 'Senegal', 'Sierra Leone', 'Singapore', 'Slovenia', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']

In [13]:

merge_df = pd.merge(left=fearon_df, right=alesina_df, how='inner', on=['Country'], suffixes=('_fearon', '_alesina'))
merge_df.sample(10).T

,5,130,36,89,117,126,86,75,32,39
Ethnic_diversity_rank,6,139,41,96,126,135,93,82,35,44
Country,Cameroon,Libya,Bosnia and Herzegovina,Turkmenistan,Cuba,Jamaica,Sri Lanka,Spain,Zambia,Iran
Ethnic_fractionalization_index,0.887,0.151,0.681,0.392,0.213,0.166,0.428,0.502,0.726,0.669
Cultural_diversity_index,0.733,0.127,0.146,0.328,0.02,0.027,0.386,0.263,0.189,0.542
Fractionalization_rank,33,112,25,198,47,96,181,180,214,90
Ethnic_fractionalization,0.8635,0.792,0.63,0.3918,0.5908,0.4129,0.415,0.4165,0.7808,0.6684
Linguistic_fractionalization,0.8898,0.0758,0.6751,0.3984,0,0.1098,0.4645,0.4132,0.8734,0.7462
Religious_fractionalization,0.7338,0.057,0.6851,0.2327,0.5059,0.616,0.4853,0.4514,0.7359,0.1152

In [14]:

merge_df = pd.merge(left=merge_df, right=unodc_df, how='inner', on=['Country'], suffixes=('_merge', '_unodc'))
merge_df.sample(10).T

,55,24,99,143,49,144,95,10,0,94
Ethnic_diversity_rank,62,29,111,155,56,156,105,13,1,104
Country,Syria,Angola,Algeria,Italy,Guyana,Israel,Lithuania,Ghana,Papua New Guinea,Botswana
Ethnic_fractionalization_index,0.581,0.756,0.32,0.04,0.62,0.039,0.338,0.846,1,0.351
Cultural_diversity_index,0.235,0.242,0.237,0.04,0.46,0.033,0.259,0.388,NaN,0.161
Fractionalization_rank,188,6,3,95,82,94,114,73,152,26
Ethnic_fractionalization,0.5399,0.7867,0.3394,0.1145,0.6195,0.3436,0.3223,0.6733,0.2718,0.4102
Linguistic_fractionalization,0.1817,0.787,0.4427,0.1147,0.0688,0.5525,0.3219,0.6731,0.3526,0.411
Religious_fractionalization,0.431,0.6276,0.0091,0.3027,0.7876,0.3469,0.4141,0.7987,0.5523,0.5986
Murder_rate,2.23,9.65,1.37,0.78,19.42,1.36,5.98,1.7,10.42,10.53
Murder_count,463,2414,542,469,149,110,172,423,713,220
Region,Asia,Africa,Africa,Europe,Americas,Asia,Europe,Africa,Oceania,Africa
Subregion,Western Asia,Middle Africa,Northern Africa,Southern Europe,South America,Western Asia,Northern Europe,Western Africa,Melanesia,Southern Africa
Year_listed,2010,2015,2015,2015,2015,2015,2015,2011,2010,2011
UNODC_notes,notes,NaN,NaN,NaN,NaN,notes,NaN,NaN,NaN,NaN

In [15]:

merge_df = pd.merge(left=merge_df, right=karp_df, how='inner', on=['Country'], suffixes=('_merge', '_karp'))
merge_df.sample(10).T

,108,58,6,0,123,81,38,65,79,14
Ethnic_diversity_rank,123,67,8,1,138,93,46,76,91,17
Country,Slovenia,Saudi Arabia,South Africa,Papua New Guinea,China,Sri Lanka,Kazakhstan,Tajikistan,Oman,India
Ethnic_fractionalization_index,0.231,0.553,0.88,1,0.154,0.428,0.664,0.513,0.439,0.811
Cultural_diversity_index,0.17,0.413,0.53,NaN,0.154,0.386,0.62,0.492,0.404,0.667
Fractionalization_rank,176,169,179,152,39,181,100,190,148,88
Ethnic_fractionalization,0.2216,0.18,0.7517,0.2718,0.1538,0.415,0.6171,0.5107,0.4373,0.4182
Linguistic_fractionalization,0.2201,0.0949,0.8652,0.3526,0.1327,0.4645,0.6621,0.5473,0.3567,0.8069
Religious_fractionalization,0.2868,0.127,0.8603,0.5523,0.6643,0.4853,0.5898,0.3386,0.4322,0.326
Murder_rate,1.21,1.5,34.27,10.42,0.74,2.91,4.84,1.44,1.06,3.21
Murder_count,25,472,18673,713,10083,598,853,117,34,41623
Region,Europe,Asia,Africa,Oceania,Asia,Asia,Asia,Asia,Asia,Asia
Subregion,Southern Europe,Western Asia,Southern Africa,Melanesia,Eastern Asia,Southern Asia,Central Asia,Central Asia,Western Asia,Southern Asia
Year_listed,2015,2015,2015,2010,2014,2013,2015,2013,2011,2014
UNODC_notes,NaN,NaN,NaN,NaN,notes,NaN,NaN,NaN,NaN,NaN
Gun_rank,45,5,48,145,99,132,140,151,15,107
Guns_per_100_residents,13.5,35,12.7,1.2,4.9,1.5,1.3,1,25.5,4.2
Karp_notes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:

merge_df['Murder_count'] = merge_df['Murder_count'].map(lambda x: int(x))

In [17]:

merge_df['Gun_rank'] = merge_df['Gun_rank'].map(lambda x: int(x))

In [18]:

merge_df['Region_code'] = pd.Categorical(merge_df['Region']).codes

In [19]:

merge_df['Subregion_code'] = pd.Categorical(merge_df['Subregion']).codes

In [20]:

merge_df = merge_df.sort_values('Linguistic_fractionalization')
merge_df['Cultural_diversity_index'] = merge_df['Cultural_diversity_index'].interpolate()

In [21]:

merge_df = merge_df.set_index(['Country'])

In [22]:

def check_4_correlation(df, column_list=None):
    if column_list is None:
        column_list = df.columns
    rows_list = []
    n = len(column_list)
    for i in range(n-1):
        first_column = column_list[i]
        max_correlation = 0.0
        max_column = first_column
        for j in range(i+1, n):
            second_column = column_list[j]

            # Assume the first column is never identical to the second column
            this_correlation = df[first_column].corr(df[second_column])
            
            if this_correlation > max_correlation:
                max_correlation = this_correlation
                max_column = second_column

        # Get input row in dictionary format; key = col_name
        if first_column != max_column:
            row_dict = {}
            row_dict['first_column'] = first_column
            row_dict['second_column'] = max_column
            row_dict['max_correlation'] = max_correlation

            rows_list.append(row_dict)

    column_list = ['first_column', 'second_column', 'max_correlation']
    column_correlations_df = pd.DataFrame(rows_list, columns=column_list)

    return column_correlations_df

In [26]:

dtype_df = get_column_descriptions(merge_df)
dtype_df

,column_name,dtype,count_blanks,count_uniques,count_zeroes,has_dates
0,Region_code,int8,0,5,43,True
1,Subregion_code,int8,0,20,2,True
2,Ethnic_diversity_rank,int64,0,143,0,True
3,Fractionalization_rank,int64,0,143,0,True
4,Murder_count,int64,0,135,0,True
5,Year_listed,int64,0,6,0,True
6,Gun_rank,int64,0,142,0,True
7,Ethnic_fractionalization_index,float64,0,132,0,True
8,Cultural_diversity_index,float64,0,120,6,True
9,Ethnic_fractionalization,float64,0,141,1,True
10,Linguistic_fractionalization,float64,0,139,4,True
11,Religious_fractionalization,float64,0,142,0,True
12,Murder_rate,float64,0,136,0,True
13,Guns_per_100_residents,float64,0,92,0,True
14,Region,object,0,5,0,False
15,Subregion,object,0,20,0,False
16,UNODC_notes,object,132,2,0,False
17,Karp_notes,object,133,11,0,False

In [23]:

column_correlations_df = check_4_correlation(merge_df, column_list=numeric_columns)
column_correlations_df.sort_values('max_correlation', ascending=False)

NameError: name 'numeric_columns' is not defined

In [ ]:

# First order (linear) scatterplot
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

fig1_fig = plt.figure(figsize=(12,8))
scatter_kws = dict(facecolors=merge_df['Subregion_code'])
merge_axes_subplot = sns.regplot(x='Ethnic_diversity_rank', y='Guns_per_100_residents',
                                 scatter=True, data=merge_df)
xlabel_text = plt.xlabel('Ethnic diversity rank (explanatory variable)')
ylabel_text = plt.ylabel('Guns per 100 residents (response variable)')
kwargs = dict(textcoords='offset points', ha='left', va='bottom',
              bbox=dict(boxstyle='round,pad=0.5', fc='yellow', alpha=0.5),
              arrowprops=dict(arrowstyle='->', connectionstyle='arc3,rad=0'))
diversest_ethnicity = merge_df['Ethnic_diversity_rank'].min()
purest_ethnicity = merge_df['Ethnic_diversity_rank'].max()
for label, x, y in zip(merge_df.index, merge_df['Ethnic_diversity_rank'],
                       merge_df['Guns_per_100_residents']):
    if (y > 50):
        annotation = plt.annotate(label, xy=(x, y), xytext=(20, -10), **kwargs)
    if (x == diversest_ethnicity):
        annotation = plt.annotate(label, xy=(x, y), xytext=(0, 100), **kwargs)
    if (x == purest_ethnicity):
        annotation = plt.annotate(label, xy=(x, y), xytext=(0, 100), **kwargs)

In [ ]:

# First order (linear) scatterplot
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

fig1_fig = plt.figure(figsize=(12,8))
merge_axes_subplot = sns.regplot(x='Guns_per_100_residents', y='Murder_rate',
                                 scatter=True, data=merge_df)
xlabel_text = plt.xlabel('Guns per 100 residents (explanatory variable)')
ylabel_text = plt.ylabel('Murder rate (response variable)')
kwargs = dict(textcoords='offset points', ha='left', va='bottom',
              bbox=dict(boxstyle='round,pad=0.5', fc='yellow', alpha=0.5),
              arrowprops=dict(arrowstyle='->', connectionstyle='arc3,rad=0'))
for label, x, y in zip(merge_df.index, merge_df['Guns_per_100_residents'],
                       merge_df['Murder_rate']):
    if (y > 50):
        annotation = plt.annotate(label, xy=(x, y), xytext=(20, -10), **kwargs)
    if (x > 50):
        annotation = plt.annotate(label, xy=(x, y), xytext=(-70, 10), **kwargs)

In [ ]:

# First order (linear) scatterplot
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

fig1_fig = plt.figure(figsize=(12,8))
merge_axes_subplot = sns.regplot(x='Ethnic_diversity_rank', y='Murder_rate',
                                 scatter=True, data=merge_df)
xlabel_text = plt.xlabel('Ethnic diversity rank (explanatory variable)')
ylabel_text = plt.ylabel('Murder rate (response variable)')
kwargs = dict(textcoords='offset points', ha='left', va='bottom',
              bbox=dict(boxstyle='round,pad=0.5', fc='yellow', alpha=0.5),
              arrowprops=dict(arrowstyle='->', connectionstyle='arc3,rad=0'))
diversest_ethnicity = merge_df['Ethnic_diversity_rank'].min()
purest_ethnicity = merge_df['Ethnic_diversity_rank'].max()
for label, x, y in zip(merge_df.index, merge_df['Ethnic_diversity_rank'],
                       merge_df['Murder_rate']):
    if (y > 50):
        annotation = plt.annotate(label, xy=(x, y), xytext=(20, -10), **kwargs)
    if (x == diversest_ethnicity):
        annotation = plt.annotate(label, xy=(x, y), xytext=(0, 100), **kwargs)
    if (x == purest_ethnicity):
        annotation = plt.annotate(label, xy=(x, y), xytext=(0, 100), **kwargs)

In [ ]:

column_descriptions_df = get_column_descriptions(merge_df)
column_descriptions_df

In [ ]:

match_series = (column_descriptions_df['dtype']!='object')
numeric_columns = column_descriptions_df[match_series]['column_name'].tolist()

In [ ]:

%pprint

numeric_columns.remove('Year_listed')
numeric_columns.remove('Gun_rank')
numeric_columns.remove('Region_code')
numeric_columns.remove('Subregion_code')
numeric_columns.remove('Murder_count')
numeric_columns.remove('Ethnic_diversity_rank')
numeric_columns.remove('Fractionalization_rank')
numeric_columns.remove('Ethnic_fractionalization')
print(numeric_columns)

In [ ]:

merge_pair_grid = sns.pairplot(merge_df[numeric_columns], kind='reg')

In [ ]:

column_correlations_df = check_4_correlation(merge_df[numeric_columns], column_list=numeric_columns)
column_correlations_df.sort_values('max_correlation', ascending=False)

In [ ]:

least_murderous = merge_df['Murder_rate'].min()

In [ ]:

# First order (linear) scatterplot
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

fig1_fig = plt.figure(figsize=(12,8))
merge_axes_subplot = sns.regplot(x='Ethnic_fractionalization_index', y='Murder_rate',
                                 scatter=True, data=merge_df)
xlabel_text = plt.xlabel('Ethnic fractionalization index (explanatory variable)')
ylabel_text = plt.ylabel('Murder rate (response variable)')
kwargs = dict(textcoords='offset points', ha='left', va='bottom',
              bbox=dict(boxstyle='round,pad=0.5', fc='yellow', alpha=0.5),
              arrowprops=dict(arrowstyle='->', connectionstyle='arc3,rad=0'))
least_fractional = merge_df['Ethnic_fractionalization_index'].min()
most_fractional = merge_df['Ethnic_fractionalization_index'].max()
for label, x, y in zip(merge_df.index, merge_df['Ethnic_fractionalization_index'],
                       merge_df['Murder_rate']):
    if (y > 50):
        annotation = plt.annotate(label, xy=(x, y), xytext=(20, -10), **kwargs)
    elif (y == least_murderous):
        annotation = plt.annotate(label, xy=(x, y), xytext=(20, -10), **kwargs)
    elif (x == least_fractional):
        annotation = plt.annotate(label, xy=(x, y), xytext=(0, 50), **kwargs)
    elif (x == most_fractional):
        annotation = plt.annotate(label, xy=(x, y), xytext=(-80, 50), **kwargs)
    elif (label == 'United States'):
        annotation = plt.annotate(label, xy=(x, y), xytext=(0, 50), **kwargs)

In [ ]:

# First order (linear) scatterplot
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

fig1_fig = plt.figure(figsize=(12,8))
merge_axes_subplot = sns.regplot(x='Cultural_diversity_index', y='Murder_rate',
                                 scatter=True, data=merge_df)
xlabel_text = plt.xlabel('Cultural diversity index (explanatory variable)')
ylabel_text = plt.ylabel('Murder rate (response variable)')
kwargs = dict(textcoords='offset points', ha='left', va='bottom',
              bbox=dict(boxstyle='round,pad=0.5', fc='yellow', alpha=0.5),
              arrowprops=dict(arrowstyle='->', connectionstyle='arc3,rad=0'))
least_diverse = merge_df['Cultural_diversity_index'].min()
most_diverse = merge_df['Cultural_diversity_index'].max()
for label, x, y in zip(merge_df.index, merge_df['Cultural_diversity_index'],
                       merge_df['Murder_rate']):
    if (y > 50):
        annotation = plt.annotate(label, xy=(x, y), xytext=(20, -10), **kwargs)
    elif (y == least_murderous):
        annotation = plt.annotate(label, xy=(x, y), xytext=(20, -10), **kwargs)
    elif (x == least_diverse):
        annotation = plt.annotate(label, xy=(x, y), xytext=(0, 20+y*8), **kwargs)
    elif (x == most_diverse):
        annotation = plt.annotate(label, xy=(x, y), xytext=(-80, 50), **kwargs)
    elif (label == 'United States'):
        annotation = plt.annotate(label, xy=(x, y), xytext=(0, 50), **kwargs)

In [ ]:

# First order (linear) scatterplot
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

fig1_fig = plt.figure(figsize=(12,8))
merge_axes_subplot = sns.regplot(x='Linguistic_fractionalization', y='Murder_rate',
                                 scatter=True, data=merge_df)
xlabel_text = plt.xlabel('Linguistic fractionalization index (explanatory variable)')
ylabel_text = plt.ylabel('Murder rate (response variable)')
kwargs = dict(textcoords='offset points', ha='left', va='bottom',
              bbox=dict(boxstyle='round,pad=0.5', fc='yellow', alpha=0.5),
              arrowprops=dict(arrowstyle='->', connectionstyle='arc3,rad=0'))
least_fractional = merge_df['Linguistic_fractionalization'].min()
most_fractional = merge_df['Linguistic_fractionalization'].max()
for label, x, y in zip(merge_df.index, merge_df['Linguistic_fractionalization'],
                       merge_df['Murder_rate']):
    if (y > 50):
        annotation = plt.annotate(label, xy=(x, y), xytext=(20, -10), **kwargs)
    elif (y == least_murderous):
        annotation = plt.annotate(label, xy=(x, y), xytext=(20, -10), **kwargs)
    elif (x == least_fractional):
        annotation = plt.annotate(label, xy=(x, y), xytext=(0, 50), **kwargs)
    elif (x == most_fractional):
        annotation = plt.annotate(label, xy=(x, y), xytext=(-80, 50), **kwargs)
    elif (label == 'United States'):
        annotation = plt.annotate(label, xy=(x, y), xytext=(0, 50), **kwargs)

In [ ]:

# First order (linear) scatterplot
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

fig1_fig = plt.figure(figsize=(12,8))
merge_axes_subplot = sns.regplot(x='Religious_fractionalization', y='Murder_rate',
                                 scatter=True, data=merge_df)
xlabel_text = plt.xlabel('Religious fractionalization index (explanatory variable)')
ylabel_text = plt.ylabel('Murder rate (response variable)')
kwargs = dict(textcoords='offset points', ha='left', va='bottom',
              bbox=dict(boxstyle='round,pad=0.5', fc='yellow', alpha=0.5),
              arrowprops=dict(arrowstyle='->', connectionstyle='arc3,rad=0'))
least_fractional = merge_df['Religious_fractionalization'].min()
most_fractional = merge_df['Religious_fractionalization'].max()
for label, x, y in zip(merge_df.index, merge_df['Religious_fractionalization'],
                       merge_df['Murder_rate']):
    if (y > 50):
        annotation = plt.annotate(label, xy=(x, y), xytext=(20, -10), **kwargs)
    elif (y == least_murderous):
        annotation = plt.annotate(label, xy=(x, y), xytext=(20, -10), **kwargs)
    elif (x == least_fractional):
        annotation = plt.annotate(label, xy=(x, y), xytext=(0, 50), **kwargs)
    elif (x == most_fractional):
        annotation = plt.annotate(label, xy=(x, y), xytext=(-80, 50), **kwargs)
    elif (label == 'United States'):
        annotation = plt.annotate(label, xy=(x, y), xytext=(-20, 70), **kwargs)

In [ ]:

file_name = r'../data/html/average-iq-by-country.html'
iq_df = pd.read_html(file_name)[0]
iq_df.columns = ['IQ_Rank', 'Country', 'IQ']
iq_df.sample(10).T

In [ ]:

merge_df.reset_index(level=0, inplace=True)
merge_df = pd.merge(left=merge_df, right=iq_df, how='inner', on=['Country'], suffixes=('_merge', '_iq'))
merge_df.sample(10).T

In [ ]:

merge_df = merge_df.set_index(['Country'])

In [ ]:

# First order (linear) scatterplot
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

fig1_fig = plt.figure(figsize=(12,8))
merge_axes_subplot = sns.regplot(x='IQ', y='Murder_rate',
                                 scatter=True, data=merge_df)
xlabel_text = plt.xlabel('IQ (explanatory variable)')
ylabel_text = plt.ylabel('Murder rate (response variable)')
kwargs = dict(textcoords='offset points', ha='left', va='bottom',
              bbox=dict(boxstyle='round,pad=0.5', fc='yellow', alpha=0.5),
              arrowprops=dict(arrowstyle='->', connectionstyle='arc3,rad=0'))
dumbest = merge_df['IQ'].min()
smartest = merge_df['IQ'].max()
for label, x, y in zip(merge_df.index, merge_df['IQ'],
                       merge_df['Murder_rate']):
    if (y > 50):
        annotation = plt.annotate(label, xy=(x, y), xytext=(20, -10), **kwargs)
    elif (y == least_murderous):
        annotation = plt.annotate(label, xy=(x, y), xytext=(-40, 20), **kwargs)
    elif (x == dumbest):
        annotation = plt.annotate(label, xy=(x, y), xytext=(0, 20+y*8), **kwargs)
    elif (x == smartest):
        annotation = plt.annotate(label, xy=(x, y), xytext=(-80, 50), **kwargs)
    elif (label == 'United States'):
        annotation = plt.annotate(label, xy=(x, y), xytext=(-20, 70), **kwargs)