In [1]:

%run ../../load_magic/storage.py
%run ../../load_magic/dataframes.py
import urllib.request
import re
from bs4 import BeautifulSoup
%pprint
%who

DATA_FOLDER: ../data/
SAVES_FOLDER: ../saves/
Pretty printing has been turned OFF
BeautifulSoup	 DATA_CSV_FOLDER	 DATA_FOLDER	 ENCODING_TYPE	 SAVES_CSV_FOLDER	 SAVES_FOLDER	 SAVES_PICKLE_FOLDER	 attempt_to_pickle	 example_iterrows
get_column_descriptions	 load_csv	 load_dataframes	 load_object	 math	 os	 pd	 pickle	 re
save_dataframes	 store_objects	 sys	 urllib


## Turks: Gunpowder technologies are 50% cheaper.

In [23]:

# Turks: Gunpowder technologies are 50% cheaper.
resource_set = set()
for column_name in technology_availability_df.columns:
    resource_boolean = ('turk' in column_name.lower())
    resource_boolean = resource_boolean or ('gold' in column_name.lower())
    resource_boolean = resource_boolean or ('wood' in column_name.lower())
    resource_boolean = resource_boolean or ('stone' in column_name.lower())
    resource_boolean = resource_boolean or ('food' in column_name.lower())
    resource_boolean = resource_boolean or ('gun' in column_name.lower())
    resource_boolean = resource_boolean or ('powder' in column_name.lower())
    if resource_boolean:
        resource_set.add(column_name)
resource_set

{'Stone', 'Wood', 'Turks', 'Food', 'Gold'}

In [24]:

# Turks: Gunpowder technologies are 50% cheaper.
technology_set = set()
for index_name in technology_availability_df.index:
    index_boolean = ('turk' in index_name.lower())
    index_boolean = index_boolean or ('gold' in index_name.lower())
    index_boolean = index_boolean or ('wood' in index_name.lower())
    index_boolean = index_boolean or ('stone' in index_name.lower())
    index_boolean = index_boolean or ('food' in index_name.lower())
    index_boolean = index_boolean or ('gun' in index_name.lower())
    index_boolean = index_boolean or ('powder' in index_name.lower())
    if index_boolean:
        technology_set.add(index_name)
technology_set

{'Gold Mining', 'Stone Mining', 'Gold Shaft Mining', 'Stone Shaft Mining'}

In [27]:

# Turks: Gunpowder technologies are 50% cheaper.
columns_list = ['Chemistry', 'Arquebus']
technology_availability_df.loc[columns_list, resource_set].T

Technology Name  Chemistry  Arquebus
Stone                    0         0
Wood                     0         0
Turks                    1         0
Food                   300       700
Gold                   200       400

In [9]:

# Turks: Gunpowder technologies are 50% cheaper.
gunpowder_regex = re.compile('(gun|powder)', re.IGNORECASE)
def get_gunpowder(x):
    if gunpowder_regex.search(str(x)):
        
        return True
    
    else:
        
        return False

gunpowder_df = technology_availability_df.applymap(get_gunpowder)
for column_name in gunpowder_df.columns[gunpowder_df.any(axis=0)]:
    print(column_name)
    gp_unique = technology_availability_df[column_name].unique()
    print(list(x for x in gp_unique if gunpowder_regex.search(str(x))))
for index_name in gunpowder_df.index[gunpowder_df.any(axis=1)]:
    print(index_name)

Effect
['Missile units (including siege) +1 attack Prerequisite for non-unique gunpowder units']
Chemistry

In [11]:

gunpowder_regex = re.compile('(gun|powder)', re.IGNORECASE)
def get_gunpowder(x):
    if gunpowder_regex.search(str(x)):
        
        return True
    
    else:
        
        return False

gunpowder_df = unit_availability_df.applymap(get_gunpowder)
for column_name in gunpowder_df.columns[gunpowder_df.any(axis=0)]:
    print(column_name)
    gp_unique = unit_availability_df[column_name].unique()
    print(list(x for x in gp_unique if gunpowder_regex.search(str(x))))
for index_name in gunpowder_df.index[gunpowder_df.any(axis=1)]:
    print(index_name)

Upgraded from
['Organ Gun']
Upgrades to
[' Elite Organ Gun']
Elite Organ Gun
Organ Gun

In [14]:

# Turks: Gunpowder technologies are 50% cheaper.
unit_availability_df.loc[unit_set, resource_set].T

Unit Name                      Organ Gun  Elite Organ Gun
Wood                                  80               80
UpCost_food                         1200             1200
UpCost_wood                            0                0
AttackBonusvsStone_defense             0                0
In_Gunpowder_unit_Unit_Type            1                1
UpCost_gold                          500              500
Turks                                  0                0
AttackBonusvsGunpowder_unit            0                0
Food                                   0                0
Gold                                  60               60
In_Gunpowder_unit_Armor_class          1                1

In [18]:

unit_availability_df.columns.tolist()

['Introduced in', 'Heading', 'Required research', 'Age', 'Upgraded from', 'Trained at', 'Wood', 'Food', 'Gold', 'Upgrades to', 'UpCost_food', 'UpCost_gold', 'UpCost_wood', 'Upgrade time', 'Pierce armor', 'Training time', 'Hit points', 'Projectile speed', 'Frame delay', 'Minimum range', 'Speed', 'Garrison', 'Blast radius', 'Rate of Fire', 'AttackBonusvsArcher', 'AttackBonusvsBuilding', 'AttackBonusvsBuilding_unpacked', 'AttackBonusvsCamel', 'AttackBonusvsCastle', 'AttackBonusvsCavalry', 'AttackBonusvsCavalry_archer', 'AttackBonusvsCondottiero', 'AttackBonusvsEagle_Warrior', 'AttackBonusvsGunpowder_unit', 'AttackBonusvsInfantry', 'AttackBonusvsMonk', 'AttackBonusvsRam', 'AttackBonusvsShip', 'AttackBonusvsSiege_weapon', 'AttackBonusvsSpearman', 'AttackBonusvsStandard_building', 'AttackBonusvsStone_defense', 'AttackBonusvsTurtle_Ship', 'AttackBonusvsUnique_unit', 'AttackBonusvsWall_and_gate', 'AttackBonusvsWar_elephant', 'LOS_upon_reaching_Imperial_Age', 'LOS_upon_reaching_Castle_Age', 'LOS_upon_reaching_Feudal_Age', 'LOS_upon_reaching_Dark_Age', 'Attack_pierce_upon_reaching_Feudal_Age', 'Attack_pierce', 'Attack_melee_upon_reaching_Feudal_Age', 'In_Archer_Armor_class', 'In_Camel_Armor_class', 'In_Condottiero_Armor_class', 'In_Eagle_Warrior_Armor_class', 'In_Monk_Armor_class', 'In_Spearman_Armor_class', 'In_Turtle_Ship_Armor_class', 'In_Cavalry_archer_Armor_class', 'In_Cavalry_Armor_class', 'In_Unique_unit_Armor_class', 'In_War_elephant_Armor_class', 'In_Siege_weapon_Armor_class', 'In_Ram_Armor_class', 'In_Ship_Armor_class', 'In_Gunpowder_unit_Armor_class', 'In_Infantry_Armor_class', 'Accuracy_against_buildings', 'Accuracy_against_units', 'In_Cavalry_Archer_Unit_Type', 'In_Archer_Unit_Type', 'In_Monk_Unit_Type', 'In_Cavalry_Unit_Type', 'In_Siege_unit_Unit_Type', 'In_Infantry_Unit_Type', 'In_Gunpowder_unit_Unit_Type', 'In_Naval_vessel_Unit_Type', 'In_Suicide_unit_Unit_Type', 'In_Siege_weapon_Unit_Type', 'In_Civilian_Ship_Unit_Type', 'In_Healer_Unit_Type', 'In_Civilian_Unit_Type', 'Attack_or_Conversion_Range_vs_units', 'Attack_or_Conversion_Range_vs_buildings', 'Speed_upon_reaching_Feudal_Age', 'Aztecs', 'Berbers', 'Britons', 'Burmese', 'Byzantines', 'Celts', 'Chinese', 'Ethiopians', 'Franks', 'Goths', 'Huns', 'Incas', 'Indians', 'Italians', 'Japanese', 'Khmer', 'Koreans', 'Magyars', 'Malay', 'Malians', 'Mayans', 'Mongols', 'Persians', 'Portuguese', 'Saracens', 'Slavs', 'Spanish', 'Teutons', 'Turks', 'Vietnamese', 'Vikings']

In [62]:

costs_str = '''Research Cannon Galleon cost 300 Food 250 Wood
Research Elite Cannon Cannon cost 262 Wood 250 Gold
Research Bombard Tower cost 400 Food 400 Wood'''
costs_regex = re.compile(r'(.+) cost (\d+) (Wood|Gold|Food|Stone) (\d+) (Wood|Gold|Food|Stone)')
tech_regex = re.compile(r'({})'.format('|'.join(technology_availability_df.index)))
building_regex = re.compile(r'({})'.format('|'.join(building_availability_df.index)))
rows_list = []
for line in costs_str.split('\n'):
    row_dict = {}
    match_obj = costs_regex.search(line)
    if match_obj:
        activity_str = match_obj.group(1)
        tech_match_obj = tech_regex.search(activity_str)
        building_match_obj = building_regex.search(activity_str)
        if tech_match_obj:
            tech_name = tech_match_obj.group()
        elif building_match_obj:
            tech_name = building_match_obj.group()
        row_dict['tech_name'] = tech_name
        first_amount = match_obj.group(2)
        first_resource = match_obj.group(3)
        second_amount = match_obj.group(4)
        second_resource = match_obj.group(5)
        for res_name in ['Stone', 'Wood', 'Food', 'Gold']:
            try:
                amount = [first_amount, second_amount][[first_resource,
                                                        second_resource].index(res_name)]
            except:
                amount = 0
            row_dict[res_name] = amount
        rows_list.append(row_dict)
university_df = pd.DataFrame(rows_list)
university_df

  Food Gold  Stone Wood      tech_name
0  300    0      0  250           Keep
1    0  250      0  262           Keep
2  400    0      0  400  Bombard Tower

In [63]:

res_name_list = ['Stone', 'Wood', 'Food', 'Gold']
[cn for cn in technology_availability_df.columns if cn in res_name_list]

['Wood', 'Stone', 'Gold', 'Food']

In [64]:

res_name_list = ['Stone', 'Wood', 'Food', 'Gold']
[cn for cn in building_availability_df.columns if cn in res_name_list]

['Stone', 'Wood', 'Gold', 'Food']

In [55]:

building_availability_df['Food'] = 0
columns_list = building_availability_df.columns
file_path = os.path.join(DATA_CSV_FOLDER, 'building_availability_df.csv')
print('Saving to {}'.format(os.path.abspath(file_path)))
building_availability_df[columns_list].to_csv(file_path)
save_dataframes(include_index=True, building_availability_df=building_availability_df[columns_list])
xlsx_folder = os.path.join(DATA_FOLDER, 'xlsx')
os.makedirs(name=xlsx_folder, exist_ok=True)
file_path = os.path.join(xlsx_folder, 'building_availability_df.xlsx')
print('Saving to {}'.format(os.path.abspath(file_path)))
building_availability_df[columns_list].to_excel(file_path)

Saving to C:\Users\dev\Documents\repositories\notebooks\age-of-empires-ii\data\csv\building_availability_df.csv
Saving to C:\Users\dev\Documents\repositories\notebooks\age-of-empires-ii\saves\csv\building_availability_df.csv
Saving to C:\Users\dev\Documents\repositories\notebooks\age-of-empires-ii\data\xlsx\building_availability_df.xlsx

In [65]:

rows_list = []
for row_index, row_series in university_df.iterrows():
    tech_name = row_series['tech_name']
    if tech_name in technology_availability_df.index:
        df = technology_availability_df.copy()
    elif tech_name in building_availability_df.index:
        df = building_availability_df.copy()
    for res_name in ['Stone', 'Wood', 'Food', 'Gold']:
        old_res = int(df.loc[tech_name, res_name])
        new_res = int(row_series[res_name])
        if old_res != new_res:
            print("{} doesn't have the same {}: {} vs {}".format(tech_name, res_name,
                                                                 old_res, new_res))

Keep doesn't have the same Stone: 125 vs 0
Keep doesn't have the same Wood: 50 vs 250
Keep doesn't have the same Food: 0 vs 300
Keep doesn't have the same Stone: 125 vs 0
Keep doesn't have the same Wood: 50 vs 262
Keep doesn't have the same Gold: 0 vs 250
Bombard Tower doesn't have the same Stone: 125 vs 0
Bombard Tower doesn't have the same Wood: 0 vs 400
Bombard Tower doesn't have the same Food: 0 vs 400
Bombard Tower doesn't have the same Gold: 100 vs 0

In [ ]:

'''
Bombard Tower (800 Food, 400 Wood/Stone),
Cannon Galleon (400 Food, 500 Wood),
Elite Cannon Galleon (525 Wood, 500 Gold).

Also in AoK there was the
Hand Cannon Tech (450 Food, 200 Gold; needed to unlock Hand Canoneer) and
Bombard Cannon Tech (500 Food, 250 Gold; needed to unlock Bombard Cannon).

Now in 1.0c or FE Turks save 600 Food, 712 Wood, 250 Gold (total 1562 Resources)

In AoK they saved 1075 Food, 512 Wood, 475 Gold, 200 Stone (total 2262 Resources)
'''

In [72]:

# Turks: Gunpowder technologies are 50% cheaper.
civilization_bonuses_df = civilization_bonuses_df.T
column_name_list = []
for res_name in ['Bombard Cannon', 'Bombard Tower', 'Cannon Galleon']:
    param_str = re.sub(' +', '_', res_name)
    for cost_var in ['Wood', 'Stone', 'Gold', 'Food']:
        column_name = '{}_technology_cost_in_{}'.format(param_str, cost_var)
        column_value = technology_availability_df.loc[res_name, cost_var]
        if column_value > 0:
            column_name_list.append(column_name)
            civilization_bonuses_df[column_name] = column_value

In [73]:

civilization_bonuses_df = civilization_bonuses_df.T
civilization_bonuses_df.T[column_name_list].sample(5).T

,Vietnamese,Teutons,Aztecs,Koreans,Celts
Bonus Name,,,,,
Bombard_Cannon_technology_cost_in_Gold,250.0,250.0,250.0,250.0,250.0
Bombard_Cannon_technology_cost_in_Food,500.0,500.0,500.0,500.0,500.0
Bombard_Tower_technology_cost_in_Wood,400.0,400.0,400.0,400.0,400.0
Bombard_Tower_technology_cost_in_Food,800.0,800.0,800.0,800.0,800.0
Cannon_Galleon_technology_cost_in_Wood,500.0,500.0,500.0,500.0,500.0
Cannon_Galleon_technology_cost_in_Food,400.0,400.0,400.0,400.0,400.0


## Italians: Gunpowder units are 20% cheaper.

In [77]:

# Italians: Gunpowder units are 20% cheaper.
mask_series = (unit_availability_df['Italians'] == 1)
mask_series = mask_series & ((unit_availability_df['In_Gunpowder_unit_Unit_Type'] == 1) |
                               (unit_availability_df['In_Gunpowder_unit_Armor_class'] == 1))
columns_list = ['Wood', 'Gold', 'Food']
gunpowder_units_list = unit_availability_df[mask_series].index.tolist()
unit_availability_df[mask_series][columns_list]

                      Wood  Gold  Food
Unit Name
Hand Cannoneer           0    50    45
Cannon Galleon         200   150     0
Elite Cannon Galleon   200   150     0
Bombard Cannon         225   225     0

In [79]:

# Italians: Gunpowder units are 20% cheaper.
civilization_bonuses_df = civilization_bonuses_df.T
column_name_list = []
for unit_name in gunpowder_units_list:
    param_str = re.sub(' +', '_', unit_name)
    for cost_var in ['Wood', 'Gold', 'Food']:
        column_name = '{}_cost_in_{}'.format(param_str, cost_var)
        column_value = unit_availability_df.loc[unit_name, cost_var]
        if column_value > 0:
            column_name_list.append(column_name)
            civilization_bonuses_df[column_name] = column_value

In [80]:

civilization_bonuses_df = civilization_bonuses_df.T
civilization_bonuses_df.T[column_name_list].sample(5).T

                                   Berbers  Spanish  Chinese  Malay  Turks
Bonus Name
Hand_Cannoneer_cost_in_Gold           50.0     50.0     50.0   50.0   50.0
Hand_Cannoneer_cost_in_Food           45.0     45.0     45.0   45.0   45.0
Cannon_Galleon_cost_in_Wood          200.0    200.0    200.0  200.0  200.0
Cannon_Galleon_cost_in_Gold          150.0    150.0    150.0  150.0  150.0
Elite_Cannon_Galleon_cost_in_Wood    200.0    200.0    200.0  200.0  200.0
Elite_Cannon_Galleon_cost_in_Gold    150.0    150.0    150.0  150.0  150.0
Bombard_Cannon_cost_in_Wood          225.0    225.0    225.0  225.0  225.0
Bombard_Cannon_cost_in_Gold          225.0    225.0    225.0  225.0  225.0


## Turks: Gunpowder units have +25% HP.

In [85]:

# Turks: Gunpowder units have +25% HP.
resource_set = set()
for column_name in unit_availability_df.columns:
    resource_boolean = ('turk' in column_name.lower())
    resource_boolean = resource_boolean or ('hit' in column_name.lower())
    resource_boolean = resource_boolean or ('point' in column_name.lower())
    resource_boolean = resource_boolean or ('gun' in column_name.lower())
    resource_boolean = resource_boolean or ('powder' in column_name.lower())
    if resource_boolean:
        resource_set.add(column_name)
resource_set

{'In_Gunpowder_unit_Unit_Type', 'Turks', 'Hit points', 'AttackBonusvsGunpowder_unit', 'In_Gunpowder_unit_Armor_class'}

In [86]:

# Turks: Gunpowder units have +25% HP.
unit_set = set()
for index_name in unit_availability_df.index:
    index_boolean = ('turk' in index_name.lower())
    index_boolean = index_boolean or ('hit' in index_name.lower())
    index_boolean = index_boolean or ('point' in index_name.lower())
    index_boolean = index_boolean or ('gun' in index_name.lower())
    index_boolean = index_boolean or ('powder' in index_name.lower())
    if index_boolean:
        unit_set.add(index_name)
unit_set

{'Organ Gun', 'Elite Organ Gun'}

In [87]:

# Turks: Gunpowder units have +25% HP.
mask_series = (unit_availability_df['Turks'] == 1)
mask_series = mask_series & ((unit_availability_df['In_Gunpowder_unit_Unit_Type'] == 1) |
                               (unit_availability_df['In_Gunpowder_unit_Armor_class'] == 1))
columns_list = ['Hit points']
gunpowder_units_list = unit_availability_df[mask_series].index.tolist()
unit_availability_df[mask_series][columns_list]

                      Hit points
Unit Name
Hand Cannoneer                35
Cannon Galleon               120
Elite Cannon Galleon         150
Bombard Cannon                80
Elite Janissary               50
Janissary                     44

In [89]:

# Turks: Gunpowder units have +25% HP.
civilization_bonuses_df = civilization_bonuses_df.T
column_name_list = []
for unit_name in gunpowder_units_list:
    param_str = re.sub(' +', '_', unit_name)
    for stat_var in ['Hit points']:
        column_name = '{}_{}'.format(param_str, re.sub(' +', '_', stat_var))
        column_value = unit_availability_df.loc[unit_name, stat_var]
        if column_value > 0:
            column_name_list.append(column_name)
            civilization_bonuses_df[column_name] = column_value

In [90]:

civilization_bonuses_df = civilization_bonuses_df.T
civilization_bonuses_df.T[column_name_list].sample(5).T

                                 Mongols  Mayans  Japanese  Spanish  Britons
Bonus Name
Hand_Cannoneer_Hit_points           35.0    35.0      35.0     35.0     35.0
Cannon_Galleon_Hit_points          120.0   120.0     120.0    120.0    120.0
Elite_Cannon_Galleon_Hit_points    150.0   150.0     150.0    150.0    150.0
Bombard_Cannon_Hit_points           80.0    80.0      80.0     80.0     80.0
Elite_Janissary_Hit_points          50.0    50.0      50.0     50.0     50.0
Janissary_Hit_points                44.0    44.0      44.0     44.0     44.0


## Spanish: Hand Cannoneers and Bombard Cannons fire 15% faster.

In [92]:

# Spanish: Hand Cannoneers and Bombard Cannons fire 15% faster.
resource_set = set()
for column_name in unit_availability_df.columns:
    resource_boolean = ('spanish' in column_name.lower())
    resource_boolean = resource_boolean or (('hand' in column_name.lower()) and
                                            ('cannon' in column_name.lower()))
    resource_boolean = resource_boolean or (('bombard' in column_name.lower()) and
                                            ('cannon' in column_name.lower()))
    resource_boolean = resource_boolean or ('rate' in column_name.lower())
    resource_boolean = resource_boolean or ('fire' in column_name.lower())
    if resource_boolean:
        resource_set.add(column_name)
resource_set

{'Spanish', 'Rate of Fire'}

In [95]:

# Spanish: Hand Cannoneers and Bombard Cannons fire 15% faster.
unit_set = set()
for index_name in unit_availability_df.index:
    index_boolean = ('spanish' in index_name.lower())
    index_boolean = index_boolean or (('hand' in index_name.lower()) and
                                      ('cannon' in index_name.lower()))
    index_boolean = index_boolean or (('bombard' in index_name.lower()) and
                                      ('cannon' in index_name.lower()))
    index_boolean = index_boolean or ('rate' in index_name.lower())
    if index_boolean:
        unit_set.add(index_name)
unit_set

{'Bombard Cannon', 'Hand Cannoneer'}

In [96]:

# Spanish: Hand Cannoneers and Bombard Cannons fire 15% faster.
unit_availability_df.loc[unit_set, resource_set].T

Unit Name     Bombard Cannon  Hand Cannoneer
Spanish                  1.0            1.00
Rate of Fire             6.5            3.49


## Mongols: Hunters work +50% faster.

In [3]:

# From http://aok.heavengames.com/university/strategy/statistics/an-insight-about-gathering/
Villager_Shore_Fish_carrying_capacity = 10
Fishing_Ship_Shore_Fish_carrying_capacity = 15
Forage_Bush_food_gathering_per_second_by_Villager = 0.310
Sheep_food_gathering_per_second_by_Villager = 0.330
Boar_food_gathering_per_second_by_Villager = 0.408
Deer_food_gathering_per_second_by_Villager = 0.408
Shore_Fish_food_gathering_per_second_by_Villager = 0.426
Shore_Fish_food_gathering_per_second_by_Fishing_Ship = 0.280
Deep_Fish_food_gathering_per_second_by_Villager = 0.487
Trapped_Fish_food_gathering_per_second_by_Villager = 0.206
Farm_food_gathering_per_second_by_Villager = 0.319


## Japanese: Infantry attacks 25% faster starting in the Feudal Age.

In [101]:

# Japanese: Infantry attacks 25% faster starting in the Feudal Age.
resource_set = set()
for column_name in unit_availability_df.columns:
    resource_boolean = ('japan' in column_name.lower())
    resource_boolean = resource_boolean or ('infant' in column_name.lower())
    resource_boolean = resource_boolean or ('rate' in column_name.lower())
    resource_boolean = resource_boolean or ('age' in column_name.lower())
    if resource_boolean:
        resource_set.add(column_name)
resource_set

{'Speed_upon_reaching_Feudal_Age', 'LOS_upon_reaching_Dark_Age', 'LOS_upon_reaching_Imperial_Age', 'In_Infantry_Armor_class', 'Japanese', 'LOS_upon_reaching_Feudal_Age', 'In_Infantry_Unit_Type', 'Rate of Fire', 'Age', 'Attack_melee_upon_reaching_Feudal_Age', 'AttackBonusvsInfantry', 'Attack_pierce_upon_reaching_Feudal_Age', 'LOS_upon_reaching_Castle_Age'}

In [102]:

# Japanese: Infantry attacks 25% faster starting in the Feudal Age.
unit_set = set()
for index_name in unit_availability_df.index:
    index_boolean = ('japan' in index_name.lower())
    index_boolean = index_boolean or ('infant' in index_name.lower())
    index_boolean = index_boolean or ('rate' in index_name.lower())
    index_boolean = index_boolean or ('age' in index_name.lower())
    if index_boolean:
        unit_set.add(index_name)
unit_set

{'Onager', 'Siege Onager', 'Villager'}

In [104]:

# Japanese: Infantry attacks 25% faster starting in the Feudal Age.
mask_series = (unit_availability_df['Japanese'] == 1)
mask_series = mask_series & ((unit_availability_df['In_Infantry_Unit_Type'] == 1) |
                               (unit_availability_df['In_Infantry_Armor_class'] == 1))
columns_list = ['Rate of Fire', 'Age']
infantry_units_list = unit_availability_df[mask_series].index.tolist()
unit_availability_df[mask_series][columns_list]

                      Rate of Fire           Age
Unit Name
Champion                      2.03  Imperial Age
Long Swordsman                2.03    Castle Age
Man-at-Arms                   2.03    Feudal Age
Militia                       2.03      Dark Age
Pikeman                       3.05    Castle Age
Spearman                      3.05    Feudal Age
Two-Handed Swordsman          2.03  Imperial Age
Halberdier                    3.05  Imperial Age
Elite Samurai                 1.45    Castle Age
Samurai                       1.45    Castle Age

In [105]:

# Japanese: Infantry attacks 25% faster starting in the Feudal Age.
civilization_bonuses_df = civilization_bonuses_df.T
column_name_list = []
for unit_name in infantry_units_list:
    age = unit_availability_df.loc[unit_name, 'Age']
    if age == 'Dark Age':
        age = 'Feudal Age'
    column_name = re.sub(' +', '_', '{}_Rate of Fire_starting in the {}'.format(unit_name, age))
    column_value = unit_availability_df.loc[unit_name, 'Rate of Fire']
    if column_value > 0:
        column_name_list.append(column_name)
        civilization_bonuses_df[column_name] = column_value

In [106]:

civilization_bonuses_df = civilization_bonuses_df.T
civilization_bonuses_df.T[column_name_list].sample(5).T

,Berbers,Franks,Huns,Goths,Mongols
Bonus Name,,,,,
Champion_Rate_of_Fire_starting_in_the_Imperial_Age,2.03,2.03,2.03,2.03,2.03
Long_Swordsman_Rate_of_Fire_starting_in_the_Castle_Age,2.03,2.03,2.03,2.03,2.03
Man-at-Arms_Rate_of_Fire_starting_in_the_Feudal_Age,2.03,2.03,2.03,2.03,2.03
Militia_Rate_of_Fire_starting_in_the_Feudal_Age,2.03,2.03,2.03,2.03,2.03
Pikeman_Rate_of_Fire_starting_in_the_Castle_Age,3.05,3.05,3.05,3.05,3.05
Spearman_Rate_of_Fire_starting_in_the_Feudal_Age,3.05,3.05,3.05,3.05,3.05
Two-Handed_Swordsman_Rate_of_Fire_starting_in_the_Imperial_Age,2.03,2.03,2.03,2.03,2.03
Halberdier_Rate_of_Fire_starting_in_the_Imperial_Age,3.05,3.05,3.05,3.05,3.05
Elite_Samurai_Rate_of_Fire_starting_in_the_Castle_Age,1.45,1.45,1.45,1.45,1.45
Samurai_Rate_of_Fire_starting_in_the_Castle_Age,1.45,1.45,1.45,1.45,1.45


## Goths: Infantry has +1 attack against standard buildings.

In [112]:

# Goths: Infantry has +1 attack against standard buildings.
mask_series = (unit_availability_df['Goths'] == 1)
mask_series = mask_series & ((unit_availability_df['In_Infantry_Unit_Type'] == 1) |
                               (unit_availability_df['In_Infantry_Armor_class'] == 1))
columns_list = ['AttackBonusvsStandard_building']
infantry_units_list = unit_availability_df[mask_series].index.tolist()
unit_availability_df[mask_series][columns_list]

                      AttackBonusvsStandard_building
Unit Name
Champion                                           4
Long Swordsman                                     3
Man-at-Arms                                        2
Militia                                            0
Pikeman                                            1
Spearman                                           1
Two-Handed Swordsman                               4
Halberdier                                         1
Elite Huskarl                                      3
Huskarl                                            2

In [113]:

# Goths: Infantry has +1 attack against standard buildings.
civilization_bonuses_df = civilization_bonuses_df.T
column_name_list = []
for unit_name in infantry_units_list:
    column_name = re.sub(' +', '_', '{}_AttackBonusvsStandard_building'.format(unit_name))
    column_value = unit_availability_df.loc[unit_name, 'AttackBonusvsStandard_building']
    column_name_list.append(column_name)
    civilization_bonuses_df[column_name] = column_value

In [114]:

civilization_bonuses_df = civilization_bonuses_df.T
civilization_bonuses_df.T[column_name_list].sample(5).T

,Incas,Mongols,Saracens,Spanish,Goths
Bonus Name,,,,,
Champion_AttackBonusvsStandard_building,4.0,4.0,4.0,4.0,4.0
Long_Swordsman_AttackBonusvsStandard_building,3.0,3.0,3.0,3.0,3.0
Man-at-Arms_AttackBonusvsStandard_building,2.0,2.0,2.0,2.0,2.0
Militia_AttackBonusvsStandard_building,0.0,0.0,0.0,0.0,0.0
Pikeman_AttackBonusvsStandard_building,1.0,1.0,1.0,1.0,1.0
Spearman_AttackBonusvsStandard_building,1.0,1.0,1.0,1.0,1.0
Two-Handed_Swordsman_AttackBonusvsStandard_building,4.0,4.0,4.0,4.0,4.0
Halberdier_AttackBonusvsStandard_building,1.0,1.0,1.0,1.0,1.0
Elite_Huskarl_AttackBonusvsStandard_building,3.0,3.0,3.0,3.0,3.0
Huskarl_AttackBonusvsStandard_building,2.0,2.0,2.0,2.0,2.0


## Vikings: Infantry have +10%/+15%/+20% HP in the Feudal/Castle/Imperial Age.

In [120]:

# Vikings: Infantry have +10%/+15%/+20% HP in the Feudal/Castle/Imperial Age.
resource_set = set()
for column_name in unit_availability_df.columns:
    resource_boolean = ('viking' in column_name.lower())
    resource_boolean = resource_boolean or ('infant' in column_name.lower())
    resource_boolean = resource_boolean or ('hit' in column_name.lower())
    resource_boolean = resource_boolean or ('point' in column_name.lower())
    resource_boolean = resource_boolean or ('hp' in column_name.lower())
    resource_boolean = resource_boolean or ('age' in column_name.lower())
    if resource_boolean:
        resource_set.add(column_name)
resource_set

{'Speed_upon_reaching_Feudal_Age', 'LOS_upon_reaching_Dark_Age', 'LOS_upon_reaching_Imperial_Age', 'In_Infantry_Armor_class', 'LOS_upon_reaching_Feudal_Age', 'In_Infantry_Unit_Type', 'Vikings', 'Age', 'Hit points', 'Attack_melee_upon_reaching_Feudal_Age', 'AttackBonusvsInfantry', 'Attack_pierce_upon_reaching_Feudal_Age', 'LOS_upon_reaching_Castle_Age'}

In [119]:

# Vikings: Infantry have +10%/+15%/+20% HP in the Feudal/Castle/Imperial Age.
unit_set = set()
for index_name in unit_availability_df.index:
    index_boolean = ('viking' in index_name.lower())
    index_boolean = index_boolean or ('infant' in index_name.lower())
    index_boolean = index_boolean or ('hit' in index_name.lower())
    index_boolean = index_boolean or ('point' in index_name.lower())
    index_boolean = index_boolean or ('age' in index_name.lower())
    if index_boolean:
        unit_set.add(index_name)
unit_set

{'Onager', 'Siege Onager', 'Villager'}

In [122]:

# Vikings: Infantry have +10%/+15%/+20% HP in the Feudal/Castle/Imperial Age.
mask_series = (unit_availability_df['Vikings'] == 1)
mask_series = mask_series & ((unit_availability_df['In_Infantry_Unit_Type'] == 1) |
                               (unit_availability_df['In_Infantry_Armor_class'] == 1))
columns_list = ['Hit points', 'Age']
infantry_units_list = unit_availability_df[mask_series].index.tolist()
unit_availability_df[mask_series][columns_list]

                      Hit points           Age
Unit Name
Champion                      70  Imperial Age
Long Swordsman                60    Castle Age
Man-at-Arms                   45    Feudal Age
Militia                       40      Dark Age
Pikeman                       55    Castle Age
Spearman                      45    Feudal Age
Two-Handed Swordsman          60  Imperial Age
Berserk                       64    Castle Age
Elite Berserk                 75    Castle Age

In [126]:

# Vikings: Infantry have +10%/+15%/+20% HP in the Feudal/Castle/Imperial Age.
percent_list = '+10%/+15%/+20%'.split('/')
age_list = 'Feudal/Castle/Imperial'.split('/')
hp_list = list(zip(percent_list, age_list))
all_ages_list = ['Dark Age', 'Feudal Age', 'Castle Age', 'Imperial Age']
for i, (percentage, age) in enumerate(hp_list):
    print_str = 'Infantry have {} HP in the {} Age.'
    print(i, print_str.format(percentage, age),
          all_ages_list[all_ages_list.index('{} Age'.format(age)):])

0 Infantry have +10% HP in the Feudal Age. ['Feudal Age', 'Castle Age', 'Imperial Age']
1 Infantry have +15% HP in the Castle Age. ['Castle Age', 'Imperial Age']
2 Infantry have +20% HP in the Imperial Age. ['Imperial Age']

In [134]:

for age in all_ages_list:
    print('{}_tuple_list = []'.format(re.sub(' +', '_', age)))

Dark_Age_tuple_list = []
Feudal_Age_tuple_list = []
Castle_Age_tuple_list = []
Imperial_Age_tuple_list = []

In [136]:

# Vikings: Infantry have +10%/+15%/+20% HP in the Feudal/Castle/Imperial Age.
civilization_bonuses_df = civilization_bonuses_df.T
column_name_list = []
Feudal_Age_tuple_list = []
Castle_Age_tuple_list = []
Imperial_Age_tuple_list = []
column_name_str = '{}_Hit points_starting in the {}'
for unit_name in infantry_units_list:
    initial_age = unit_availability_df.loc[unit_name, 'Age']
    if initial_age == 'Dark Age':
        initial_age = 'Feudal Age'
    for column_age in all_ages_list[all_ages_list.index(initial_age):]:
        column_value = unit_availability_df.loc[unit_name, 'Hit points']
        if column_value > 0:
            column_name = re.sub(' +', '_', column_name_str.format(unit_name, column_age))
            column_name_list.append(column_name)
            age_tuple = (column_name, column_value)
            if column_age == 'Feudal Age':
                Feudal_Age_tuple_list.append(age_tuple)
            elif column_age == 'Castle Age':
                Castle_Age_tuple_list.append(age_tuple)
            elif column_age == 'Imperial Age':
                Imperial_Age_tuple_list.append(age_tuple)
for age_tuple in Feudal_Age_tuple_list:
    column_value = age_tuple[1]
    column_name = age_tuple[0]
    civilization_bonuses_df[column_name] = column_value
for age_tuple in Castle_Age_tuple_list:
    column_value = age_tuple[1]
    column_name = age_tuple[0]
    civilization_bonuses_df[column_name] = column_value
for age_tuple in Imperial_Age_tuple_list:
    column_value = age_tuple[1]
    column_name = age_tuple[0]
    civilization_bonuses_df[column_name] = column_value

In [137]:

civilization_bonuses_df = civilization_bonuses_df.T
civilization_bonuses_df.T[column_name_list].sample(5).T

,Italians,Celts,Ethiopians,Indians,Berbers
Bonus Name,,,,,
Champion_Hit_points_starting_in_the_Imperial_Age,70.0,70.0,70.0,70.0,70.0
Long_Swordsman_Hit_points_starting_in_the_Castle_Age,60.0,60.0,60.0,60.0,60.0
Long_Swordsman_Hit_points_starting_in_the_Imperial_Age,60.0,60.0,60.0,60.0,60.0
Man-at-Arms_Hit_points_starting_in_the_Feudal_Age,45.0,45.0,45.0,45.0,45.0
Man-at-Arms_Hit_points_starting_in_the_Castle_Age,45.0,45.0,45.0,45.0,45.0
Man-at-Arms_Hit_points_starting_in_the_Imperial_Age,45.0,45.0,45.0,45.0,45.0
Militia_Hit_points_starting_in_the_Feudal_Age,40.0,40.0,40.0,40.0,40.0
Militia_Hit_points_starting_in_the_Castle_Age,40.0,40.0,40.0,40.0,40.0
Militia_Hit_points_starting_in_the_Imperial_Age,40.0,40.0,40.0,40.0,40.0
Pikeman_Hit_points_starting_in_the_Castle_Age,55.0,55.0,55.0,55.0,55.0
Pikeman_Hit_points_starting_in_the_Imperial_Age,55.0,55.0,55.0,55.0,55.0
Spearman_Hit_points_starting_in_the_Feudal_Age,45.0,45.0,45.0,45.0,45.0
Spearman_Hit_points_starting_in_the_Castle_Age,45.0,45.0,45.0,45.0,45.0
Spearman_Hit_points_starting_in_the_Imperial_Age,45.0,45.0,45.0,45.0,45.0
Two-Handed_Swordsman_Hit_points_starting_in_the_Imperial_Age,60.0,60.0,60.0,60.0,60.0
Berserk_Hit_points_starting_in_the_Castle_Age,64.0,64.0,64.0,64.0,64.0
Berserk_Hit_points_starting_in_the_Imperial_Age,64.0,64.0,64.0,64.0,64.0
Elite_Berserk_Hit_points_starting_in_the_Castle_Age,75.0,75.0,75.0,75.0,75.0
Elite_Berserk_Hit_points_starting_in_the_Imperial_Age,75.0,75.0,75.0,75.0,75.0


## Goths: Infantry is 35% cheaper starting in the Feudal Age.

In [142]:

# Goths: Infantry is 35% cheaper starting in the Feudal Age.
mask_series = (unit_availability_df['Goths'] == 1)
mask_series = mask_series & ((unit_availability_df['In_Infantry_Unit_Type'] == 1) |
                               (unit_availability_df['In_Infantry_Armor_class'] == 1))
columns_list = ['Wood', 'Food', 'Gold', 'Age']
infantry_units_list = unit_availability_df[mask_series].index.tolist()
unit_availability_df[mask_series][columns_list]

                      Wood  Food  Gold           Age
Unit Name
Champion                 0    60    20  Imperial Age
Long Swordsman           0    60    20    Castle Age
Man-at-Arms              0    60    20    Feudal Age
Militia                  0    60    20      Dark Age
Pikeman                 25    35     0    Castle Age
Spearman                25    35     0    Feudal Age
Two-Handed Swordsman     0    60    20  Imperial Age
Halberdier              25    35     0  Imperial Age
Elite Huskarl            0    52    26    Castle Age
Huskarl                  0    52    26    Castle Age

In [143]:

# Goths: Infantry is 35% cheaper starting in the Feudal Age.
civilization_bonuses_df = civilization_bonuses_df.T
column_name_list = []
feudal_age_str = '{}_cost_in_{}_starting in the Feudal Age'
for unit_name in infantry_units_list:
    initial_age = unit_availability_df.loc[unit_name, 'Age']
    for res_type in ['Wood', 'Food', 'Gold']:
        column_value = unit_availability_df.loc[unit_name, res_type]
        if column_value > 0:
            if initial_age == 'Dark Age':
                column_name = re.sub(' +', '_', feudal_age_str.format(unit_name, res_type))
            else:
                column_name = re.sub(' +', '_', '{}_cost_in_{}'.format(unit_name, res_type))
            column_name_list.append(column_name)
            civilization_bonuses_df[column_name] = column_value

In [144]:

civilization_bonuses_df = civilization_bonuses_df.T
civilization_bonuses_df.T[column_name_list].sample(5).T

,Malay,Huns,Vikings,Saracens,Burmese
Bonus Name,,,,,
Champion_cost_in_Food,60.0,60.0,60.0,60.0,60.0
Champion_cost_in_Gold,20.0,20.0,20.0,20.0,20.0
Long_Swordsman_cost_in_Food,60.0,60.0,60.0,60.0,60.0
Long_Swordsman_cost_in_Gold,20.0,20.0,20.0,20.0,20.0
Man-at-Arms_cost_in_Food,60.0,60.0,60.0,60.0,60.0
Man-at-Arms_cost_in_Gold,20.0,20.0,20.0,20.0,20.0
Militia_cost_in_Food_starting_in_the_Feudal_Age,60.0,60.0,60.0,60.0,60.0
Militia_cost_in_Gold_starting_in_the_Feudal_Age,20.0,20.0,20.0,20.0,20.0
Pikeman_cost_in_Wood,25.0,25.0,25.0,25.0,25.0
Pikeman_cost_in_Food,35.0,35.0,35.0,35.0,35.0
Spearman_cost_in_Wood,25.0,25.0,25.0,25.0,25.0
Spearman_cost_in_Food,35.0,35.0,35.0,35.0,35.0
Two-Handed_Swordsman_cost_in_Food,60.0,60.0,60.0,60.0,60.0
Two-Handed_Swordsman_cost_in_Gold,20.0,20.0,20.0,20.0,20.0
Halberdier_cost_in_Wood,25.0,25.0,25.0,25.0,25.0
Halberdier_cost_in_Food,35.0,35.0,35.0,35.0,35.0
Elite_Huskarl_cost_in_Food,52.0,52.0,52.0,52.0,52.0
Elite_Huskarl_cost_in_Gold,26.0,26.0,26.0,26.0,26.0
Huskarl_cost_in_Food,52.0,52.0,52.0,52.0,52.0
Huskarl_cost_in_Gold,26.0,26.0,26.0,26.0,26.0


## Celts: Infantry move 15% faster.

In [158]:

# Celts: Infantry move 15% faster.
mask_series = (unit_availability_df['Celts'] == 1)
mask_series = mask_series & ((unit_availability_df['In_Infantry_Unit_Type'] == 1) |
                               (unit_availability_df['In_Infantry_Armor_class'] == 1))
columns_list = ['Speed']
infantry_units_list = unit_availability_df[mask_series].index.tolist()
unit_availability_df[mask_series][columns_list]

                      Speed
Unit Name
Champion               0.90
Long Swordsman         0.90
Man-at-Arms            0.90
Militia                0.90
Pikeman                1.00
Spearman               1.00
Two-Handed Swordsman   0.90
Halberdier             1.00
Elite Woad Raider      1.38
Woad Raider            1.38

In [159]:

# Celts: Infantry move 15% faster.
civilization_bonuses_df = civilization_bonuses_df.T
column_name_list = []
for unit_name in infantry_units_list:
    column_value = unit_availability_df.loc[unit_name, 'Speed']
    if column_value > 0:
        column_name = re.sub(' +', '_', '{}_move_Speed'.format(unit_name))
        column_name_list.append(column_name)
        civilization_bonuses_df[column_name] = column_value

In [160]:

civilization_bonuses_df = civilization_bonuses_df.T
civilization_bonuses_df.T[column_name_list].sample(5).T

                                 Malians  Persians  Celts  Ethiopians  Mayans
Bonus Name
Champion_move_Speed                 0.90      0.90   0.90        0.90    0.90
Long_Swordsman_move_Speed           0.90      0.90   0.90        0.90    0.90
Man-at-Arms_move_Speed              0.90      0.90   0.90        0.90    0.90
Militia_move_Speed                  0.90      0.90   0.90        0.90    0.90
Pikeman_move_Speed                  1.00      1.00   1.00        1.00    1.00
Spearman_move_Speed                 1.00      1.00   1.00        1.00    1.00
Two-Handed_Swordsman_move_Speed     0.90      0.90   0.90        0.90    0.90
Halberdier_move_Speed               1.00      1.00   1.00        1.00    1.00
Elite_Woad_Raider_move_Speed        1.38      1.38   1.38        1.38    1.38
Woad_Raider_move_Speed              1.38      1.38   1.38        1.38    1.38


## Burmese: Infantry units have +1/+2/+3 attack in the Feudal/Castle/Imperial Age.

In [168]:

# Burmese: Infantry units have +1/+2/+3 attack in the Feudal/Castle/Imperial Age.
resource_set = set()
for column_name in unit_availability_df.columns:
    resource_boolean = ('burm' in column_name.lower())
    resource_boolean = resource_boolean or ('infant' in column_name.lower())
    resource_boolean = resource_boolean or ('AttackBonusvs' in column_name)
    resource_boolean = resource_boolean or (column_name.lower() == 'age')
    if resource_boolean:
        resource_set.add(column_name)
resource_set

{'AttackBonusvsCamel', 'AttackBonusvsRam', 'AttackBonusvsCastle', 'AttackBonusvsCondottiero', 'AttackBonusvsWar_elephant', 'AttackBonusvsInfantry', 'AttackBonusvsEagle_Warrior', 'In_Infantry_Armor_class', 'Burmese', 'AttackBonusvsBuilding', 'AttackBonusvsStandard_building', 'AttackBonusvsTurtle_Ship', 'AttackBonusvsShip', 'AttackBonusvsGunpowder_unit', 'AttackBonusvsMonk', 'AttackBonusvsWall_and_gate', 'AttackBonusvsSiege_weapon', 'AttackBonusvsUnique_unit', 'In_Infantry_Unit_Type', 'AttackBonusvsArcher', 'AttackBonusvsBuilding_unpacked', 'AttackBonusvsStone_defense', 'AttackBonusvsSpearman', 'AttackBonusvsCavalry_archer', 'AttackBonusvsCavalry', 'Age'}

In [165]:

# Burmese: Infantry units have +1/+2/+3 attack in the Feudal/Castle/Imperial Age.
unit_set = set()
for index_name in unit_availability_df.index:
    index_boolean = ('burm' in index_name.lower())
    index_boolean = index_boolean or ('infant' in index_name.lower())
    index_boolean = index_boolean or ('attack' in index_name.lower())
    index_boolean = index_boolean or ('age' in index_name.lower())
    if index_boolean:
        unit_set.add(index_name)
unit_set

{'Onager', 'Siege Onager', 'Villager'}

In [169]:

# Burmese: Infantry units have +1/+2/+3 attack in the Feudal/Castle/Imperial Age.
mask_series = (unit_availability_df['Burmese'] == 1)
mask_series = mask_series & ((unit_availability_df['In_Infantry_Unit_Type'] == 1) |
                               (unit_availability_df['In_Infantry_Armor_class'] == 1))
columns_list = ['AttackBonusvsCamel', 'AttackBonusvsRam', 'AttackBonusvsCastle',
                'AttackBonusvsCondottiero', 'AttackBonusvsWar_elephant', 'AttackBonusvsInfantry',
                'AttackBonusvsEagle_Warrior', 'AttackBonusvsBuilding',
                'AttackBonusvsStandard_building', 'AttackBonusvsTurtle_Ship', 'AttackBonusvsShip',
                'AttackBonusvsGunpowder_unit', 'AttackBonusvsMonk', 'AttackBonusvsWall_and_gate',
                'AttackBonusvsSiege_weapon', 'AttackBonusvsUnique_unit', 'AttackBonusvsArcher',
                'AttackBonusvsBuilding_unpacked', 'AttackBonusvsStone_defense',
                'AttackBonusvsSpearman', 'AttackBonusvsCavalry_archer', 'AttackBonusvsCavalry',
                'Age']
infantry_units_list = unit_availability_df[mask_series].index.tolist()
unit_availability_df[mask_series][columns_list]

,AttackBonusvsCamel,AttackBonusvsRam,AttackBonusvsCastle,AttackBonusvsCondottiero,AttackBonusvsWar_elephant,AttackBonusvsInfantry,AttackBonusvsEagle_Warrior,AttackBonusvsBuilding,AttackBonusvsStandard_building,AttackBonusvsTurtle_Ship,...,AttackBonusvsWall_and_gate,AttackBonusvsSiege_weapon,AttackBonusvsUnique_unit,AttackBonusvsArcher,AttackBonusvsBuilding_unpacked,AttackBonusvsStone_defense,AttackBonusvsSpearman,AttackBonusvsCavalry_archer,AttackBonusvsCavalry,Age
Unit Name,,,,,,,,,,,,,,,,,,,,,
Champion,0,0,0,0,0,0,8,0,4,0,...,0,0,0,0,0,0,0,0,0,Imperial Age
Long Swordsman,0,0,0,0,0,0,6,0,3,0,...,0,0,0,0,0,0,0,0,0,Castle Age
Man-at-Arms,0,0,0,0,0,0,2,0,2,0,...,0,0,0,0,0,0,0,0,0,Feudal Age
Militia,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Dark Age
Pikeman,18,0,0,0,25,0,1,0,1,0,...,0,0,0,0,0,0,0,0,22,Castle Age
Spearman,12,0,0,0,15,0,1,0,1,0,...,0,0,0,0,0,0,0,0,15,Feudal Age
Two-Handed Swordsman,0,0,0,0,0,0,8,0,4,0,...,0,0,0,0,0,0,0,0,0,Imperial Age
Halberdier,26,0,0,0,28,0,1,0,1,0,...,0,0,0,0,0,0,0,0,32,Imperial Age

In [170]:

# Burmese: Infantry units have +1/+2/+3 attack in the Feudal/Castle/Imperial Age.
percent_list = '+1/+2/+3'.split('/')
age_list = 'Feudal/Castle/Imperial'.split('/')
hp_list = list(zip(percent_list, age_list))
all_ages_list = ['Dark Age', 'Feudal Age', 'Castle Age', 'Imperial Age']
for i, (percentage, age) in enumerate(hp_list):
    print_str = 'Infantry units have {} attack in the {} Age.'
    print(i, print_str.format(percentage, age),
          all_ages_list[all_ages_list.index('{} Age'.format(age)):])

0 Infantry units have +1 attack in the Feudal Age. ['Feudal Age', 'Castle Age', 'Imperial Age']
1 Infantry units have +2 attack in the Castle Age. ['Castle Age', 'Imperial Age']
2 Infantry units have +3 attack in the Imperial Age. ['Imperial Age']

In [171]:

for age in all_ages_list:
    print('{}_tuple_list = []'.format(re.sub(' +', '_', age)))

Dark_Age_tuple_list = []
Feudal_Age_tuple_list = []
Castle_Age_tuple_list = []
Imperial_Age_tuple_list = []

In [177]:

# Burmese: Infantry units have +1/+2/+3 attack in the Feudal/Castle/Imperial Age.
civilization_bonuses_df = civilization_bonuses_df.T
column_name_list = []
Feudal_Age_tuple_list = []
Castle_Age_tuple_list = []
Imperial_Age_tuple_list = []
attack_list = [cn for cn in unit_availability_df.columns if cn.startswith('AttackBonusvs')]
for unit_name in infantry_units_list:
    initial_age = unit_availability_df.loc[unit_name, 'Age']
    if initial_age == 'Dark Age':
        initial_age = 'Feudal Age'
    for column_age in all_ages_list[all_ages_list.index(initial_age):]:
        for res_name in attack_list:
            column_value = unit_availability_df.loc[unit_name, res_name]
            column_name_str = '{}_{}_starting in the {}'
            column_name = re.sub(' +', '_', column_name_str.format(unit_name, res_name,
                                                                   column_age))
            column_name_list.append(column_name)
            age_tuple = (column_name, column_value)
            if column_age == 'Feudal Age':
                Feudal_Age_tuple_list.append(age_tuple)
            elif column_age == 'Castle Age':
                Castle_Age_tuple_list.append(age_tuple)
            elif column_age == 'Imperial Age':
                Imperial_Age_tuple_list.append(age_tuple)
for age_tuple in Feudal_Age_tuple_list:
    column_value = age_tuple[1]
    column_name = age_tuple[0]
    civilization_bonuses_df[column_name] = column_value
for age_tuple in Castle_Age_tuple_list:
    column_value = age_tuple[1]
    column_name = age_tuple[0]
    civilization_bonuses_df[column_name] = column_value
for age_tuple in Imperial_Age_tuple_list:
    column_value = age_tuple[1]
    column_name = age_tuple[0]
    civilization_bonuses_df[column_name] = column_value

In [178]:

civilization_bonuses_df = civilization_bonuses_df.T
civilization_bonuses_df.T[column_name_list].sample(5).T

,Spanish,Persians,Teutons,Britons,Turks
Bonus Name,,,,,
Champion_AttackBonusvsArcher_starting_in_the_Imperial_Age,0.0,0.0,0.0,0.0,0.0
Champion_AttackBonusvsBuilding_starting_in_the_Imperial_Age,0.0,0.0,0.0,0.0,0.0
Champion_AttackBonusvsBuilding_unpacked_starting_in_the_Imperial_Age,0.0,0.0,0.0,0.0,0.0
Champion_AttackBonusvsCamel_starting_in_the_Imperial_Age,0.0,0.0,0.0,0.0,0.0
Champion_AttackBonusvsCastle_starting_in_the_Imperial_Age,0.0,0.0,0.0,0.0,0.0
Champion_AttackBonusvsCavalry_starting_in_the_Imperial_Age,0.0,0.0,0.0,0.0,0.0
Champion_AttackBonusvsCavalry_archer_starting_in_the_Imperial_Age,0.0,0.0,0.0,0.0,0.0
Champion_AttackBonusvsCondottiero_starting_in_the_Imperial_Age,0.0,0.0,0.0,0.0,0.0
Champion_AttackBonusvsEagle_Warrior_starting_in_the_Imperial_Age,8.0,8.0,8.0,8.0,8.0
Champion_AttackBonusvsGunpowder_unit_starting_in_the_Imperial_Age,0.0,0.0,0.0,0.0,0.0
Champion_AttackBonusvsInfantry_starting_in_the_Imperial_Age,0.0,0.0,0.0,0.0,0.0
Champion_AttackBonusvsMonk_starting_in_the_Imperial_Age,0.0,0.0,0.0,0.0,0.0
Champion_AttackBonusvsRam_starting_in_the_Imperial_Age,0.0,0.0,0.0,0.0,0.0
Champion_AttackBonusvsShip_starting_in_the_Imperial_Age,0.0,0.0,0.0,0.0,0.0
Champion_AttackBonusvsSiege_weapon_starting_in_the_Imperial_Age,0.0,0.0,0.0,0.0,0.0
Champion_AttackBonusvsSpearman_starting_in_the_Imperial_Age,0.0,0.0,0.0,0.0,0.0
Champion_AttackBonusvsStandard_building_starting_in_the_Imperial_Age,4.0,4.0,4.0,4.0,4.0
Champion_AttackBonusvsStone_defense_starting_in_the_Imperial_Age,0.0,0.0,0.0,0.0,0.0
Champion_AttackBonusvsTurtle_Ship_starting_in_the_Imperial_Age,0.0,0.0,0.0,0.0,0.0
Champion_AttackBonusvsUnique_unit_starting_in_the_Imperial_Age,0.0,0.0,0.0,0.0,0.0
Champion_AttackBonusvsWall_and_gate_starting_in_the_Imperial_Age,0.0,0.0,0.0,0.0,0.0
Champion_AttackBonusvsWar_elephant_starting_in_the_Imperial_Age,0.0,0.0,0.0,0.0,0.0
Long_Swordsman_AttackBonusvsArcher_starting_in_the_Castle_Age,0.0,0.0,0.0,0.0,0.0
Long_Swordsman_AttackBonusvsBuilding_starting_in_the_Castle_Age,0.0,0.0,0.0,0.0,0.0
Long_Swordsman_AttackBonusvsBuilding_unpacked_starting_in_the_Castle_Age,0.0,0.0,0.0,0.0,0.0
Long_Swordsman_AttackBonusvsCamel_starting_in_the_Castle_Age,0.0,0.0,0.0,0.0,0.0
Long_Swordsman_AttackBonusvsCastle_starting_in_the_Castle_Age,0.0,0.0,0.0,0.0,0.0
Long_Swordsman_AttackBonusvsCavalry_starting_in_the_Castle_Age,0.0,0.0,0.0,0.0,0.0
Long_Swordsman_AttackBonusvsCavalry_archer_starting_in_the_Castle_Age,0.0,0.0,0.0,0.0,0.0
Long_Swordsman_AttackBonusvsCondottiero_starting_in_the_Castle_Age,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...
Two-Handed_Swordsman_AttackBonusvsSiege_weapon_starting_in_the_Imperial_Age,0.0,0.0,0.0,0.0,0.0
Two-Handed_Swordsman_AttackBonusvsSpearman_starting_in_the_Imperial_Age,0.0,0.0,0.0,0.0,0.0
Two-Handed_Swordsman_AttackBonusvsStandard_building_starting_in_the_Imperial_Age,4.0,4.0,4.0,4.0,4.0
Two-Handed_Swordsman_AttackBonusvsStone_defense_starting_in_the_Imperial_Age,0.0,0.0,0.0,0.0,0.0
Two-Handed_Swordsman_AttackBonusvsTurtle_Ship_starting_in_the_Imperial_Age,0.0,0.0,0.0,0.0,0.0
Two-Handed_Swordsman_AttackBonusvsUnique_unit_starting_in_the_Imperial_Age,0.0,0.0,0.0,0.0,0.0
Two-Handed_Swordsman_AttackBonusvsWall_and_gate_starting_in_the_Imperial_Age,0.0,0.0,0.0,0.0,0.0
Two-Handed_Swordsman_AttackBonusvsWar_elephant_starting_in_the_Imperial_Age,0.0,0.0,0.0,0.0,0.0
Halberdier_AttackBonusvsArcher_starting_in_the_Imperial_Age,0.0,0.0,0.0,0.0,0.0
Halberdier_AttackBonusvsBuilding_starting_in_the_Imperial_Age,0.0,0.0,0.0,0.0,0.0
Halberdier_AttackBonusvsBuilding_unpacked_starting_in_the_Imperial_Age,0.0,0.0,0.0,0.0,0.0
Halberdier_AttackBonusvsCamel_starting_in_the_Imperial_Age,26.0,26.0,26.0,26.0,26.0
Halberdier_AttackBonusvsCastle_starting_in_the_Imperial_Age,0.0,0.0,0.0,0.0,0.0
Halberdier_AttackBonusvsCavalry_starting_in_the_Imperial_Age,32.0,32.0,32.0,32.0,32.0
Halberdier_AttackBonusvsCavalry_archer_starting_in_the_Imperial_Age,0.0,0.0,0.0,0.0,0.0
Halberdier_AttackBonusvsCondottiero_starting_in_the_Imperial_Age,0.0,0.0,0.0,0.0,0.0
Halberdier_AttackBonusvsEagle_Warrior_starting_in_the_Imperial_Age,1.0,1.0,1.0,1.0,1.0
Halberdier_AttackBonusvsGunpowder_unit_starting_in_the_Imperial_Age,0.0,0.0,0.0,0.0,0.0
Halberdier_AttackBonusvsInfantry_starting_in_the_Imperial_Age,0.0,0.0,0.0,0.0,0.0
Halberdier_AttackBonusvsMonk_starting_in_the_Imperial_Age,0.0,0.0,0.0,0.0,0.0
Halberdier_AttackBonusvsRam_starting_in_the_Imperial_Age,0.0,0.0,0.0,0.0,0.0
Halberdier_AttackBonusvsShip_starting_in_the_Imperial_Age,17.0,17.0,17.0,17.0,17.0
Halberdier_AttackBonusvsSiege_weapon_starting_in_the_Imperial_Age,0.0,0.0,0.0,0.0,0.0
Halberdier_AttackBonusvsSpearman_starting_in_the_Imperial_Age,0.0,0.0,0.0,0.0,0.0
Halberdier_AttackBonusvsStandard_building_starting_in_the_Imperial_Age,1.0,1.0,1.0,1.0,1.0
Halberdier_AttackBonusvsStone_defense_starting_in_the_Imperial_Age,0.0,0.0,0.0,0.0,0.0
Halberdier_AttackBonusvsTurtle_Ship_starting_in_the_Imperial_Age,0.0,0.0,0.0,0.0,0.0
Halberdier_AttackBonusvsUnique_unit_starting_in_the_Imperial_Age,0.0,0.0,0.0,0.0,0.0
Halberdier_AttackBonusvsWall_and_gate_starting_in_the_Imperial_Age,0.0,0.0,0.0,0.0,0.0
Halberdier_AttackBonusvsWar_elephant_starting_in_the_Imperial_Age,28.0,28.0,28.0,28.0,28.0


## Turks: Light Cavalry and Hussar upgrades are free.

In [202]:

# Turks: Light Cavalry and Hussar upgrades are free.
resource_set = set()
for column_name in unit_availability_df.columns:
    resource_boolean = ('turk' in column_name.lower())
    resource_boolean = resource_boolean or (('light' in column_name.lower()) and
                                            ('cavalry' in column_name.lower()))
    resource_boolean = resource_boolean or ('hussar' in column_name.lower())
    resource_boolean = resource_boolean or ('upgrade' in column_name.lower())
    resource_boolean = resource_boolean or ('upcost' in column_name.lower())
    if resource_boolean:
        resource_set.add(column_name)
resource_set

{'UpCost_food', 'UpCost_wood', 'Upgrade time', 'UpCost_gold', 'Upgrades to', 'Turks', 'Upgraded from'}

In [203]:

# Turks: Light Cavalry and Hussar upgrades are free.
unit_set = set()
for index_name in unit_availability_df.index:
    index_boolean = ('turk' in index_name.lower())
    index_boolean = index_boolean or (('light' in index_name.lower()) and
                                      ('cavalry' in index_name.lower()))
    index_boolean = index_boolean or (('scout' in index_name.lower()) and
                                      ('cavalry' in index_name.lower()))
    index_boolean = index_boolean or ('hussar' in index_name.lower())
    if index_boolean:
        unit_set.add(index_name)
unit_set

{'Hussar', 'Scout Cavalry', 'Light Cavalry'}

In [204]:

# Turks: Light Cavalry and Hussar upgrades are free.
unit_availability_df.loc[unit_set, resource_set].T

Unit Name             Hussar  Scout Cavalry  Light Cavalry
UpCost_food                0            150            500
UpCost_wood                0              0              0
Upgrade time               0             45             50
UpCost_gold                0             50            600
Upgrades to              NaN  Light Cavalry         Hussar
Turks                      1              1              1
Upgraded from  Light Cavalry            NaN  Scout Cavalry

In [205]:

# Turks: Light Cavalry and Hussar upgrades are free.
infantry_units_list = ['Hussar', 'Light Cavalry']

In [206]:

# Turks: Light Cavalry and Hussar upgrades are free.
civilization_bonuses_df = civilization_bonuses_df.T
column_name_list = []
for unit_name in infantry_units_list:
    upgraded_from = unit_availability_df.loc[unit_name, 'Upgraded from']
    for res_name in ['food', 'gold']:
        res_str = 'UpCost_{}'.format(res_name)
        column_value = unit_availability_df.loc[upgraded_from, res_str]
        if column_value > 0:
            column_name = re.sub(' +', '_', '{}_{}'.format(upgraded_from, res_str))
            column_name_list.append(column_name)
            civilization_bonuses_df[column_name] = column_value

In [207]:

civilization_bonuses_df = civilization_bonuses_df.T
civilization_bonuses_df.T[column_name_list].sample(5).T

                           Spanish  Japanese  Byzantines  Mongols  Celts
Bonus Name
Light_Cavalry_UpCost_food    500.0     500.0       500.0    500.0  500.0
Light_Cavalry_UpCost_gold    600.0     600.0       600.0    600.0  600.0
Scout_Cavalry_UpCost_food    150.0     150.0       150.0    150.0  150.0
Scout_Cavalry_UpCost_gold     50.0      50.0        50.0     50.0   50.0


## Mongols: Light Cavalry and Hussars have +30% HP.

In [210]:

index_name = 'Unit Name'
dataframes_dict = load_dataframes(unit_availability_df='unit_availability_df')
unit_availability_df = dataframes_dict['unit_availability_df']
if 'Unnamed: 0' in unit_availability_df.columns:
    unit_availability_df = unit_availability_df.set_index('Unnamed: 0')
elif index_name in unit_availability_df.columns:
    unit_availability_df = unit_availability_df.set_index(index_name)
unit_availability_df.index.name = index_name

Attempting to load C:\Users\dev\Documents\repositories\notebooks\age-of-empires-ii\saves\pickle\unit_availability_df.pickle.
No pickle exists - attempting to load C:\Users\dev\Documents\repositories\notebooks\age-of-empires-ii\saves\csv\unit_availability_df.csv.

In [211]:

# Mongols: Light Cavalry and Hussars have +30% HP.
resource_set = set()
for column_name in unit_availability_df.columns:
    resource_boolean = ('mongol' in column_name.lower())
    resource_boolean = resource_boolean or (('light' in column_name.lower()) and
                                            ('cavalry' in column_name.lower()))
    resource_boolean = resource_boolean or ('hussar' in column_name.lower())
    resource_boolean = resource_boolean or (('hit' in column_name.lower()) and
                                            ('points' in column_name.lower()))
    resource_boolean = resource_boolean or ('hp' in column_name.lower())
    if resource_boolean:
        resource_set.add(column_name)
resource_set

{'Hit points', 'Mongols'}

In [212]:

# Mongols: Light Cavalry and Hussars have +30% HP.
unit_set = set()
for index_name in unit_availability_df.index:
    index_boolean = ('mongols' in index_name.lower())
    index_boolean = index_boolean or (('light' in index_name.lower()) and
                                      ('cavalry' in index_name.lower()))
    index_boolean = index_boolean or ('hussar' in index_name.lower())
    index_boolean = index_boolean or (('hit' in index_name.lower()) and
                                      ('points' in index_name.lower()))
    index_boolean = index_boolean or ('hp' in index_name.lower())
    if index_boolean:
        unit_set.add(index_name)
unit_set

{'Hussar', 'Light Cavalry'}

In [213]:

# Mongols: Light Cavalry and Hussars have +30% HP.
unit_availability_df.loc[unit_set, resource_set].T

Unit Name   Hussar  Light Cavalry
Hit points      75             60
Mongols          1              1

In [214]:

# Mongols: Light Cavalry and Hussars have +30% HP.
infantry_units_list = ['Hussar', 'Light Cavalry']

In [215]:

# Mongols: Light Cavalry and Hussars have +30% HP.
civilization_bonuses_df = civilization_bonuses_df.T
column_name_list = []
for unit_name in infantry_units_list:
    res_name = 'Hit points'
    column_value = unit_availability_df.loc[unit_name, res_name]
    if column_value > 0:
        column_name = re.sub(' +', '_', '{}_{}'.format(unit_name, res_name))
        column_name_list.append(column_name)
        civilization_bonuses_df[column_name] = column_value

In [216]:

civilization_bonuses_df = civilization_bonuses_df.T
civilization_bonuses_df.T[column_name_list].sample(5).T

                          Persians  Chinese  Khmer  Ethiopians  Vietnamese
Bonus Name
Hussar_Hit_points             75.0     75.0   75.0        75.0        75.0
Light_Cavalry_Hit_points      60.0     60.0   60.0        60.0        60.0


## Burmese: Lumber Camp upgrades are free.

In [229]:

[cn for cn in technology_availability_df.columns]

['Age', 'Building', 'Cost', 'Wood', 'Stone', 'Gold', 'Food', 'Effect', 'Heading', 'Previous', 'Intro', 'Time', 'Required', 'Next', 'Aztecs', 'Berbers', 'Britons', 'Burmese', 'Byzantines', 'Celts', 'Chinese', 'Ethiopians', 'Franks', 'Goths', 'Huns', 'Incas', 'Indians', 'Italians', 'Japanese', 'Khmer', 'Koreans', 'Magyars', 'Malay', 'Malians', 'Mayans', 'Mongols', 'Persians', 'Portuguese', 'Saracens', 'Slavs', 'Spanish', 'Teutons', 'Turks', 'Vietnamese', 'Vikings']

In [230]:

# Burmese: Lumber Camp upgrades are free.
mask_series = (technology_availability_df['Burmese'] == 1)
mask_series = mask_series & (technology_availability_df['Building'] == 'Lumber Camp')
lc_tech_list = technology_availability_df[mask_series].index.tolist()

In [231]:

# Burmese: Lumber Camp upgrades are free.
civilization_bonuses_df = civilization_bonuses_df.T
column_name_list = []
for tech_name in lc_tech_list:
    for res_name in ['Wood', 'Stone', 'Gold', 'Food']:
        column_value = technology_availability_df.loc[tech_name, res_name]
        if column_value > 0:
            column_name = re.sub(' +', '_', '{}_cost_in_{}'.format(tech_name, res_name))
            column_name_list.append(column_name)
            civilization_bonuses_df[column_name] = column_value

In [232]:

civilization_bonuses_df = civilization_bonuses_df.T
civilization_bonuses_df.T[column_name_list].sample(5).T

                             Mayans  Mongols  Japanese  Goths  Portuguese
Bonus Name
Bow_Saw_cost_in_Wood          100.0    100.0     100.0  100.0       100.0
Bow_Saw_cost_in_Food          150.0    150.0     150.0  150.0       150.0
Double-Bit_Axe_cost_in_Wood    50.0     50.0      50.0   50.0        50.0
Double-Bit_Axe_cost_in_Food   100.0    100.0     100.0  100.0       100.0
Two-Man_Saw_cost_in_Wood      200.0    200.0     200.0  200.0       200.0
Two-Man_Saw_cost_in_Food      300.0    300.0     300.0  300.0       300.0


## Celts: Lumberjacks work 15% faster.

In [2]:

# From Toothbrush42's approximate resource gathering rates at
# https://www.reddit.com/r/aoe2/comments/1mmb6n/finally_more_data_approximate_resource_gathering/
Berries_per_Villager_per_Minute = 1
Sheep_per_Villager_per_Minute = 1
Boar_per_Villager_per_Minute = 22
Deer_per_Villager_per_Minute = 22
Shore_Fish_per_Villager_per_Minute = 2
Deep_Fish_per_Fishing_Ship_per_Minute = 2
Trapped_Fish_per_Fishing_Ship_per_Minute = 20
Farm_food_per_Villager_per_Minute = 2
Lumber_per_Villager_per_Minute = 2
Gold_per_Villager_per_Minute = 2
Stone_per_Villager_per_Minute = 2


## Saracens: Markets cost -75 wood.

In [236]:

# Saracens: Markets cost -75 wood.
mask_series = (building_availability_df['Saracens'] == 1)
mask_series = mask_series & (building_availability_df.index == 'Market')
building_list = building_availability_df[mask_series].index.tolist()

In [237]:

# Saracens: Markets cost -75 wood.
civilization_bonuses_df = civilization_bonuses_df.T
column_name_list = []
for building_name in building_list:
    for res_name in ['Wood']:
        column_value = building_availability_df.loc[building_name, res_name]
        if column_value > 0:
            column_name = re.sub(' +', '_', '{}_cost_in_{}'.format(building_name, res_name))
            column_name_list.append(column_name)
            civilization_bonuses_df[column_name] = column_value

In [238]:

civilization_bonuses_df = civilization_bonuses_df.T
civilization_bonuses_df.T[column_name_list].sample(5).T

                     Turks  Koreans  Britons  Chinese  Mayans
Bonus Name
Market_cost_in_Wood  175.0    175.0    175.0    175.0   175.0


### Japanese: Mills , Lumber Camps , and Mining Camps are 50% cheaper.

In [255]:

index_name = 'Building Name'
dataframes_dict = load_dataframes(building_availability_df='building_availability_df')
building_availability_df = dataframes_dict['building_availability_df']
if 'Unnamed: 0' in building_availability_df.columns:
    building_availability_df = building_availability_df.set_index('Unnamed: 0')
elif index_name in building_availability_df.columns:
    building_availability_df = building_availability_df.set_index(index_name)
building_availability_df.index.name = index_name

Attempting to load C:\Users\dev\Documents\repositories\notebooks\age-of-empires-ii\saves\pickle\building_availability_df.pickle.
No pickle exists - attempting to load C:\Users\dev\Documents\repositories\notebooks\age-of-empires-ii\saves\csv\building_availability_df.csv.

In [256]:

# Japanese: Mills , Lumber Camps , and Mining Camps are 50% cheaper.
resource_set = set()
for column_name in building_availability_df.columns:
    resource_boolean = ('japan' in column_name.lower())
    resource_boolean = resource_boolean or (('lumber' in column_name.lower()) and
                                            ('camp' in column_name.lower()))
    resource_boolean = resource_boolean or ('mill' in column_name.lower())
    resource_boolean = resource_boolean or (('mining' in column_name.lower()) and
                                            ('camp' in column_name.lower()))
    resource_boolean = resource_boolean or ('wood' in column_name.lower())
    resource_boolean = resource_boolean or ('gold' in column_name.lower())
    resource_boolean = resource_boolean or ('stone' in column_name.lower())
    resource_boolean = resource_boolean or ('food' in column_name.lower())
    if resource_boolean:
        resource_set.add(column_name)
resource_set

{'Stone', 'Japanese', 'Wood', 'In_Stone_defense_Armor_class', 'UpCost_Wood', 'Food', 'Gold', 'UpCost_Food'}

In [257]:

# Japanese: Mills , Lumber Camps , and Mining Camps are 50% cheaper.
building_set = set()
for index_name in building_availability_df.index:
    index_boolean = ('japan' in index_name.lower())
    index_boolean = index_boolean or (('lumber' in index_name.lower()) and
                                      ('camp' in index_name.lower()))
    index_boolean = index_boolean or ('mill' in index_name.lower())
    index_boolean = index_boolean or (('mining' in index_name.lower()) and
                                      ('camp' in index_name.lower()))
    if index_boolean:
        building_set.add(index_name)
building_set

{'Mill', 'Mining Camp', 'Lumber Camp'}

In [258]:

# Japanese: Mills , Lumber Camps , and Mining Camps are 50% cheaper.
building_availability_df.loc[building_set, resource_set].T

Building Name                 Mill  Mining Camp  Lumber Camp
Stone                            0            0            0
Japanese                         1            1            1
Wood                           100          100          100
In_Stone_defense_Armor_class     0            0            0
UpCost_Wood                      0            0            0
Food                             0            0            0
Gold                             0            0            0
UpCost_Food                      0            0            0

In [259]:

# Japanese: Mills , Lumber Camps , and Mining Camps are 50% cheaper.
civilization_bonuses_df = civilization_bonuses_df.T
column_name_list = []
for building_name in building_set:
    for res_name in ['Wood', 'Stone', 'Gold', 'Food']:
        column_value = building_availability_df.loc[building_name, res_name]
        if column_value > 0:
            column_name = re.sub(' +', '_', '{}_cost_in_{}'.format(building_name, res_name))
            column_name_list.append(column_name)
            civilization_bonuses_df[column_name] = column_value

In [260]:

civilization_bonuses_df = civilization_bonuses_df.T
civilization_bonuses_df.T[column_name_list].sample(5).T

                          Saracens  Japanese  Mongols  Incas  Teutons
Bonus Name
Mill_cost_in_Wood            100.0     100.0    100.0  100.0    100.0
Mining_Camp_cost_in_Wood     100.0     100.0    100.0  100.0    100.0
Lumber_Camp_cost_in_Wood     100.0     100.0    100.0  100.0    100.0


## Burmese: Monastery technologies are 50% cheaper.

In [264]:

index_name = 'Technology Name'
dataframes_dict = load_dataframes(technology_availability_df='technology_availability_df')
technology_availability_df = dataframes_dict['technology_availability_df']
if 'Unnamed: 0' in technology_availability_df.columns:
    technology_availability_df = technology_availability_df.set_index('Unnamed: 0')
elif index_name in technology_availability_df.columns:
    technology_availability_df = technology_availability_df.set_index(index_name)
technology_availability_df.index.name = index_name

Attempting to load C:\Users\dev\Documents\repositories\notebooks\age-of-empires-ii\saves\pickle\technology_availability_df.pickle.
No pickle exists - attempting to load C:\Users\dev\Documents\repositories\notebooks\age-of-empires-ii\saves\csv\technology_availability_df.csv.

In [266]:

# Burmese: Monastery technologies are 50% cheaper.
mask_series = (technology_availability_df['Burmese'] == 1)
mask_series = mask_series & (technology_availability_df['Building'] == 'Monastery')
monastery_tech_list = technology_availability_df[mask_series].index.tolist()
columns_list = ['Wood', 'Stone', 'Gold', 'Food']
technology_availability_df.loc[monastery_tech_list, columns_list]

                 Wood  Stone  Gold  Food
Technology Name
Atonement           0      0   325     0
Block Printing      0      0   200     0
Faith               0      0  1000   750
Fervor              0      0   140     0
Herbal Medicine     0      0   350     0
Illumination        0      0   120     0
Redemption          0      0   475     0
Sanctity            0      0   120     0
Theocracy           0      0   200     0

In [267]:

index_name = 'Bonus Name'
dataframes_dict = load_dataframes(civilization_bonuses_df='civilization_bonuses_df')
civilization_bonuses_df = dataframes_dict['civilization_bonuses_df']
if 'Unnamed: 0' in civilization_bonuses_df.columns:
    civilization_bonuses_df = civilization_bonuses_df.set_index('Unnamed: 0')
elif index_name in civilization_bonuses_df.columns:
    civilization_bonuses_df = civilization_bonuses_df.set_index(index_name)
civilization_bonuses_df.index.name = index_name

Attempting to load C:\Users\dev\Documents\repositories\notebooks\age-of-empires-ii\saves\pickle\civilization_bonuses_df.pickle.
No pickle exists - attempting to load C:\Users\dev\Documents\repositories\notebooks\age-of-empires-ii\saves\csv\civilization_bonuses_df.csv.

In [268]:

# Burmese: Monastery technologies are 50% cheaper.
civilization_bonuses_df = civilization_bonuses_df.T
column_name_list = []
for monastery_tech in monastery_tech_list:
    for res_name in ['Wood', 'Stone', 'Gold', 'Food']:
        column_value = technology_availability_df.loc[monastery_tech, res_name]
        if column_value > 0:
            column_name = re.sub(' +', '_', '{}_cost_in_{}'.format(monastery_tech, res_name))
            column_name_list.append(column_name)
            civilization_bonuses_df[column_name] = column_value

In [269]:

civilization_bonuses_df = civilization_bonuses_df.T
civilization_bonuses_df.T[column_name_list].sample(5).T

                              Ethiopians  Burmese  Mongols  Teutons  Vikings
Bonus Name
Atonement_cost_in_Gold             325.0    325.0    325.0    325.0    325.0
Block_Printing_cost_in_Gold        200.0    200.0    200.0    200.0    200.0
Faith_cost_in_Gold                1000.0   1000.0   1000.0   1000.0   1000.0
Faith_cost_in_Food                 750.0    750.0    750.0    750.0    750.0
Fervor_cost_in_Gold                140.0    140.0    140.0    140.0    140.0
Herbal_Medicine_cost_in_Gold       350.0    350.0    350.0    350.0    350.0
Illumination_cost_in_Gold          120.0    120.0    120.0    120.0    120.0
Redemption_cost_in_Gold            475.0    475.0    475.0    475.0    475.0
Sanctity_cost_in_Gold              120.0    120.0    120.0    120.0    120.0
Theocracy_cost_in_Gold             200.0    200.0    200.0    200.0    200.0

In [270]:

columns_list = civilization_bonuses_df.columns
file_path = os.path.join(DATA_CSV_FOLDER, 'civilization_bonuses_df.csv')
print('Saving to {}'.format(os.path.abspath(file_path)))
civilization_bonuses_df[columns_list].to_csv(file_path)
save_dataframes(include_index=True, civilization_bonuses_df=civilization_bonuses_df[columns_list])
xlsx_folder = os.path.join(DATA_FOLDER, 'xlsx')
os.makedirs(name=xlsx_folder, exist_ok=True)
file_path = os.path.join(xlsx_folder, 'civilization_bonuses_df.xlsx')
print('Saving to {}'.format(os.path.abspath(file_path)))
civilization_bonuses_df[columns_list].to_excel(file_path)

Saving to C:\Users\dev\Documents\repositories\notebooks\age-of-empires-ii\data\csv\civilization_bonuses_df.csv
Saving to C:\Users\dev\Documents\repositories\notebooks\age-of-empires-ii\saves\csv\civilization_bonuses_df.csv
Saving to C:\Users\dev\Documents\repositories\notebooks\age-of-empires-ii\data\xlsx\civilization_bonuses_df.xlsx