In [1]:

%run ../../load_magic/storage.py
%run ../../load_magic/dataframes.py
import urllib.request
import re
from bs4 import BeautifulSoup
%pprint
%who

DATA_FOLDER: ../data/
SAVES_FOLDER: ../saves/
Pretty printing has been turned OFF
BeautifulSoup	 DATA_CSV_FOLDER	 DATA_FOLDER	 ENCODING_TYPE	 SAVES_CSV_FOLDER	 SAVES_FOLDER	 SAVES_PICKLE_FOLDER	 attempt_to_pickle	 example_iterrows
get_column_descriptions	 load_csv	 load_dataframes	 load_object	 math	 os	 pd	 pickle	 re
save_dataframes	 store_objects	 sys	 urllib


## Aztecs: Monks gain 5 HP for every researched Monastery technology.


Of all civilizations, the Aztecs have the strongest Monks, having access to all religious technologies and getting an extra 5 HP for each one researched. If every technology is researched, Aztec Monks have 95 HP - more than twice as much as a regular Monk (45 HP with Sanctity).

Sanctity is a technology in Age of Empires II that can be researched at the Monastery. Once researched, it increases the hit points of Monks and Missionaries by +15.
Even though the ingame description states that Sanctity gives +50% HP, it is actually always just a bonus of +15 hit points (it does not stack with other bonuses for Aztec Monks or Spanish Missionaries).

In [ ]:

civ_name_list = load_object('civ_name_list')
ms = (technology_availability_df.index == 'Sanctity')
sanctity_list = [c for c in civ_name_list if technology_availability_df[ms][c].tolist()[0] == 1]

In [ ]:

# Aztecs: Monks gain 5 HP for every researched Monastery technology.
civilization_bonuses_df = civilization_bonuses_df.T
column_name_list = []
column_value = unit_availability_df.loc['Monk', 'Hit points']
column_name = 'Monks_total_Hit_points_with_all_Monastery_technologies_researched'
column_name_list.append(column_name)
civilization_bonuses_df[column_name] = column_value

In [ ]:

civilization_bonuses_df = civilization_bonuses_df.T
civilization_bonuses_df.T[column_name_list].sample(5).T

In [ ]:

# Aztecs: Monks gain 5 HP for every researched Monastery technology.
for civ_name in sanctity_list:
    civilization_bonuses_df.loc[column_name, civ_name] = 45
civilization_bonuses_df.loc[column_name, 'Aztecs'] = 95
civilization_bonuses_df.T[column_name_list].sample(5).T


## Teutons: Monks have double healing range.

In [ ]:

# Teutons: Monks have double healing range.
resource_set = set()
for column_name in unit_availability_df.columns:
    resource_boolean = ('teut' in column_name.lower())
    resource_boolean = resource_boolean or ('monk' in column_name.lower())
    resource_boolean = resource_boolean or ('heal' in column_name.lower())
    resource_boolean = resource_boolean or ('range' in column_name.lower())
    if resource_boolean:
        resource_set.add(column_name)
resource_set


## Teutons: Murder Holes are free.

In [ ]:

# Teutons: Murder Holes are free.
resource_set = set()
for column_name in technology_availability_df.columns:
    resource_boolean = ('teut' in column_name.lower())
    resource_boolean = resource_boolean or ('stone' in column_name.lower())
    resource_boolean = resource_boolean or ('gold' in column_name.lower())
    resource_boolean = resource_boolean or ('wood' in column_name.lower())
    resource_boolean = resource_boolean or ('food' in column_name.lower())
    if resource_boolean:
        resource_set.add(column_name)
resource_set

In [ ]:

# Teutons: Murder Holes are free.
tech_set = set()
for index_name in technology_availability_df.index:
    index_boolean = ('teut' in index_name.lower())
    index_boolean = index_boolean or ('murder' in index_name.lower())
    index_boolean = index_boolean or ('hole' in index_name.lower())
    if index_boolean:
        tech_set.add(index_name)
tech_set

In [ ]:

# Teutons: Murder Holes are free.
technology_availability_df.loc[tech_set, resource_set].T

In [ ]:

# Teutons: Murder Holes are free.
civilization_bonuses_df = civilization_bonuses_df.T
column_name_list = []
for tech_name in tech_set:
    for res_name in ['Wood', 'Stone', 'Gold', 'Food']:
        column_value = technology_availability_df.loc[tech_name, res_name]
        if column_value > 0:
            column_name = re.sub(' +', '_', '{}_cost_in_{}'.format(tech_name, res_name))
            column_name_list.append(column_name)
            civilization_bonuses_df[column_name] = column_value

In [ ]:

civilization_bonuses_df = civilization_bonuses_df.T
civilization_bonuses_df.T[column_name_list].sample(5).T


## Khmer: No buildings are required to advance to the next Age or to unlock other buildings.


## Ethiopians: Receive 100 gold and 100 food when advancing to the next Age.


## Mayans: Resources last 15% longer.

In [ ]:

# Mayans: Resources last 15% longer.
civilization_bonuses_df = civilization_bonuses_df.T
column_name_list = []
column_value = 1.0
for res_name in ['Wood', 'Stone', 'Gold', 'Food']:
    column_name = re.sub(' +', '_', '{}_consumption_rate'.format(res_name))
    column_name_list.append(column_name)
    civilization_bonuses_df[column_name] = column_value

In [ ]:

civilization_bonuses_df = civilization_bonuses_df.T
civilization_bonuses_df.T[column_name_list].sample(5).T


## Vietnamese: Reveal enemy positions at game start.


## Britons: Shepherds work 25% faster.


## Berbers: Ships move +10% faster.

In [ ]:

# Berbers: Ships move +10% faster.
resource_set = set()
for column_name in unit_availability_df.columns:
    resource_boolean = ('berbe' in column_name.lower())
    resource_boolean = resource_boolean or ('ship' in column_name.lower())
    resource_boolean = resource_boolean or ('speed' in column_name.lower())
    if resource_boolean:
        resource_set.add(column_name)
resource_set

In [ ]:

# Berbers: Ships move +10% faster.
unit_set = set()
for index_name in unit_availability_df.index:
    index_boolean = ('berbe' in index_name.lower())
    index_boolean = index_boolean or ('ship' in index_name.lower())
    index_boolean = index_boolean or ('speed' in index_name.lower())
    if index_boolean:
        unit_set.add(index_name)
unit_set

In [ ]:

# Berbers: Ships move +10% faster.
unit_availability_df.loc[unit_set, resource_set].T

In [ ]:

# Berbers: Ships move +10% faster.
match_series = (unit_availability_df['Berbers'] == 1)
match_series = match_series & ((unit_availability_df['In_Civilian_Ship_Unit_Type'] == 1) |
                               (unit_availability_df['In_Ship_Armor_class'] == 1) |
                               (unit_availability_df['In_Turtle_Ship_Armor_class'] == 1))
columns_list = ['Speed', 'Speed_upon_reaching_Feudal_Age']
ship_units_list = unit_availability_df[match_series].index.tolist()
unit_availability_df[match_series][columns_list]

In [ ]:

# Berbers: Ships move +10% faster.
civilization_bonuses_df = civilization_bonuses_df.T
column_name_list = []
for unit_name in ship_units_list:
    column_name = '{}_Speed'.format(re.sub(' +', '_', unit_name))
    column_value = unit_availability_df.loc[unit_name, 'Speed']
    if column_value > 0:
        column_name_list.append(column_name)
        civilization_bonuses_df[column_name] = column_value

In [ ]:

civilization_bonuses_df = civilization_bonuses_df.T
civilization_bonuses_df.T[column_name_list].sample(5).T


## Celts: Siege weapons fire 20% faster.

In [4]:

# Celts: Siege weapons fire 20% faster.
resource_set = set()
for column_name in unit_availability_df.columns:
    resource_boolean = ('celt' in column_name.lower())
    resource_boolean = resource_boolean or ('siege' in column_name.lower())
    resource_boolean = resource_boolean or ('weapon' in column_name.lower())
    resource_boolean = resource_boolean or ('fire' in column_name.lower())
    resource_boolean = resource_boolean or ('rate' in column_name.lower())
    if resource_boolean:
        resource_set.add(column_name)
resource_set

{'Rate of Fire', 'In_Siege_unit_Unit_Type', 'In_Siege_weapon_Unit_Type', 'In_Siege_weapon_Armor_class', 'AttackBonusvsSiege_weapon', 'Celts'}

In [5]:

# Celts: Siege weapons fire 20% faster.
unit_set = set()
for index_name in unit_availability_df.index:
    index_boolean = ('celt' in index_name.lower())
    index_boolean = index_boolean or ('siege' in index_name.lower())
    index_boolean = index_boolean or ('weapon' in index_name.lower())
    index_boolean = index_boolean or ('fire' in index_name.lower())
    index_boolean = index_boolean or ('rate' in index_name.lower())
    if index_boolean:
        unit_set.add(index_name)
unit_set

{'Fast Fire Ship', 'Fire Ship', 'Siege Onager', 'Fire Galley', 'Siege Ram', 'Siege Tower'}

In [6]:

# Celts: Siege weapons fire 20% faster.
unit_availability_df.loc[unit_set, resource_set].T

Unit Name,Fast Fire Ship,Fire Ship,Siege Onager,Fire Galley,Siege Ram,Siege Tower
Rate of Fire,0.25,0.25,6.0,0.25,5.0,0.0
In_Siege_unit_Unit_Type,0.00,0.00,1.0,0.00,1.0,1.0
In_Siege_weapon_Unit_Type,0.00,0.00,0.0,0.00,0.0,0.0
In_Siege_weapon_Armor_class,0.00,0.00,1.0,0.00,1.0,1.0
AttackBonusvsSiege_weapon,0.00,0.00,12.0,0.00,65.0,0.0
Celts,0.00,1.00,1.0,1.00,1.0,1.0

In [10]:

# Celts: Siege weapons fire 20% faster.
match_series = (unit_availability_df['Celts'] == 1)
match_series = match_series & ((unit_availability_df['In_Siege_unit_Unit_Type'] == 1) |
                               (unit_availability_df['In_Siege_weapon_Unit_Type'] == 1) |
                               (unit_availability_df['In_Siege_weapon_Armor_class'] == 1))
match_series = match_series & ~unit_availability_df['Rate of Fire'].isnull()
columns_list = ['Rate of Fire', 'In_Siege_unit_Unit_Type', 'In_Siege_weapon_Unit_Type',
                'In_Siege_weapon_Armor_class']
siege_units_list = unit_availability_df[match_series].index.tolist()
unit_availability_df[match_series][columns_list]

,Rate of Fire,In_Siege_unit_Unit_Type,In_Siege_weapon_Unit_Type,In_Siege_weapon_Armor_class
Unit Name,,,,
Battering Ram,5.0,1,0,1
Capped Ram,5.0,1,0,1
Heavy Scorpion,3.6,1,0,1
Mangonel,6.0,1,0,1
Onager,6.0,1,0,1
Scorpion,3.6,1,0,1
Siege Onager,6.0,1,0,1
Siege Ram,5.0,1,0,1
Siege Tower,0.0,1,0,1
Trebuchet (unpacked),10.0,1,0,1

In [9]:

# Celts: Siege weapons fire 20% faster.
match_series = (unit_availability_df['In_Siege_weapon_Unit_Type'] == 1)
unit_availability_df[match_series].index.tolist()

['Elite Organ Gun', 'Organ Gun']

In [11]:

# Celts: Siege weapons fire 20% faster.
civilization_bonuses_df = civilization_bonuses_df.T
column_name_list = []
res_name = 'Rate of Fire'
for unit_name in siege_units_list:
    column_name = re.sub(' +', '_', '{}_{}'.format(unit_name, res_name))
    column_value = unit_availability_df.loc[unit_name, res_name]
    if column_value > 0:
        column_name_list.append(column_name)
        civilization_bonuses_df[column_name] = column_value

In [12]:

civilization_bonuses_df = civilization_bonuses_df.T
civilization_bonuses_df.T[column_name_list].sample(5).T

,Mongols,Byzantines,Ethiopians,Franks,Persians
Bonus Name,,,,,
Battering_Ram_Rate_of_Fire,5.0,5.0,5.0,5.0,5.0
Capped_Ram_Rate_of_Fire,5.0,5.0,5.0,5.0,5.0
Heavy_Scorpion_Rate_of_Fire,3.6,3.6,3.6,3.6,3.6
Mangonel_Rate_of_Fire,6.0,6.0,6.0,6.0,6.0
Onager_Rate_of_Fire,6.0,6.0,6.0,6.0,6.0
Scorpion_Rate_of_Fire,3.6,3.6,3.6,3.6,3.6
Siege_Onager_Rate_of_Fire,6.0,6.0,6.0,6.0,6.0
Siege_Ram_Rate_of_Fire,5.0,5.0,5.0,5.0,5.0
Trebuchet_(unpacked)_Rate_of_Fire,10.0,10.0,10.0,10.0,10.0


## Slavs: Siege Workshop units are 15% cheaper.

In [21]:

# Slavs: Siege Workshop units are 15% cheaper.
match_series = (unit_availability_df['Slavs'] == 1)
match_series = match_series & (unit_availability_df['Trained at'] == 'Siege Workshop')
columns_list = ['Wood', 'Gold', 'Food']
siege_units_list = unit_availability_df[match_series].index.tolist()
unit_availability_df[match_series][columns_list]

                Wood  Gold  Food
Unit Name
Battering Ram    160    75     0
Capped Ram       160    75     0
Heavy Scorpion    75    75     0
Mangonel         160   135     0
Onager           160   135     0
Scorpion          75    75     0
Siege Onager     160   135     0
Siege Ram        160    75     0
Siege Tower      200   160     0

In [25]:

# Slavs: Siege Workshop units are 15% cheaper.
civilization_bonuses_df = civilization_bonuses_df.T
column_name_list = []
for res_name in ['Wood', 'Gold']:
    for unit_name in siege_units_list:
        column_name = re.sub(' +', '_', '{}_cost_in_{}'.format(unit_name, res_name))
        column_value = unit_availability_df.loc[unit_name, res_name]
        if column_value > 0:
            column_name_list.append(column_name)
            civilization_bonuses_df[column_name] = column_value

In [26]:

civilization_bonuses_df = civilization_bonuses_df.T
civilization_bonuses_df.T[column_name_list].sample(5).T

                             Teutons  Incas  Britons  Vietnamese  Aztecs
Bonus Name
Battering_Ram_cost_in_Wood     160.0  160.0    160.0       160.0   160.0
Capped_Ram_cost_in_Wood        160.0  160.0    160.0       160.0   160.0
Heavy_Scorpion_cost_in_Wood     75.0   75.0     75.0        75.0    75.0
Mangonel_cost_in_Wood          160.0  160.0    160.0       160.0   160.0
Onager_cost_in_Wood            160.0  160.0    160.0       160.0   160.0
Scorpion_cost_in_Wood           75.0   75.0     75.0        75.0    75.0
Siege_Onager_cost_in_Wood      160.0  160.0    160.0       160.0   160.0
Siege_Ram_cost_in_Wood         160.0  160.0    160.0       160.0   160.0
Siege_Tower_cost_in_Wood       200.0  200.0    200.0       200.0   200.0
Battering_Ram_cost_in_Gold      75.0   75.0     75.0        75.0    75.0
Capped_Ram_cost_in_Gold         75.0   75.0     75.0        75.0    75.0
Heavy_Scorpion_cost_in_Gold     75.0   75.0     75.0        75.0    75.0
Mangonel_cost_in_Gold          135.0  135.0    135.0       135.0   135.0
Onager_cost_in_Gold            135.0  135.0    135.0       135.0   135.0
Scorpion_cost_in_Gold           75.0   75.0     75.0        75.0    75.0
Siege_Onager_cost_in_Gold      135.0  135.0    135.0       135.0   135.0
Siege_Ram_cost_in_Gold          75.0   75.0     75.0        75.0    75.0
Siege_Tower_cost_in_Gold       160.0  160.0    160.0       160.0   160.0


## Berbers: Stable units cost -15%/-20% in the Castle / Imperial Age.

In [35]:

# Berbers: Stable units cost -15%/-20% in the Castle / Imperial Age.
match_series = (unit_availability_df['Berbers'] == 1)
match_series = match_series & (unit_availability_df['Trained at'] == 'Stable')
stable_unit_list = unit_availability_df[match_series].index.tolist()

In [29]:

# Berbers: Stable units cost -15%/-20% in the Castle / Imperial Age.
percent_list = '-15%/-20%'.split('/')
age_list = 'Castle / Imperial'.split(' / ')
hp_list = list(zip(percent_list, age_list))
all_ages_list = ['Dark Age', 'Feudal Age', 'Castle Age', 'Imperial Age']
for i, (percentage, age) in enumerate(hp_list):
    print_str = 'Stable units cost {} in the {} Age.'
    print(i, print_str.format(percentage, age),
          all_ages_list[:all_ages_list.index('{} Age'.format(age))+1])

0 Stable units cost -15% in the Castle Age. ['Dark Age', 'Feudal Age', 'Castle Age']
1 Stable units cost -20% in the Imperial Age. ['Dark Age', 'Feudal Age', 'Castle Age', 'Imperial Age']

In [37]:

# Berbers: Stable units cost -15%/-20% in the Castle / Imperial Age.
civilization_bonuses_df = civilization_bonuses_df.T
column_name_list = []
name_str = '{}_cost_in_{}_in_the_{}_Age'
for age_name in age_list:
    for unit_name in stable_unit_list:
        unit_age = unit_availability_df.loc[unit_name, 'Age']
        if unit_age in all_ages_list[:all_ages_list.index('{} Age'.format(age_name))+1]:
            for res_name in ['Wood', 'Gold', 'Food']:
                column_value = unit_availability_df.loc[unit_name, res_name]
                if column_value > 0:
                    column_name = re.sub(' +', '_', name_str.format(unit_name, res_name, age_name))
                    column_name_list.append(column_name)
                    civilization_bonuses_df[column_name] = column_value

In [38]:

civilization_bonuses_df = civilization_bonuses_df.T
civilization_bonuses_df.T[column_name_list].sample(5).T

,Franks,Slavs,Ethiopians,Indians,Portuguese
Bonus Name,,,,,
Knight_cost_in_Gold_in_the_Castle_Age,75.0,75.0,75.0,75.0,75.0
Knight_cost_in_Food_in_the_Castle_Age,60.0,60.0,60.0,60.0,60.0
Light_Cavalry_cost_in_Food_in_the_Castle_Age,80.0,80.0,80.0,80.0,80.0
Scout_Cavalry_cost_in_Food_in_the_Castle_Age,80.0,80.0,80.0,80.0,80.0
Cavalier_cost_in_Gold_in_the_Imperial_Age,75.0,75.0,75.0,75.0,75.0
Cavalier_cost_in_Food_in_the_Imperial_Age,60.0,60.0,60.0,60.0,60.0
Knight_cost_in_Gold_in_the_Imperial_Age,75.0,75.0,75.0,75.0,75.0
Knight_cost_in_Food_in_the_Imperial_Age,60.0,60.0,60.0,60.0,60.0
Light_Cavalry_cost_in_Food_in_the_Imperial_Age,80.0,80.0,80.0,80.0,80.0
Scout_Cavalry_cost_in_Food_in_the_Imperial_Age,80.0,80.0,80.0,80.0,80.0


## Chinese: Start game with three extra Villagers , but with -200 food and -50 wood.


## Mayans: Start the game with +1 Villager , but with -50 food.


## Persians: Start the game with +50 food and +50 wood.


## Aztecs: Start the game with an Eagle Scout.


## Incas: Start the game with an Eagle Scout.


## Mayans: Start the game with an Eagle Scout.


## Aztecs: Start with +50 gold.


## Incas: Start with a free Llama.


## Koreans: Stone Miners work 20% faster.


## Chinese: Technologies are 10%/15%/20% cheaper in the Feudal/Castle/Imperial Age.

In [42]:

technology_availability_df.columns.tolist()

['Age', 'Building', 'Cost', 'Wood', 'Stone', 'Gold', 'Food', 'Effect', 'Heading', 'Previous', 'Intro', 'Time', 'Required', 'Next', 'Aztecs', 'Berbers', 'Britons', 'Burmese', 'Byzantines', 'Celts', 'Chinese', 'Ethiopians', 'Franks', 'Goths', 'Huns', 'Incas', 'Indians', 'Italians', 'Japanese', 'Khmer', 'Koreans', 'Magyars', 'Malay', 'Malians', 'Mayans', 'Mongols', 'Persians', 'Portuguese', 'Saracens', 'Slavs', 'Spanish', 'Teutons', 'Turks', 'Vietnamese', 'Vikings']

In [43]:

# Chinese: Technologies are 10%/15%/20% cheaper in the Feudal/Castle/Imperial Age.
match_series = (technology_availability_df['Chinese'] == 1)
tech_list = technology_availability_df[match_series].index.tolist()

In [44]:

# Chinese: Technologies are 10%/15%/20% cheaper in the Feudal/Castle/Imperial Age.
percent_list = '10%/15%/20%'.split('/')
age_list = 'Feudal/Castle/Imperial'.split('/')
tuple_list = list(zip(percent_list, age_list))
all_ages_list = ['Dark Age', 'Feudal Age', 'Castle Age', 'Imperial Age']
for i, (percentage, age) in enumerate(tuple_list):
    print_str = 'Technologies are {} cheaper in the {} Age.'
    print(i, print_str.format(percentage, age),
          all_ages_list[:all_ages_list.index('{} Age'.format(age))+1])

0 Technologies are 10% cheaper in the Feudal Age. ['Dark Age', 'Feudal Age']
1 Technologies are 15% cheaper in the Castle Age. ['Dark Age', 'Feudal Age', 'Castle Age']
2 Technologies are 20% cheaper in the Imperial Age. ['Dark Age', 'Feudal Age', 'Castle Age', 'Imperial Age']

In [65]:

# Chinese: Technologies are 10%/15%/20% cheaper in the Feudal/Castle/Imperial Age.
civilization_bonuses_df = civilization_bonuses_df.T
column_name_list = []
name_str = '{}_cost_in_{}_in_the_{}_Age'
all_ages_list = ['Dark', 'Feudal', 'Castle', 'Imperial']
for age_name in age_list:
    for tech_name in tech_list:
        tech_age = technology_availability_df.loc[tech_name, 'Age']
        if tech_age in all_ages_list[:all_ages_list.index(age_name)+1]:
            for res_name in ['Wood', 'Stone', 'Gold', 'Food']:
                column_value = technology_availability_df.loc[tech_name, res_name]
                if column_value > 0:
                    column_name = re.sub(' +', '_', name_str.format(tech_name, res_name, age_name))
                    column_name_list.append(column_name)
                    civilization_bonuses_df[column_name] = column_value

In [66]:

civilization_bonuses_df = civilization_bonuses_df.T
civilization_bonuses_df.T[column_name_list].sample(5).T

,Malay,Magyars,Malians,Koreans,Persians
Bonus Name,,,,,
Bloodlines_cost_in_Gold_in_the_Feudal_Age,100.0,100.0,100.0,100.0,100.0
Bloodlines_cost_in_Food_in_the_Feudal_Age,150.0,150.0,150.0,150.0,150.0
Castle_Age_cost_in_Gold_in_the_Feudal_Age,200.0,200.0,200.0,200.0,200.0
Castle_Age_cost_in_Food_in_the_Feudal_Age,800.0,800.0,800.0,800.0,800.0
Double-Bit_Axe_cost_in_Wood_in_the_Feudal_Age,50.0,50.0,50.0,50.0,50.0
Double-Bit_Axe_cost_in_Food_in_the_Feudal_Age,100.0,100.0,100.0,100.0,100.0
Feudal_Age_cost_in_Food_in_the_Feudal_Age,500.0,500.0,500.0,500.0,500.0
Fletching_cost_in_Gold_in_the_Feudal_Age,50.0,50.0,50.0,50.0,50.0
Fletching_cost_in_Food_in_the_Feudal_Age,100.0,100.0,100.0,100.0,100.0
Forging_cost_in_Food_in_the_Feudal_Age,150.0,150.0,150.0,150.0,150.0
Gold_Mining_cost_in_Wood_in_the_Feudal_Age,75.0,75.0,75.0,75.0,75.0
Gold_Mining_cost_in_Food_in_the_Feudal_Age,100.0,100.0,100.0,100.0,100.0
Horse_Collar_cost_in_Wood_in_the_Feudal_Age,75.0,75.0,75.0,75.0,75.0
Horse_Collar_cost_in_Food_in_the_Feudal_Age,75.0,75.0,75.0,75.0,75.0
Loom_cost_in_Gold_in_the_Feudal_Age,50.0,50.0,50.0,50.0,50.0
Padded_Archer_Armor_cost_in_Food_in_the_Feudal_Age,100.0,100.0,100.0,100.0,100.0
Scale_Barding_Armor_cost_in_Food_in_the_Feudal_Age,150.0,150.0,150.0,150.0,150.0
Scale_Mail_Armor_cost_in_Food_in_the_Feudal_Age,100.0,100.0,100.0,100.0,100.0
Stone_Mining_cost_in_Wood_in_the_Feudal_Age,75.0,75.0,75.0,75.0,75.0
Stone_Mining_cost_in_Food_in_the_Feudal_Age,100.0,100.0,100.0,100.0,100.0
Town_Watch_cost_in_Food_in_the_Feudal_Age,75.0,75.0,75.0,75.0,75.0
Tracking_cost_in_Food_in_the_Feudal_Age,50.0,50.0,50.0,50.0,50.0
Wheelbarrow_cost_in_Wood_in_the_Feudal_Age,50.0,50.0,50.0,50.0,50.0
Wheelbarrow_cost_in_Food_in_the_Feudal_Age,175.0,175.0,175.0,175.0,175.0
Arson_cost_in_Gold_in_the_Castle_Age,50.0,50.0,50.0,50.0,50.0
Arson_cost_in_Food_in_the_Castle_Age,150.0,150.0,150.0,150.0,150.0
Atonement_cost_in_Gold_in_the_Castle_Age,325.0,325.0,325.0,325.0,325.0
Ballistics_cost_in_Wood_in_the_Castle_Age,300.0,300.0,300.0,300.0,300.0
Ballistics_cost_in_Gold_in_the_Castle_Age,175.0,175.0,175.0,175.0,175.0
Bloodlines_cost_in_Gold_in_the_Castle_Age,100.0,100.0,100.0,100.0,100.0
...,...,...,...,...,...
Redemption_cost_in_Gold_in_the_Imperial_Age,475.0,475.0,475.0,475.0,475.0
Ring_Archer_Armor_cost_in_Gold_in_the_Imperial_Age,250.0,250.0,250.0,250.0,250.0
Ring_Archer_Armor_cost_in_Food_in_the_Imperial_Age,250.0,250.0,250.0,250.0,250.0
Rocketry_cost_in_Wood_in_the_Imperial_Age,600.0,600.0,600.0,600.0,600.0
Rocketry_cost_in_Gold_in_the_Imperial_Age,600.0,600.0,600.0,600.0,600.0
Sanctity_cost_in_Gold_in_the_Imperial_Age,120.0,120.0,120.0,120.0,120.0
Sappers_cost_in_Gold_in_the_Imperial_Age,200.0,200.0,200.0,200.0,200.0
Sappers_cost_in_Food_in_the_Imperial_Age,400.0,400.0,400.0,400.0,400.0
Scale_Barding_Armor_cost_in_Food_in_the_Imperial_Age,150.0,150.0,150.0,150.0,150.0
Scale_Mail_Armor_cost_in_Food_in_the_Imperial_Age,100.0,100.0,100.0,100.0,100.0
Shipwright_cost_in_Gold_in_the_Imperial_Age,300.0,300.0,300.0,300.0,300.0
Shipwright_cost_in_Food_in_the_Imperial_Age,1000.0,1000.0,1000.0,1000.0,1000.0
Spies_cost_in_Gold_in_the_Imperial_Age,30000.0,30000.0,30000.0,30000.0,30000.0
Squires_cost_in_Food_in_the_Imperial_Age,100.0,100.0,100.0,100.0,100.0
Stone_Mining_cost_in_Wood_in_the_Imperial_Age,75.0,75.0,75.0,75.0,75.0
Stone_Mining_cost_in_Food_in_the_Imperial_Age,100.0,100.0,100.0,100.0,100.0
Stone_Shaft_Mining_cost_in_Wood_in_the_Imperial_Age,150.0,150.0,150.0,150.0,150.0
Stone_Shaft_Mining_cost_in_Food_in_the_Imperial_Age,200.0,200.0,200.0,200.0,200.0
Theocracy_cost_in_Gold_in_the_Imperial_Age,200.0,200.0,200.0,200.0,200.0
Thumb_Ring_cost_in_Wood_in_the_Imperial_Age,250.0,250.0,250.0,250.0,250.0
Thumb_Ring_cost_in_Food_in_the_Imperial_Age,300.0,300.0,300.0,300.0,300.0
Town_Patrol_cost_in_Gold_in_the_Imperial_Age,100.0,100.0,100.0,100.0,100.0
Town_Patrol_cost_in_Food_in_the_Imperial_Age,300.0,300.0,300.0,300.0,300.0
Town_Watch_cost_in_Food_in_the_Imperial_Age,75.0,75.0,75.0,75.0,75.0
Tracking_cost_in_Food_in_the_Imperial_Age,50.0,50.0,50.0,50.0,50.0
Treason_cost_in_Gold_in_the_Imperial_Age,400.0,400.0,400.0,400.0,400.0
Two-Man_Saw_cost_in_Wood_in_the_Imperial_Age,200.0,200.0,200.0,200.0,200.0
Two-Man_Saw_cost_in_Food_in_the_Imperial_Age,300.0,300.0,300.0,300.0,300.0
Wheelbarrow_cost_in_Wood_in_the_Imperial_Age,50.0,50.0,50.0,50.0,50.0
Wheelbarrow_cost_in_Food_in_the_Imperial_Age,175.0,175.0,175.0,175.0,175.0


## Saracens: The commodity trading fee is 5%.


## Portuguese: The Feitoria becomes available for building in the Imperial Age.


## Ethiopians: The Pikeman upgrade is free.


## Magyars: The Scout Cavalry line is 15% cheaper.

In [77]:

# Magyars: The Scout Cavalry line is 15% cheaper.
unit_name = 'Scout Cavalry'
unit_line_list = []
unit_line_list.append(unit_name)
match_series = (unit_availability_df.index == unit_name) & (unit_availability_df['Magyars'] == 1)
upto_name = unit_availability_df[match_series]['Upgrades to'].tolist()[0]
while (upto_name is not pd.np.nan) and len(upto_name):
    unit_line_list.append(upto_name)
    match_series = (unit_availability_df.index == upto_name) & (unit_availability_df['Magyars'] == 1)
    upto_name = unit_availability_df[match_series]['Upgrades to'].tolist()[0]
unit_line_list

['Scout Cavalry', 'Light Cavalry', 'Hussar']

In [78]:

# Magyars: The Scout Cavalry line is 15% cheaper.
civilization_bonuses_df = civilization_bonuses_df.T
column_name_list = []
name_str = '{}_unit_cost_in_{}'
for unit_name in unit_line_list:
    for res_name in ['Wood', 'Gold', 'Food']:
        column_value = unit_availability_df.loc[unit_name, res_name]
        if column_value > 0:
            column_name = re.sub(' +', '_', name_str.format(unit_name, res_name))
            column_name_list.append(column_name)
            civilization_bonuses_df[column_name] = column_value

In [79]:

civilization_bonuses_df = civilization_bonuses_df.T
civilization_bonuses_df.T[column_name_list].sample(5).T

                                 Indians  Huns  Koreans  Incas  Khmer
Bonus Name
Scout_Cavalry_unit_cost_in_Food     80.0  80.0     80.0   80.0   80.0
Light_Cavalry_unit_cost_in_Food     80.0  80.0     80.0   80.0   80.0
Hussar_unit_cost_in_Food            80.0  80.0     80.0   80.0   80.0


## Koreans: Tower upgrades are free ( Bombard Tower requires Chemistry ).

In [87]:

# Koreans: Tower upgrades are free ( Bombard Tower requires Chemistry ).
resource_set = set()
for column_name in building_availability_df.columns:
    resource_boolean = ('korea' in column_name.lower())
    resource_boolean = resource_boolean or ('tower' in column_name.lower())
    resource_boolean = resource_boolean or ('stone' in column_name.lower())
    resource_boolean = resource_boolean or ('gold' in column_name.lower())
    resource_boolean = resource_boolean or ('wood' in column_name.lower())
    resource_boolean = resource_boolean or ('food' in column_name.lower())
    if resource_boolean:
        resource_set.add(column_name)
resource_set

{'In_Stone_defense_Armor_class', 'Stone', 'UpCost_Wood', 'UpCost_Food', 'Food', 'Koreans', 'Gold', 'Wood'}

In [85]:

# Koreans: Tower upgrades are free ( Bombard Tower requires Chemistry ).
tech_set = set()
for index_name in building_availability_df.index:
    index_boolean = ('korea' in index_name.lower())
    index_boolean = index_boolean or ('tower' in index_name.lower())
    index_boolean = index_boolean or ('keep' in index_name.lower())
    if index_boolean:
        tech_set.add(index_name)
tech_set

{'Guard Tower', 'Watch Tower', 'Keep', 'Bombard Tower'}

In [88]:

# Koreans: Tower upgrades are free ( Bombard Tower requires Chemistry ).
building_availability_df.loc[tech_set, resource_set].T

Building Name                 Guard Tower  Watch Tower  Keep  Bombard Tower
In_Stone_defense_Armor_class            1            1     1              1
Stone                                 125          125   125            125
UpCost_Wood                           350          250     0              0
UpCost_Food                           500          100     0              0
Food                                    0            0     0              0
Koreans                                 1            1     1              1
Gold                                    0            0     0            100
Wood                                   50           50    50              0

In [90]:

# Koreans: Tower upgrades are free ( Bombard Tower requires Chemistry ).
match_series = (building_availability_df['Koreans'] == 1)
match_series = match_series & (building_availability_df['In_Stone_defense_Armor_class'] == 1)
match_series = match_series & (building_availability_df['In_Wall_and_gate_Armor_class'] == 0)
match_series = match_series & (building_availability_df['In_Castle_Armor_class'] == 0)
columns_list = ['UpCost_Wood', 'UpCost_Food']
towers_list = building_availability_df[match_series].index.tolist()
building_availability_df[match_series][columns_list]

               UpCost_Wood  UpCost_Food
Building Name
Keep                     0            0
Guard Tower            350          500
Watch Tower            250          100
Bombard Tower            0            0

In [97]:

# Koreans: Tower upgrades are free ( Bombard Tower requires Chemistry ).
civilization_bonuses_df = civilization_bonuses_df.T
column_name_list = []
name_str = '{}_building_{}'
for building_name in towers_list:
    for res_name in ['UpCost_Wood', 'UpCost_Food']:
        column_value = building_availability_df.loc[building_name, res_name]
        if column_value > 0:
            column_name = re.sub(' +', '_', name_str.format(building_name, res_name))
            column_name_list.append(column_name)
            civilization_bonuses_df[column_name] = column_value

In [98]:

civilization_bonuses_df = civilization_bonuses_df.T
civilization_bonuses_df.T[column_name_list].sample(5).T

,Byzantines,Ethiopians,Magyars,Malay,Mayans
Bonus Name,,,,,
Guard_Tower_building_UpCost_Wood,350.0,350.0,350.0,350.0,350.0
Guard_Tower_building_UpCost_Food,500.0,500.0,500.0,500.0,500.0
Watch_Tower_building_UpCost_Wood,250.0,250.0,250.0,250.0,250.0
Watch_Tower_building_UpCost_Food,100.0,100.0,100.0,100.0,100.0


## Koreans: Towers (except Bombard Towers ) have +1/+2 range in the Castle/Imperial Age.

In [104]:

# Koreans: Towers (except Bombard Towers ) have +1/+2 range in the Castle/Imperial Age.
match_series = (building_availability_df.index.isin(towers_list))
columns_list = [cn for cn in building_availability_df.columns if cn.startswith('In_')]
building_availability_df[match_series][columns_list].T

Building Name,Keep,Guard Tower,Watch Tower,Bombard Tower
In_Building_Armor_class,1,1,1,1
In_Standard_building_Armor_class,1,1,1,1
In_Stone_defense_Armor_class,1,1,1,1
In_Wall_and_gate_Armor_class,0,0,0,0
In_Gunpowder_unit_Armor_class,0,0,0,1
In_Castle_Armor_class,0,0,0,0

In [105]:

# Koreans: Towers (except Bombard Towers ) have +1/+2 range in the Castle/Imperial Age.
match_series = (building_availability_df['Koreans'] == 1)
match_series = match_series & (building_availability_df['In_Stone_defense_Armor_class'] == 1)
match_series = match_series & (building_availability_df['In_Wall_and_gate_Armor_class'] == 0)
match_series = match_series & (building_availability_df['In_Castle_Armor_class'] == 0)
match_series = match_series & (building_availability_df['In_Gunpowder_unit_Armor_class'] == 0)
columns_list = ['Range']
towers_list = building_availability_df[match_series].index.tolist()
building_availability_df[match_series][columns_list]

               Range
Building Name
Keep               8
Guard Tower        8
Watch Tower        8

In [118]:

# Koreans: Towers (except Bombard Towers ) have +1/+2 range in the Castle/Imperial Age.
bonus_list = '+1/+2'.split('/')
age_list = 'Castle/Imperial'.split('/')
tuple_list = list(zip(bonus_list, age_list))
all_ages_list = ['Dark Age', 'Feudal Age', 'Castle Age', 'Imperial Age']
print_str = 'Towers (except Bombard Towers ) have {} range in the {} Age.'
for i, (percentage, age) in enumerate(tuple_list):
    print(i, print_str.format(percentage, age),
          all_ages_list[:all_ages_list.index('{} Age'.format(age))+1])

0 Towers (except Bombard Towers ) have +1 range in the Castle Age. ['Dark Age', 'Feudal Age', 'Castle Age']
1 Towers (except Bombard Towers ) have +2 range in the Imperial Age. ['Dark Age', 'Feudal Age', 'Castle Age', 'Imperial Age']

In [122]:

# Koreans: Towers (except Bombard Towers ) have +1/+2 range in the Castle/Imperial Age.
civilization_bonuses_df = civilization_bonuses_df.T
column_name_list = []
name_str = '{}_Range_in_the_{}_Age'
for age_name in age_list:
    for tower_name in towers_list:
        tower_age = building_availability_df.loc[tower_name, 'Age']
        if tower_age in all_ages_list[:all_ages_list.index('{} Age'.format(age_name))+1]:
            column_value = building_availability_df.loc[tower_name, 'Range']
            if column_value > 0:
                column_name = re.sub(' +', '_', name_str.format(tower_name, age_name))
                column_name_list.append(column_name)
                civilization_bonuses_df[column_name] = column_value

In [123]:

# Koreans: Towers (except Bombard Towers ) have +1/+2 range in the Castle/Imperial Age.
civilization_bonuses_df = civilization_bonuses_df.T
civilization_bonuses_df.T[column_name_list].sample(5).T

,Spanish,Koreans,Franks,Vietnamese,Ethiopians
Bonus Name,,,,,
Guard_Tower_Range_in_the_Castle_Age,8.0,8.0,8.0,8.0,8.0
Watch_Tower_Range_in_the_Castle_Age,8.0,8.0,8.0,8.0,8.0
Keep_Range_in_the_Imperial_Age,8.0,8.0,8.0,8.0,8.0
Guard_Tower_Range_in_the_Imperial_Age,8.0,8.0,8.0,8.0,8.0
Watch_Tower_Range_in_the_Imperial_Age,8.0,8.0,8.0,8.0,8.0


## Teutons: Towers garrison twice as many units.

In [125]:

# Teutons: Towers garrison twice as many units.
match_series = (building_availability_df['Teutons'] == 1)
match_series = match_series & (building_availability_df['In_Stone_defense_Armor_class'] == 1)
match_series = match_series & (building_availability_df['In_Wall_and_gate_Armor_class'] == 0)
match_series = match_series & (building_availability_df['In_Castle_Armor_class'] == 0)
columns_list = ['Garrison']
towers_list = building_availability_df[match_series].index.tolist()
building_availability_df[match_series][columns_list]

               Garrison
Building Name
Keep                5.0
Guard Tower         5.0
Watch Tower         5.0
Bombard Tower       5.0

In [127]:

# Teutons: Towers garrison twice as many units.
civilization_bonuses_df = civilization_bonuses_df.T
column_name_list = []
name_str = '{}_Garrison_count'
for tower_name in towers_list:
    column_value = building_availability_df.loc[tower_name, 'Garrison']
    if column_value > 0:
        column_name = re.sub(' +', '_', name_str.format(tower_name))
        column_name_list.append(column_name)
        civilization_bonuses_df[column_name] = column_value

In [128]:

# Teutons: Towers garrison twice as many units.
civilization_bonuses_df = civilization_bonuses_df.T
civilization_bonuses_df.T[column_name_list].sample(5).T

                              Teutons  Persians  Malay  Franks  Khmer
Bonus Name
Keep_Garrison_count               5.0       5.0    5.0     5.0    5.0
Guard_Tower_Garrison_count        5.0       5.0    5.0     5.0    5.0
Watch_Tower_Garrison_count        5.0       5.0    5.0     5.0    5.0
Bombard_Tower_Garrison_count      5.0       5.0    5.0     5.0    5.0


## Persians: Town Centers and Docks have double HP and work 10%/15%/20% faster in the Feudal/Castle/Imperial Age.

In [136]:

index_name = 'Building Name'
dataframes_dict = load_dataframes(building_availability_df='building_availability_df')
building_availability_df = dataframes_dict['building_availability_df']
if 'Unnamed: 0' in building_availability_df.columns:
    building_availability_df = building_availability_df.set_index('Unnamed: 0')
elif index_name in building_availability_df.columns:
    building_availability_df = building_availability_df.set_index(index_name)
building_availability_df.index.name = index_name

Attempting to load C:\Users\dev\Documents\repositories\notebooks\age-of-empires-ii\saves\pickle\building_availability_df.pickle.
No pickle exists - attempting to load C:\Users\dev\Documents\repositories\notebooks\age-of-empires-ii\saves\csv\building_availability_df.csv.

In [137]:

# Persians: Town Centers and Docks have double HP and
# work 10%/15%/20% faster in the Feudal/Castle/Imperial Age.
resource_set = set()
for column_name in building_availability_df.columns:
    resource_boolean = ('pers' in column_name.lower())
    resource_boolean = resource_boolean or ('town' in column_name.lower())
    resource_boolean = resource_boolean or ('center' in column_name.lower())
    resource_boolean = resource_boolean or ('dock' in column_name.lower())
    resource_boolean = resource_boolean or ('hp' in column_name.lower())
    resource_boolean = resource_boolean or (('hit' in column_name.lower()) and
                                            ('point' in column_name.lower()))
    if resource_boolean:
        resource_set.add(column_name)
resource_set

{'Persians', 'HP_upon_reaching_Dark_Age', 'HP_upon_reaching_Castle_Age', 'HP_upon_reaching_Feudal_Age', 'HP_upon_reaching_Imperial_Age'}

In [138]:

# Persians: Town Centers and Docks have double HP and
# work 10%/15%/20% faster in the Feudal/Castle/Imperial Age.
building_set = set()
for index_name in building_availability_df.index:
    index_boolean = ('pers' in index_name.lower())
    index_boolean = index_boolean or ('town' in index_name.lower())
    index_boolean = index_boolean or ('center' in index_name.lower())
    index_boolean = index_boolean or ('dock' in index_name.lower())
    index_boolean = index_boolean or ('hp' in index_name.lower())
    index_boolean = index_boolean or (('hit' in index_name.lower()) and
                                      ('point' in index_name.lower()))
    if index_boolean:
        building_set.add(index_name)
building_set

{'Town Center', 'Dock'}

In [139]:

# Persians: Town Centers and Docks have double HP and
# work 10%/15%/20% faster in the Feudal/Castle/Imperial Age.
building_availability_df.loc[building_set, resource_set].T

Building Name                  Town Center    Dock
Persians                               1.0     1.0
HP_upon_reaching_Dark_Age           2400.0  1800.0
HP_upon_reaching_Castle_Age         2400.0  1800.0
HP_upon_reaching_Feudal_Age         2400.0  1800.0
HP_upon_reaching_Imperial_Age       2400.0  1800.0

In [140]:

# Persians: Town Centers and Docks have double HP and
# work 10%/15%/20% faster in the Feudal/Castle/Imperial Age.
match_series = (building_availability_df.index.isin(building_set))
columns_list = [cn for cn in building_availability_df.columns if cn.startswith('In_')]
building_availability_df[match_series][columns_list].T

Building Name                     Dock  Town Center
In_Building_Armor_class              1            1
In_Standard_building_Armor_class     1            1
In_Stone_defense_Armor_class         0            0
In_Wall_and_gate_Armor_class         0            0
In_Gunpowder_unit_Armor_class        0            0
In_Castle_Armor_class                0            0

In [142]:

# Persians: Town Centers and Docks have double HP and
# work 10%/15%/20% faster in the Feudal/Castle/Imperial Age.
match_series = (building_availability_df['Persians'] == 1)
match_series = match_series & (building_availability_df['In_Building_Armor_class'] == 1)
match_series = match_series & (building_availability_df['In_Standard_building_Armor_class'] == 1)
match_series = match_series & (building_availability_df['In_Stone_defense_Armor_class'] == 0)
match_series = match_series & (building_availability_df['In_Wall_and_gate_Armor_class'] == 0)
match_series = match_series & (building_availability_df['In_Gunpowder_unit_Armor_class'] == 0)
match_series = match_series & (building_availability_df['In_Castle_Armor_class'] == 0)
building_list = building_availability_df[match_series].index.tolist()
all_ages_list = ['Dark Age', 'Feudal Age', 'Castle Age', 'Imperial Age']
name_str = 'HP_upon_reaching_{}'
hp_columns_list = [re.sub(' +', '_', name_str.format(age)) for age in all_ages_list]
building_availability_df[match_series][hp_columns_list]

,HP_upon_reaching_Dark_Age,HP_upon_reaching_Feudal_Age,HP_upon_reaching_Castle_Age,HP_upon_reaching_Imperial_Age
Building Name,,,,
Archery Range,NaN,1500.0,1800.0,2100
Barracks,1200.0,1500.0,1800.0,2100
Blacksmith,NaN,1800.0,2100.0,2100
Dock,1800.0,1800.0,1800.0,1800
Farm,480.0,480.0,480.0,480
House,550.0,750.0,900.0,900
Lumber Camp,600.0,800.0,1000.0,1000
Market,NaN,1800.0,2100.0,2100
Mill,600.0,800.0,1000.0,1000
Mining Camp,600.0,800.0,1000.0,1000
Monastery,NaN,NaN,2100.0,2100
Outpost,500.0,500.0,500.0,500
Palisade Gate,400.0,400.0,400.0,400
Siege Workshop,NaN,NaN,1800.0,2100
Stable,NaN,1500.0,1800.0,2100
Town Center,2400.0,2400.0,2400.0,2400
University,NaN,NaN,2100.0,2100

In [ ]:

# From http://aok.heavengames.com/university/strategy/statistics/an-insight-about-gathering/
Villager_Shore_Fish_carrying_capacity = 10
Fishing_Ship_Shore_Fish_carrying_capacity = 15
Forage_Bush_food_gathering_per_second_by_Villager = 0.310
Sheep_food_gathering_per_second_by_Villager = 0.330
Boar_food_gathering_per_second_by_Villager = 0.408
Deer_food_gathering_per_second_by_Villager = 0.408
Shore_Fish_food_gathering_per_second_by_Villager = 0.426
Shore_Fish_food_gathering_per_second_by_Fishing_Ship = 0.280
Deep_Fish_food_gathering_per_second_by_Fishing_Ship = 0.487
Trapped_Fish_food_gathering_per_second_by_Fishing_Ship = 0.206
Farm_food_gathering_per_second_by_Villager = 0.319

In [ ]:

# From Toothbrush42's approximate resource gathering rates at
# https://www.reddit.com/r/aoe2/comments/1mmb6n/finally_more_data_approximate_resource_gathering/
Berries_per_Villager_per_Minute = 1
Sheep_per_Villager_per_Minute = 1
Boar_per_Villager_per_Minute = 22
Deer_per_Villager_per_Minute = 22
Shore_Fish_per_Villager_per_Minute = 2
Deep_Fish_per_Fishing_Ship_per_Minute = 2
Trapped_Fish_per_Fishing_Ship_per_Minute = 20
Farm_food_per_Villager_per_Minute = 2
Lumber_per_Villager_per_Minute = 2
Gold_per_Villager_per_Minute = 2
Stone_per_Villager_per_Minute = 2

In [148]:

# Persians: Town Centers and Docks have double HP and
# work 10%/15%/20% faster in the Feudal/Castle/Imperial Age.
town_center_dict = {}
town_center_dict['Berries_per_Villager_per_Minute'] = 1
town_center_dict['Sheep_per_Villager_per_Minute'] = 1
town_center_dict['Boar_per_Villager_per_Minute'] = 22
town_center_dict['Deer_per_Villager_per_Minute'] = 22
town_center_dict['Shore_Fish_per_Villager_per_Minute'] = 2
town_center_dict['Farm_food_per_Villager_per_Minute'] = 2
town_center_dict['Lumber_per_Villager_per_Minute'] = 2
town_center_dict['Gold_per_Villager_per_Minute'] = 2
town_center_dict['Stone_per_Villager_per_Minute'] = 2

In [179]:

# Persians: Town Centers and Docks have double HP and
# work 10%/15%/20% faster in the Feudal/Castle/Imperial Age.
dock_dict = {}
dock_dict['Deep_Fish_per_Fishing_Ship_per_Minute'] = 2
dock_dict['Trapped_Fish_per_Fishing_Ship_per_Minute'] = 20

In [201]:

# Persians: Town Centers and Docks have double HP and
# work 10%/15%/20% faster in the Feudal/Castle/Imperial Age.
civilization_bonuses_df = civilization_bonuses_df.T
column_name_list = []
for age_name in all_ages_list[1:]:
    res_name = re.sub(' +', '_', 'HP_upon_reaching_{}'.format(age_name))
    for building_name in building_set:
        column_value = building_availability_df.loc[building_name, res_name]
        if column_value > 0:
            column_name = re.sub(' +', '_', '{}_{}'.format(building_name, res_name))
            column_name_list.append(column_name)
            civilization_bonuses_df[column_name] = column_value

In [202]:

# Persians: Town Centers and Docks have double HP and
# work 10%/15%/20% faster in the Feudal/Castle/Imperial Age.
civilization_bonuses_df = civilization_bonuses_df.T
civilization_bonuses_df.T[column_name_list].sample(5).T

,Malay,Malians,Saracens,Spanish,Koreans
Bonus Name,,,,,
Town_Center_HP_upon_reaching_Feudal_Age,2400.0,2400.0,2400.0,2400.0,2400.0
Dock_HP_upon_reaching_Feudal_Age,1800.0,1800.0,1800.0,1800.0,1800.0
Town_Center_HP_upon_reaching_Castle_Age,2400.0,2400.0,2400.0,2400.0,2400.0
Dock_HP_upon_reaching_Castle_Age,1800.0,1800.0,1800.0,1800.0,1800.0
Town_Center_HP_upon_reaching_Imperial_Age,2400.0,2400.0,2400.0,2400.0,2400.0
Dock_HP_upon_reaching_Imperial_Age,1800.0,1800.0,1800.0,1800.0,1800.0

In [203]:

# Persians: Town Centers and Docks have double HP and
# work 10%/15%/20% faster in the Feudal/Castle/Imperial Age.
civilization_bonuses_df = civilization_bonuses_df.T
column_name_list = []
for age_name in all_ages_list[1:]:
    for res_name, column_value in town_center_dict.items():
        column_str = '{}_to_the_Town_Center_upon_reaching_{}'.format(res_name, age_name)
        column_name = re.sub(' +', '_', column_str)
        column_name_list.append(column_name)
        civilization_bonuses_df[column_name] = column_value
    for res_name, column_value in dock_dict.items():
        column_str = '{}_to_the_Dock_upon_reaching_{}'.format(res_name, age_name)
        column_name = re.sub(' +', '_', column_str)
        column_name_list.append(column_name)
        civilization_bonuses_df[column_name] = column_value

In [204]:

# Persians: Town Centers and Docks have double HP and
# work 10%/15%/20% faster in the Feudal/Castle/Imperial Age.
civilization_bonuses_df = civilization_bonuses_df.T
civilization_bonuses_df.T[column_name_list].sample(5).T

,Vietnamese,Saracens,Franks,Khmer,Malay
Bonus Name,,,,,
Berries_per_Villager_per_Minute_to_the_Town_Center_upon_reaching_Feudal_Age,1.0,1.0,1.0,1.0,1.0
Sheep_per_Villager_per_Minute_to_the_Town_Center_upon_reaching_Feudal_Age,1.0,1.0,1.0,1.0,1.0
Boar_per_Villager_per_Minute_to_the_Town_Center_upon_reaching_Feudal_Age,22.0,22.0,22.0,22.0,22.0
Deer_per_Villager_per_Minute_to_the_Town_Center_upon_reaching_Feudal_Age,22.0,22.0,22.0,22.0,22.0
Shore_Fish_per_Villager_per_Minute_to_the_Town_Center_upon_reaching_Feudal_Age,2.0,2.0,2.0,2.0,2.0
Farm_food_per_Villager_per_Minute_to_the_Town_Center_upon_reaching_Feudal_Age,2.0,2.0,2.0,2.0,2.0
Lumber_per_Villager_per_Minute_to_the_Town_Center_upon_reaching_Feudal_Age,2.0,2.0,2.0,2.0,2.0
Gold_per_Villager_per_Minute_to_the_Town_Center_upon_reaching_Feudal_Age,2.0,2.0,2.0,2.0,2.0
Stone_per_Villager_per_Minute_to_the_Town_Center_upon_reaching_Feudal_Age,2.0,2.0,2.0,2.0,2.0
Deep_Fish_per_Fishing_Ship_per_Minute_to_the_Dock_upon_reaching_Feudal_Age,2.0,2.0,2.0,2.0,2.0
Trapped_Fish_per_Fishing_Ship_per_Minute_to_the_Dock_upon_reaching_Feudal_Age,20.0,20.0,20.0,20.0,20.0
Berries_per_Villager_per_Minute_to_the_Town_Center_upon_reaching_Castle_Age,1.0,1.0,1.0,1.0,1.0
Sheep_per_Villager_per_Minute_to_the_Town_Center_upon_reaching_Castle_Age,1.0,1.0,1.0,1.0,1.0
Boar_per_Villager_per_Minute_to_the_Town_Center_upon_reaching_Castle_Age,22.0,22.0,22.0,22.0,22.0
Deer_per_Villager_per_Minute_to_the_Town_Center_upon_reaching_Castle_Age,22.0,22.0,22.0,22.0,22.0
Shore_Fish_per_Villager_per_Minute_to_the_Town_Center_upon_reaching_Castle_Age,2.0,2.0,2.0,2.0,2.0
Farm_food_per_Villager_per_Minute_to_the_Town_Center_upon_reaching_Castle_Age,2.0,2.0,2.0,2.0,2.0
Lumber_per_Villager_per_Minute_to_the_Town_Center_upon_reaching_Castle_Age,2.0,2.0,2.0,2.0,2.0
Gold_per_Villager_per_Minute_to_the_Town_Center_upon_reaching_Castle_Age,2.0,2.0,2.0,2.0,2.0
Stone_per_Villager_per_Minute_to_the_Town_Center_upon_reaching_Castle_Age,2.0,2.0,2.0,2.0,2.0
Deep_Fish_per_Fishing_Ship_per_Minute_to_the_Dock_upon_reaching_Castle_Age,2.0,2.0,2.0,2.0,2.0
Trapped_Fish_per_Fishing_Ship_per_Minute_to_the_Dock_upon_reaching_Castle_Age,20.0,20.0,20.0,20.0,20.0
Berries_per_Villager_per_Minute_to_the_Town_Center_upon_reaching_Imperial_Age,1.0,1.0,1.0,1.0,1.0
Sheep_per_Villager_per_Minute_to_the_Town_Center_upon_reaching_Imperial_Age,1.0,1.0,1.0,1.0,1.0
Boar_per_Villager_per_Minute_to_the_Town_Center_upon_reaching_Imperial_Age,22.0,22.0,22.0,22.0,22.0
Deer_per_Villager_per_Minute_to_the_Town_Center_upon_reaching_Imperial_Age,22.0,22.0,22.0,22.0,22.0
Shore_Fish_per_Villager_per_Minute_to_the_Town_Center_upon_reaching_Imperial_Age,2.0,2.0,2.0,2.0,2.0
Farm_food_per_Villager_per_Minute_to_the_Town_Center_upon_reaching_Imperial_Age,2.0,2.0,2.0,2.0,2.0
Lumber_per_Villager_per_Minute_to_the_Town_Center_upon_reaching_Imperial_Age,2.0,2.0,2.0,2.0,2.0
Gold_per_Villager_per_Minute_to_the_Town_Center_upon_reaching_Imperial_Age,2.0,2.0,2.0,2.0,2.0
Stone_per_Villager_per_Minute_to_the_Town_Center_upon_reaching_Imperial_Age,2.0,2.0,2.0,2.0,2.0
Deep_Fish_per_Fishing_Ship_per_Minute_to_the_Dock_upon_reaching_Imperial_Age,2.0,2.0,2.0,2.0,2.0
Trapped_Fish_per_Fishing_Ship_per_Minute_to_the_Dock_upon_reaching_Imperial_Age,20.0,20.0,20.0,20.0,20.0


## Teutons: Town Centers can garrison +10 units.


### Britons: Town Centers cost -50% wood once the Castle Age is reached.


## Chinese: Town Centers support ten population and have +5 LOS.


## Byzantines: Town Watch is free.


## Slavs: Tracking is free.


## Saracens: Transport Ships have double HP and +5 carry capacity.


## Huns: Trebuchets are 30% more accurate.

In [208]:

# Huns: Trebuchets are 30% more accurate.
resource_set = set()
for column_name in unit_availability_df.columns:
    resource_boolean = ('hun' in column_name.lower())
    resource_boolean = resource_boolean or ('treb' in column_name.lower())
    resource_boolean = resource_boolean or ('accur' in column_name.lower())
    if resource_boolean:
        resource_set.add(column_name)
resource_set

{'Huns', 'Accuracy_against_buildings', 'Accuracy_against_units'}

In [209]:

# Huns: Trebuchets are 30% more accurate.
unit_set = set()
for index_name in unit_availability_df.index:
    index_boolean = ('hun' in index_name.lower())
    index_boolean = index_boolean or ('treb' in index_name.lower())
    index_boolean = index_boolean or ('accur' in index_name.lower())
    if index_boolean:
        unit_set.add(index_name)
unit_set

{'Trebuchet (packed)', 'Trebuchet (unpacked)'}

In [211]:

# Huns: Trebuchets are 30% more accurate.
unit_availability_df.loc[unit_set, resource_set].T

Unit Name                   Trebuchet (packed)  Trebuchet (unpacked)
Huns                                         1                     1
Accuracy_against_buildings                  80                    80
Accuracy_against_units                      15                    15

In [213]:

# Huns: Trebuchets are 30% more accurate.
civilization_bonuses_df = civilization_bonuses_df.T
column_name_list = []
unit_name = 'Trebuchet (unpacked)'
for res_name in ['Accuracy_against_buildings', 'Accuracy_against_units']:
    column_value = unit_availability_df.loc[unit_name, res_name]
    if column_value > 0:
        column_str = '{}_{}'.format(unit_name, res_name)
        column_name = re.sub(' +', '_', column_str)
        column_name_list.append(column_name)
        civilization_bonuses_df[column_name] = column_value

In [214]:

# Huns: Trebuchets are 30% more accurate.
civilization_bonuses_df = civilization_bonuses_df.T
civilization_bonuses_df.T[column_name_list].sample(5).T

,Berbers,Malay,Teutons,Goths,Aztecs
Bonus Name,,,,,
Trebuchet_(unpacked)_Accuracy_against_buildings,80.0,80.0,80.0,80.0,80.0
Trebuchet_(unpacked)_Accuracy_against_units,15.0,15.0,15.0,15.0,15.0


## Indians: Villagers are 10%/15%/20%/25% cheaper in the Dark/Feudal/Castle/Imperial Age.

In [220]:

# Indians: Villagers are 10%/15%/20%/25% cheaper in the Dark/Feudal/Castle/Imperial Age.
bonus_list = '10%/15%/20%/25%'.split('/')
age_list = 'Dark/Feudal/Castle/Imperial'.split('/')
tuple_list = list(zip(bonus_list, age_list))
print_str = 'Villagers are {} cheaper in the {} Age.'
for i, (percentage, age) in enumerate(tuple_list):
    print(i, print_str.format(percentage, age))

0 Villagers are 10% cheaper in the Dark Age.
1 Villagers are 15% cheaper in the Feudal Age.
2 Villagers are 20% cheaper in the Castle Age.
3 Villagers are 25% cheaper in the Imperial Age.

In [222]:

index_name = 'Bonus Name'
dataframes_dict = load_dataframes(civilization_bonuses_df='civilization_bonuses_df')
civilization_bonuses_df = dataframes_dict['civilization_bonuses_df']
if 'Unnamed: 0' in civilization_bonuses_df.columns:
    civilization_bonuses_df = civilization_bonuses_df.set_index('Unnamed: 0')
elif index_name in civilization_bonuses_df.columns:
    civilization_bonuses_df = civilization_bonuses_df.set_index(index_name)
civilization_bonuses_df.index.name = index_name

Attempting to load C:\Users\dev\Documents\repositories\notebooks\age-of-empires-ii\saves\pickle\civilization_bonuses_df.pickle.
No pickle exists - attempting to load C:\Users\dev\Documents\repositories\notebooks\age-of-empires-ii\saves\csv\civilization_bonuses_df.csv.

In [223]:

# Indians: Villagers are 10%/15%/20%/25% cheaper in the Dark/Feudal/Castle/Imperial Age.
civilization_bonuses_df = civilization_bonuses_df.T
column_name_list = []
name_str = '{}_cost_in_{}_in_the_{}_Age'
unit_name = 'Villager'
for age_name in age_list:
    for res_name in ['Wood', 'Gold', 'Food']:
        column_value = unit_availability_df.loc[unit_name, res_name]
        if column_value > 0:
            column_name = re.sub(' +', '_', name_str.format(unit_name, res_name, age_name))
            column_name_list.append(column_name)
            civilization_bonuses_df[column_name] = column_value

In [224]:

# Indians: Villagers are 10%/15%/20%/25% cheaper in the Dark/Feudal/Castle/Imperial Age.
civilization_bonuses_df = civilization_bonuses_df.T
civilization_bonuses_df.T[column_name_list].sample(5).T

,Berbers,Mayans,Franks,Koreans,Spanish
Bonus Name,,,,,
Villager_cost_in_Food_in_the_Dark_Age,50.0,50.0,50.0,50.0,50.0
Villager_cost_in_Food_in_the_Feudal_Age,50.0,50.0,50.0,50.0,50.0
Villager_cost_in_Food_in_the_Castle_Age,50.0,50.0,50.0,50.0,50.0
Villager_cost_in_Food_in_the_Imperial_Age,50.0,50.0,50.0,50.0,50.0

In [225]:

columns_list = civilization_bonuses_df.columns
file_path = os.path.join(DATA_CSV_FOLDER, 'civilization_bonuses_df.csv')
print('Saving to {}'.format(os.path.abspath(file_path)))
civilization_bonuses_df[columns_list].to_csv(file_path)
save_dataframes(include_index=True, civilization_bonuses_df=civilization_bonuses_df[columns_list])
xlsx_folder = os.path.join(DATA_FOLDER, 'xlsx')
os.makedirs(name=xlsx_folder, exist_ok=True)
file_path = os.path.join(xlsx_folder, 'civilization_bonuses_df.xlsx')
print('Saving to {}'.format(os.path.abspath(file_path)))
civilization_bonuses_df[columns_list].to_excel(file_path)

Saving to C:\Users\dev\Documents\repositories\notebooks\age-of-empires-ii\data\csv\civilization_bonuses_df.csv
Saving to C:\Users\dev\Documents\repositories\notebooks\age-of-empires-ii\saves\csv\civilization_bonuses_df.csv
Saving to C:\Users\dev\Documents\repositories\notebooks\age-of-empires-ii\data\xlsx\civilization_bonuses_df.xlsx


## Incas: Villagers benefit from Blacksmith infantry upgrades.

In [230]:

index_name = 'Technology Name'
dataframes_dict = load_dataframes(technology_availability_df='technology_availability_df')
technology_availability_df = dataframes_dict['technology_availability_df']
if 'Unnamed: 0' in technology_availability_df.columns:
    technology_availability_df = technology_availability_df.set_index('Unnamed: 0')
elif index_name in technology_availability_df.columns:
    technology_availability_df = technology_availability_df.set_index(index_name)
technology_availability_df.index.name = index_name

Attempting to load C:\Users\dev\Documents\repositories\notebooks\age-of-empires-ii\saves\pickle\technology_availability_df.pickle.
No pickle exists - attempting to load C:\Users\dev\Documents\repositories\notebooks\age-of-empires-ii\saves\csv\technology_availability_df.csv.

In [232]:

# Incas: Villagers benefit from Blacksmith infantry upgrades.
match_series = (technology_availability_df['Incas'] == 1)
match_series = match_series & (technology_availability_df['Researched_in_Blacksmith'] == 1)
match_series = match_series & (technology_availability_df['Technology_Type'] == 'Infantry')
columns_list = ['Effect', 'Previous', 'Intro', 'Required', 'Next']
technology_availability_df[match_series][columns_list]

,Effect,Previous,Intro,Required,Next
Technology Name,,,,,
Blast Furnace,Infantry/cavalry attack +2,NaN,The Age of Kings,Iron Casting,NaN
Chain Mail Armor,Infantry armor +1/+1,NaN,The Age of Kings,Scale Mail Armor,Plate Mail Armor
Forging,Infantry/cavalry attack +1,NaN,The Age of Kings,NaN,Iron Casting
Iron Casting,Infantry/cavalry attack +1,NaN,The Age of Kings,Forging,Blast Furnace
Plate Mail Armor,Infantry armor +1/+2,NaN,The Age of Kings,Chain Mail Armor,NaN
Scale Mail Armor,Infantry armor +1/+1,NaN,The Age of Kings,NaN,Chain Mail Armor

In [233]:

index_name = 'Unit Name'
dataframes_dict = load_dataframes(unit_availability_df='unit_availability_df')
unit_availability_df = dataframes_dict['unit_availability_df']
if 'Unnamed: 0' in unit_availability_df.columns:
    unit_availability_df = unit_availability_df.set_index('Unnamed: 0')
elif index_name in unit_availability_df.columns:
    unit_availability_df = unit_availability_df.set_index(index_name)
unit_availability_df.index.name = index_name

Attempting to load C:\Users\dev\Documents\repositories\notebooks\age-of-empires-ii\saves\pickle\unit_availability_df.pickle.
No pickle exists - attempting to load C:\Users\dev\Documents\repositories\notebooks\age-of-empires-ii\saves\csv\unit_availability_df.csv.

In [238]:

attack_list = [cn for cn in unit_availability_df.columns.tolist() if 'pierce' in cn.lower()]
match_series = (unit_availability_df['Incas'] == 1)
match_series = match_series & (unit_availability_df.index == 'Villager')
unit_availability_df[match_series][attack_list].T

Unit Name                               Villager
Pierce armor                                   0
Attack_pierce_upon_reaching_Feudal_Age         0
Attack_pierce                                  0

In [239]:

attack_list = [cn for cn in unit_availability_df.columns.tolist() if 'melee' in cn.lower()]
match_series = (unit_availability_df['Incas'] == 1)
match_series = match_series & (unit_availability_df.index == 'Villager')
unit_availability_df[match_series][attack_list].T

Unit Name                              Villager
Attack_melee_upon_reaching_Feudal_Age         3

In [236]:

[cn for cn in unit_availability_df.columns.tolist() if 'armor' in cn.lower()]

['Pierce armor', 'In_Archer_Armor_class', 'In_Camel_Armor_class', 'In_Condottiero_Armor_class', 'In_Eagle_Warrior_Armor_class', 'In_Monk_Armor_class', 'In_Spearman_Armor_class', 'In_Turtle_Ship_Armor_class', 'In_Cavalry_archer_Armor_class', 'In_Cavalry_Armor_class', 'In_Unique_unit_Armor_class', 'In_War_elephant_Armor_class', 'In_Siege_weapon_Armor_class', 'In_Ram_Armor_class', 'In_Ship_Armor_class', 'In_Gunpowder_unit_Armor_class', 'In_Infantry_Armor_class']

In [232]:

# Incas: Villagers benefit from Blacksmith infantry upgrades.
match_series = (unit_availability_df['Incas'] == 1)
match_series = match_series & (unit_availability_df['Researched_in_Blacksmith'] == 1)
match_series = match_series & (unit_availability_df['Technology_Type'] == 'Infantry')
columns_list = ['Effect', 'Previous', 'Intro', 'Required', 'Next']
unit_availability_df[match_series][columns_list]

,Effect,Previous,Intro,Required,Next
Technology Name,,,,,
Blast Furnace,Infantry/cavalry attack +2,NaN,The Age of Kings,Iron Casting,NaN
Chain Mail Armor,Infantry armor +1/+1,NaN,The Age of Kings,Scale Mail Armor,Plate Mail Armor
Forging,Infantry/cavalry attack +1,NaN,The Age of Kings,NaN,Iron Casting
Iron Casting,Infantry/cavalry attack +1,NaN,The Age of Kings,Forging,Blast Furnace
Plate Mail Armor,Infantry armor +1/+2,NaN,The Age of Kings,Chain Mail Armor,NaN
Scale Mail Armor,Infantry armor +1/+1,NaN,The Age of Kings,NaN,Chain Mail Armor


## Khmer: Villagers can garrison in Houses.


## Aztecs: Villagers carry +5 extra resources.


## Koreans: Villagers have +3 Line of Sight.


## Goths: Villagers have +5 attack against Wild Boars and carry +15 food from hunting.


## Magyars: Villagers kill wild animals in one strike.


## Berbers: Villagers move +10% faster.


## Vikings: Warships are 15%/15%/20% cheaper in the Feudal/Castle/Imperial Age.


## Vikings: Wheelbarrow and Hand Cart are free.