In [1]:

%run ../../load_magic/storage.py
%run ../../load_magic/dataframes.py
%run ../../load_magic/lists.py
from bs4 import BeautifulSoup as bs
import networkx as nx
import re
import urllib.request
%pprint
%who

DATA_FOLDER: ../data/
SAVES_FOLDER: ../saves/
Pretty printing has been turned OFF
DATA_CSV_FOLDER	 DATA_FOLDER	 ENCODING_TYPE	 SAVES_CSV_FOLDER	 SAVES_FOLDER	 SAVES_PICKLE_FOLDER	 SequenceMatcher	 attempt_to_pickle	 bs
check_4_doubles	 check_for_typos	 csv	 encoding	 example_iterrows	 get_column_descriptions	 get_max_rsquared_adj	 get_page_tables	 load_csv
load_dataframes	 load_object	 math	 nx	 os	 pd	 pickle	 re	 save_dataframes
similar	 sm	 store_objects	 sys	 time	 urllib

In [2]:

tables_url = 'http://www.timepage.org/spl/presidents.html'
df_list = get_page_tables(tables_url)

[(1, (13, 5)), (2, (4, 3)), (0, (1, 3)), (3, (1, 3)), (4, (1, 3))]

In [3]:

df_list[1]

,0,1,2,3,4
0,Eras,Idealists,Reactives,Civics,Adaptives
1,Era of Good Feeling (1788-1821),NaN,"1788,1792 - George Washington 1796 - John Adams","1800,1804 - Thomas Jefferson 1808,1812 - Jame...",NaN
2,Transcendental Awakening (1822-1837),NaN,NaN,NaN,"1824 - John Q. Adams 1828,1832 - Andrew Jacks..."
3,Era of Slavery Expansion (1838-1859),1844 - James Polk 1850 - Millard Fillmore 18...,NaN,NaN,1840 - William Harrison 1841 - John Tyler 18...
4,Civil War Era (1860-1865),"1860,1864 - Abraham Lincoln 1865 - Andrew Joh...",NaN,NaN,NaN
5,Gilded Age (1866-1885),NaN,"1868,1872 - Ulysses Grant 1876 - Rutherford H...",NaN,NaN
6,Missionary Awakening (1886-1909),NaN,1888 - Benjamin Harrison 1892 - Grover Cleveland,NaN,"1896,1900 - William McKinley 1901,1904 - Theo..."
7,WWI/Prohibition Era (1910-1929),"1920 - Warren Harding 1923,1924 - Calvin Cool...",NaN,NaN,"1912,1916 - Woodrow Wilson"
8,Depression/WWII Era (1930-1944),"1932,1936,1940,1944 - Franklin Roosevelt",NaN,NaN,NaN
9,Era of Super Power America (1945-1965),NaN,"1945,1948 - Harry Truman 1952,1956 - Dwight E...","1960 - John Kennedy 1963,1964 - Lyndon Johnson",NaN
10,Boom Awakening (1966-1981),NaN,NaN,"1968,1972 - Richard Nixon 1974 - Gerald Ford ...",NaN
11,Information Age (1981-2001),"1992,1996 - William J. Clinton 2000 - George ...",NaN,1984 - Ronald Reagan 1988 - George H. W. Bush,NaN
12,Power Down Era? (2002-Now),2004 - George W. Bush,2008 - Barack H. Obama,NaN,NaN

In [4]:

tables_url = 'https://houseofcards.fandom.com/wiki/List_of_Presidents_of_the_United_States_by_date_of_birth'
df_list = get_page_tables(tables_url)

[(1, (19, 10)), (2, (18, 4)), (5, (18, 2)), (3, (13, 6)), (0, (2, 1)), (4, (1, 1))]

In [8]:

df_list[3]

,Generation,OB,Name,OO,Deaths,Century
0,Liberty Generation (1724–1741),1 2,George Washington John Adams,1 2,None,18th century
1,Republican Generation (1742–1766),3,Thomas Jefferson,3,None,18th century
2,Transcendental Generation (1792–1821),16,Abraham Lincoln,16,George Washington (1799),18th century/19th century
3,Compromise Generation (1767–1791),6 7,Andrew Jackson John Quincy Adams,7 6,None,18th century
4,Civil War Generation (1822–1842),NaN,NaN,NaN,John Adams (1826) Thomas Jefferson (1826),19th century
5,Progressive Generation (1843–1859),27 25,Theodore Roosevelt Woodrow Wilson,26 28,Andrew Jackson (1845) John Quincy Adams (1848),19th century
6,Missionary Generation (1860–1882),31,Franklin D. Roosevelt,32,Abraham Lincoln (1865),19th century
7,World War I Generation (1883–1900),32,Harry Truman,33,NaN,19th century
8,World War II Generation (1910–1926),38 34 40 35 39,John F. Kennedy Lyndon Johnson Jimmy Carter Ro...,35 36 39 40 41,Theodore Roosevelt (1919) Woodrow Wilson (1924),20th century
9,Silent Generation (1927–1945),NaN,NaN,NaN,Franklin D. Roosevelt (1945),20th century
10,Baby Boom Generation (1946–1964),41 42 46 45,George W. Bush Bill Clinton Garrett Walker Fra...,43 42 45 46,John F. Kennedy (1963),20th century
11,Generation X (1965–1980),NaN,NaN,NaN,Lyndon B. Johnson (1973) Harry S Truman (1972),20th century
12,Generation AO (2000-2020),NaN,NaN,NaN,Ronald W. Reagan (2004),21st Century

In [12]:

tables_url = 'https://en.wikipedia.org/wiki/List_of_presidents_of_the_United_States_by_home_state'
df_list = get_page_tables(tables_url)

[(0, (46, 5)), (1, (30, 3)), (2, (18, 3)), (3, (12, 2))]

In [44]:

from datetime import datetime
from datetime import date

birth_regex = re.compile('([^/†]+/)?([^/†]+)†?')
def f(row_series):
    state_of_birth = row_series['state_of_birth']
    match_obj = birth_regex.search(state_of_birth)
    if match_obj:
        state_of_birth = match_obj.group(2)
    
    return state_of_birth

date_or = '|'.join([date(1900, x+1, 1).strftime('%B') for x in range(12)])
regex_str = r'\((\d+)\w+\) +({}) +(\d+), +(\d+) +– +(({}) +(\d+), +(\d+)|Incumbent)'.format(date_or, date_or)
states_regex = re.compile(regex_str)
def g(row_series):
    in_office = row_series['in_office']
    office_rank = pd.np.nan
    reign_begin = pd.np.nan
    reign_end = pd.np.nan
    match_obj = states_regex.search(in_office)
    if match_obj:
        office_rank = match_obj.group(1)
        in_month = match_obj.group(2)
        in_day = match_obj.group(3)
        in_year = match_obj.group(4)
        reign_begin = datetime.strptime('{} {}, {}'.format(in_month, in_day, in_year), '%B %d, %Y')
        incumbent_str = match_obj.group(5)
        if incumbent_str != 'Incumbent':
            out_month = match_obj.group(6)
            out_day = match_obj.group(7)
            out_year = match_obj.group(8)
            reign_end = datetime.strptime('{} {}, {}'.format(out_month, out_day, out_year), '%B %d, %Y')
    row_series['office_rank'] = office_rank
    row_series['reign_begin'] = reign_begin
    row_series['reign_end'] = reign_end
    
    return row_series

#[fn for fn in dir(pd) if 'x' in fn.lower()]
us_presidents_df = df_list[0].copy().drop(45)
us_presidents_df['Date of birth'] = us_presidents_df['Date of birth'].map(lambda x: datetime.strptime(x, '%B %d, %Y'))
us_presidents_df.columns = ['date_of_birth', 'President', 'birthplace', 'state_of_birth', 'in_office']
us_presidents_df = us_presidents_df.set_index('President')
us_presidents_df['state_of_birth'] = us_presidents_df.apply(f, axis=1)
us_presidents_df['office_rank'] = pd.np.nan
us_presidents_df['reign_begin'] = pd.np.nan
us_presidents_df['reign_end'] = pd.np.nan
us_presidents_df = us_presidents_df.apply(g, axis=1)
columns_list = ['date_of_birth', 'birthplace', 'state_of_birth', 'office_rank', 'reign_begin', 'reign_end']
us_presidents_df = us_presidents_df[columns_list]
store_objects(us_presidents_df=us_presidents_df)
us_presidents_df.sample(5)

Pickling to C:\Users\dev\Documents\repositories\notebooks\Strauss–Howe\saves\pickle\us_presidents_df.pickle

,date_of_birth,birthplace,state_of_birth,office_rank,reign_begin,reign_end
President,,,,,,
William H. Taft,1857-09-15,Cincinnati,Ohio,27,1909-03-04,1913-03-04
William McKinley,1843-01-29,Niles,Ohio,25,1897-03-04,1901-09-14
Warren G. Harding,1865-11-02,Blooming Grove,Ohio,29,1921-03-04,1923-08-02
Rutherford B. Hayes,1822-10-04,Delaware,Ohio,19,1877-03-04,1881-03-04
Franklin Pierce,1804-11-23,Hillsborough,New Hampshire,14,1853-03-04,1857-03-04

In [51]:

def g(row_series):
    year_of_birth = row_series['date_of_birth'].year
    mask_series = (generations_df['birth_year_begin'] <= year_of_birth) & (generations_df['birth_year_end'] >= year_of_birth)
    generation_name_list = generations_df[mask_series].index.tolist()
    if len(generation_name_list):
        generation_name = generation_name_list[0]
    else:
        generation_name = pd.np.nan
    
    return generation_name

us_presidents_df['generation_name'] = us_presidents_df.apply(g, axis=1)
store_objects(us_presidents_df=us_presidents_df)
us_presidents_df.sample(5)

Pickling to C:\Users\dev\Documents\repositories\notebooks\Strauss–Howe\saves\pickle\us_presidents_df.pickle

,date_of_birth,birthplace,state_of_birth,office_rank,reign_begin,reign_end,generation_name
President,,,,,,,
Herbert Hoover,1874-08-10,West Branch,Iowa,31,1929-03-04,1933-03-04,Missionary
James K. Polk,1795-11-02,Pineville,North Carolina,11,1845-03-04,1849-03-04,Transcendental
Theodore Roosevelt,1858-10-27,New York City,New York,26,1901-09-14,1909-03-04,Progressive
Abraham Lincoln,1809-02-12,Sinking Spring,Kentucky,16,1861-03-04,1865-04-15,Transcendental
William Henry Harrison,1773-02-09,Charles City County,Virginia,9,1841-03-04,1841-04-04,Compromise

In [42]:

generations_df = load_object('generations_df')
generations_df.sample(5).T

generation_name,Republican,Parliamentary,G.I.,Transcendental,Reprisal
childhood_turning_entered,3,4,3,1,2
saeculum_name,Revolutionary,Reformation,Great Power,Civil War,Reformation
turnings_archetype,Hero,Artist,Hero,Prophet,Nomad
generations_archetype,Civic,Adaptive,Civic,Idealist,Reactive
birth_year_begin,1742,1566,1901,1792,1512
birth_year_end,1766,1587,1924,1821,1540
childhood_turning_description,"French and Indian War, British Imperialism",Armada Crisis,"World War I, Prohibition, Roaring Twenties",Era of Good Feelings,Protestant Reformation
turning_year_begin,1746,1569,1908,1794,1517
turning_year_end,1773,1594,1929,1822,1542

In [41]:

patriline_df = load_object('patriline_df')
patriline_df.sample(5).T

patriarch_name,"Joseph Robert Babbitt, Sr.","Elkanah Babbitt, IV",Stephen Elkanah Babbitt,"David William Babbitt, Jr.",William David Babbitt
year_of_birth,1891,1737,1990,1858,1791
year_of_death,1968,1807,NaN,1929,1861
generation_name,Lost,Liberty,Millennial,Progressive,Compromise
date_of_birth,"May 04, 1891","December 05, 1737",5-Nov-90,"May 14, 1858","October 26, 1791"
place_of_birth,"Flagstaff, Coconino, AZ, United States","New Milford, New Haven County, Connecticut","Beverly, MA, United States","Cincinnati, Hamilton, OH, United States","Berkshire, Berkshire, MA, United States"
birth_longitude,35.1813,41.2227,42.5437,39.1365,42.3931
birth_latitude,-111.643,-73.0858,-70.8628,-84.6104,-73.5086
date_of_death,"March 19, 1968 (76)","February 09, 1807 (69)",Not yet,"November 08, 1929 (71)","May 28, 1861 (69)"
place_of_death,"Flagstaff, Coconino, AZ, U","Fly Creek, Otsego County, New York, United States",Not anywhere,"Flagstaff, Coconino, AZ, United States","Berkshire, Berkshire, MA, United States"
death_longitude,35.1813,42.7184,NaN,35.1813,42.3931
death_latitude,-111.643,-74.992,NaN,-111.643,-73.5086
saeculum_name,Great Power,Revolutionary,Millennial,Civil War,Revolutionary
xkcd_color,xkcd:dandelion,xkcd:light royal blue,xkcd:cyan,xkcd:bright magenta,xkcd:primary blue
css4_color,gold,royalblue,aqua,fuchsia,blue
xkcd_text_color,black,white,black,black,white
css4_text_color,black,black,black,black,white

In [43]:

turnings_df = load_object('turnings_df')
turnings_df.sample(5).T

turning_name,The Armada Crisis,World War I & Prohibition,Merrie England,The Mexican War & Sectionalism,The Civil War
turning_number,4,3,1,3,4
turning_begin_year,1569,1908,1594,1844,1860
turning_end_year,1594,1929,1621,1860,1865
saeculum_name,Tudor,Great Power,New World,Civil War,Civil War
entering_elderhood,Reformation,Progressives,Reprisal,Compromisers,Transcendentals
entering_midlife,Reprisal,Missionaries,Elizabethans,Transcendentals,Gilded
entering_young_adulthood,Elizabethans,Lost,Parliamentarians,Gilded,Progressives
entering_childhood,Parliamentarians,G.I.s,Puritans,Progressives,Missionaries
turning_notes,"The Armada Crisis (Fourth Turning, 1569–1594) ...","World War I & Prohibition (Third Turning, 1908...","Merrie England (First Turning, 1594–1621) was ...","The Mexican War & Sectionalism (Third Turning,...","The Civil War (Fourth Turning, 1860–1865) bega..."

In [67]:

from datetime import timedelta

def g(row_series):
    reign_begin = row_series['reign_begin']
    reign_end = row_series['reign_end']
    if str(reign_end) == 'NaT':
        reign_end = datetime.now()
    days_delta = int((reign_end - reign_begin).days / 2)
    year_mid = (reign_begin + timedelta(days=days_delta)).year
    mask_series = (turnings_df['turning_begin_year'] <= year_mid) & (turnings_df['turning_end_year'] >= year_mid)
    turning_name_list = turnings_df[mask_series].index.tolist()
    turning_number_list = turnings_df[mask_series]['turning_number'].tolist()
    if len(turning_name_list):
        turning_name = turning_name_list[0]
        turning_number = turning_number_list[0]
    else:
        turning_name = pd.np.nan
        turning_number = pd.np.nan
    row_series['turning_name'] = turning_name
    row_series['turning_number'] = turning_number
    
    return row_series

us_presidents_df = us_presidents_df.apply(g, axis=1)
store_objects(us_presidents_df=us_presidents_df)
us_presidents_df.sample(5)

Pickling to C:\Users\dev\Documents\repositories\notebooks\Strauss–Howe\saves\pickle\us_presidents_df.pickle

,date_of_birth,birthplace,state_of_birth,office_rank,reign_begin,reign_end,generation_name,turning_name,turning_number
President,,,,,,,,,
Grover Cleveland,1837-03-18,Caldwell,New Jersey,22,1885-03-04,1889-03-04,Gilded,The Third Great Awakening,2
James Monroe,1758-04-28,Monroe Hall,Virginia,5,1817-03-04,1825-03-04,Republican,The Era of Good Feelings,1
George Washington,1732-02-22,Westmoreland County,Virginia,1,1789-04-30,1797-03-04,Liberty,American Revolution,4
Woodrow Wilson,1856-12-28,Staunton,Virginia,28,1913-03-04,1921-03-04,Progressive,World War I & Prohibition,3
Millard Fillmore,1800-01-07,Summerhill,New York,13,1850-07-09,1853-03-04,Transcendental,The Mexican War & Sectionalism,3

In [70]:

def conjunctify_list(noun_list):
    if len(noun_list) > 2:
        list_str = ', and '.join([', '.join(noun_list[:-1])] + [noun_list[-1]])
    elif len(noun_list) == 2:
        list_str = ' and '.join(noun_list)
    elif len(noun_list) == 1:
        list_str = noun_list[0]
    else:
        list_str = ''
    
    return list_str

In [72]:

mask_series = (us_presidents_df['turning_number'] == 4)
print(conjunctify_list(us_presidents_df[mask_series].index))
us_presidents_df[mask_series]

George Washington, Abraham Lincoln, Herbert Hoover, Franklin D. Roosevelt, Donald Trump, and Barack H. Obama

,date_of_birth,birthplace,state_of_birth,office_rank,reign_begin,reign_end,generation_name,turning_name,turning_number
President,,,,,,,,,
George Washington,1732-02-22,Westmoreland County,Virginia,1,1789-04-30,1797-03-04,Liberty,American Revolution,4
Abraham Lincoln,1809-02-12,Sinking Spring,Kentucky,16,1861-03-04,1865-04-15,Transcendental,The Civil War,4
Herbert Hoover,1874-08-10,West Branch,Iowa,31,1929-03-04,1933-03-04,Missionary,The Great Depression & World War II,4
Franklin D. Roosevelt,1882-01-30,Hyde Park,New York,32,1933-03-04,1945-04-12,Missionary,The Great Depression & World War II,4
Donald Trump,1946-06-14,Queens,New York,45,2017-01-20,NaT,Baby Boom,The Global Financial Crisis,4
Barack H. Obama,1961-08-04,Honolulu,Hawaii,44,2009-01-20,2017-01-20,13th,The Global Financial Crisis,4

In [73]:

mask_series = (turnings_df['turning_number'] == 4)
turnings_df[mask_series]['turning_number']

turning_name
The War of the Roses                   4
The Armada Crisis                      4
The colonial Glorious Revolution       4
American Revolution                    4
The Civil War                          4
The Great Depression & World War II    4
The Global Financial Crisis            4
Name: turning_number, dtype: int64